﻿@model ProductDetailsModel.AddToCartModel

@{
var addToWishlistText = "";
    if (!String.IsNullOrEmpty(Model.UpdatedShoppingCartItemId) && Model.UpdateShoppingCartItemType.HasValue && Model.UpdateShoppingCartItemType.Value == ShoppingCartType.Wishlist)
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist.Update").Text;
    }
    else
    {
        addToWishlistText = T("ShoppingCart.AddToWishlist").Text;
    }
}
    
    
    <div class="col-6 col-md-4 d-flex align-items-center todo-list">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="black" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 20.7761C10.6868 20.7761 10.3848 20.6626 10.1495 20.4565C9.26076 19.6794 8.4039 18.9491 7.64792 18.3049L7.64406 18.3015C5.42765 16.4127 3.5137 14.7816 2.182 13.1748C0.693373 11.3785 0 9.67535 0 7.81477C0 6.00706 0.619857 4.33934 1.74527 3.11859C2.8841 1.88341 4.44675 1.20312 6.14586 1.20312C7.41579 1.20312 8.5788 1.60461 9.60249 2.39635C10.1191 2.79599 10.5874 3.2851 11 3.85561C11.4127 3.2851 11.8808 2.79599 12.3976 2.39635C13.4213 1.60461 14.5843 1.20312 15.8543 1.20312C17.5532 1.20312 19.116 1.88341 20.2549 3.11859C21.3803 4.33934 22 6.00706 22 7.81477C22 9.67535 21.3068 11.3785 19.8181 13.1746C18.4864 14.7816 16.5726 16.4126 14.3566 18.3012C13.5992 18.9464 12.741 19.6778 11.8503 20.4568C11.6151 20.6626 11.313 20.7761 11 20.7761V20.7761ZM6.14586 2.49185C4.81098 2.49185 3.58469 3.0246 2.69259 3.99207C1.78723 4.97414 1.28856 6.33168 1.28856 7.81477C1.28856 9.37961 1.87014 10.7791 3.17414 12.3525C4.4345 13.8734 6.30918 15.4709 8.47977 17.3208L8.48379 17.3241C9.24263 17.9708 10.1028 18.704 10.9981 19.4868C11.8988 18.7025 12.7604 17.9682 13.5207 17.3204C15.6911 15.4706 17.5656 13.8734 18.826 12.3525C20.1298 10.7791 20.7114 9.37961 20.7114 7.81477C20.7114 6.33168 20.2127 4.97414 19.3074 3.99207C18.4154 3.0246 17.189 2.49185 15.8543 2.49185C14.8764 2.49185 13.9786 2.8027 13.1858 3.41568C12.4794 3.96219 11.9873 4.65305 11.6987 5.13644C11.5503 5.38503 11.2892 5.5334 11 5.5334C10.7108 5.5334 10.4496 5.38503 10.3012 5.13644C10.0129 4.65305 9.52075 3.96219 8.81412 3.41568C8.02138 2.8027 7.12357 2.49185 6.14586 2.49185V2.49185Z"/>
        </svg>
        <a  id="add-to-wishlist-button-@Model.ProductId"  data-productid="@Model.ProductId" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.ProductId, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })', '#product-details-form');return false;" data-toggle="tooltip" data-placement="bottom" title="@addToWishlistText">Добавить в избранное</a>
    </div>
    
