﻿@model ProductDetailsModel
@if (!String.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    @if (!String.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            @if (!Model.DisplayBackInStockSubscription)
            {
                <svg width="20" height="20" viewBox="0 0 26 26" fill="#93dd92" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                        <path d="M25.6188 3.83379C25.1111 3.32608 24.288 3.32608 23.7803 3.83379L8.20547 19.4088L2.21877 13.422C1.71111 12.9143 0.888045 12.9144 0.380283 13.422C-0.127427 13.9297 -0.127427 14.7528 0.380283 15.2605L7.28623 22.1663C7.79374 22.674 8.61741 22.6736 9.12471 22.1663L25.6188 5.67227C26.1265 5.16461 26.1264 4.3415 25.6188 3.83379Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="26" height="26"/>
                        </clipPath>
                    </defs>
                </svg>
            }
            @if (Model.StockAvailability.ToLower().Replace(" ", "") == "нетвналичии")
            {
                <span style="color:#f55b5b" class="tap-dop">@Model.StockAvailability</span>
            }
            else
            {
                <span class="tap-dop">@Model.StockAvailability</span>
            }
            
        }
        <partial name="_BackInStockSubscription" model="Model" />
}