﻿@model IList<ManufacturerModel>
@if (Model.Any())
{
    <div class="row tail-product">
        <div class="col-12">
            <span>
                @if (Model.Count == 1)
                        {
                            @T("Products.Manufacturer") 
                        }
                        else
                        {
                            @T("Products.Manufacturers")
                        }
                :
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <a href="@Url.RouteUrl("Manufacturer", new { SeName = item.SeName })">
                        <span class="acent">
                            @item.Name
                            @if (i != Model.Count - 1)
                            {
                                <span>,</span>
                            }          
                        </span>
                    </a>
                }
            </span>
        </div>
    </div>
}