﻿@model ProductDetailsModel.ProductBreadcrumbModel
@if (Model.Enabled)
{
    var count = 0;
    <div class="container bread">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link" itemscope itemtype="http://schema.org/ListItem"><a href="@Url.RouteUrl("HomePage")" itemprop="url">@T("Products.Breadcrumb.Top")</a></li>
                @foreach (var category in Model.CategoryBreadcrumb)
                {
                    count++;
                    <li class="breadcrumb-item breadcrumb-link" itemscope itemtype="http://schema.org/ListItem">
                        <a href="@Url.RouteUrl("Category", new {SeName = category.SeName})" itemprop="item">@category.Name</a>
                    </li>
                }
                <li class="breadcrumb-item breadcrumb-link"><a itemprop="item">@Model.ProductName</a></li>
            </ol>
        </nav>
    </div>
    
}