﻿@model ProductDetailsModel.ProductPriceModel
@inject IWorkContext workContext

    @if (Model.CustomerEntersPrice)
    {
        @*display nothing*@
    }
    else if (Model.CallForPrice)
    {
        @*call for price*@
        <div class="col-4 d-flex">
            <span>@T("Products.CallForPrice")</span>
        </div>
    }
    else
    {
        if (Model.IsReservation)
        {
            <div class="col-4 d-flex">
                <span>@T("Products.Price.ReservationPrice"): <b>@Model.ReservationPrice</b></span>
            </div>
        }
        if (Model.IsAuction)
        {
            <div class="col-4 d-flex">
                @if (Model.HighestBidValue > 0)
                {
                    <span>@T("Products.Price.CurrentPrice"): <b>@Model.HighestBid</b></span>
                }
                else
                {
                    <span>@T("Products.Price.StartPrice"): <b>@Model.StartPrice</b></span>
                }
            </div>
        }
        if (!String.IsNullOrWhiteSpace(Model.CatalogPrice))
        {
            @*catalog price*@
            <div class="col-4 d-flex">
                <span>@T("Products.Price.CatalogPrice"): <b>@Model.CatalogPrice</b></span>
            </div>
        }
        if (!(Model.IsAuction && Model.DisableBuyButton))
        {
             <div class="col-4 d-flex">
                @*render price*@
                    @if (Model.IsAuction)
                    {
                        <span class="actual-price">@T("Products.BuyNowPrice"):</span>
                    }
                    else
                    {
                        <span class="actual-price">Цена: </span>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
                    {
                        <span class="actual-price price-val pl-1 pr-1">@Html.Raw(Model.PriceValue)</span><span class="">руб</span>
                    }
                    else
                    {
                        <span class="actual-price price-val pl-1 pr-1">@Html.Raw(Model.PriceValue)</span><span class="">руб</span>
                    }
              
                @if (!String.IsNullOrWhiteSpace(Model.OldPrice))
                {
                    <span class="old-price">@Model.OldPrice</span>
                }
             </div>
        }
        else
        {
            @if (!String.IsNullOrWhiteSpace(Model.OldPrice))
            {
                @*old price*@
                <div class="col-4 d-flex">
                    <span >@Model.OldPrice</span>
                </div>
            }
        }

        if (!String.IsNullOrWhiteSpace(Model.PriceWithDiscount))
        {
            @*discounted price*@
            <div class="d-inline-flex align-items-center product-price discounted-price col-12">
                <label class="mb-0 mr-2">@T("Products.Price.WithDiscount"):</label>
                <span class="your-price price-value-@(Model.ProductId)">
                    <strong>@Html.Raw(Model.PriceWithDiscount)</strong>
                </span>
                 <meta itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)" class="your-price price-value-@(Model.ProductId)" />
            </div>
        }
        if (!String.IsNullOrEmpty(Model.BasePricePAngV))
        {
            <div class="base-price-pangv ml-2">
                @Model.BasePricePAngV
            </div>
        }
        if (Model.DisplayTaxShippingInfo)
        {
            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
            //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
            //of course, you can modify appropriate locales to include VAT info there
            <div class="tax-shipping-info generalMarginSupporter">
                @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeName("shippinginfo", Context) }))
            </div>
        }
        if (!String.IsNullOrEmpty(Model.CurrencyCode))
        {
            <meta itemprop="priceCurrency" content="@Model.CurrencyCode" />
        }
        @if (String.IsNullOrWhiteSpace(Model.PriceWithDiscount)) {
            <meta itemprop="price" content="@Model.PriceValue.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture)"/> 
        }
    }

