﻿@model ProductDetailsModel

<div class="col-lg-1 col-12 small-product-slide">
    <section class="vertical-center-4 slider">
        <div class="slide-for">
            <img alt="@Model.DefaultPictureModel.AlternateText"
                 src="@Model.DefaultPictureModel.ImageUrl"
                 data-fullsize="@Model.DefaultPictureModel.FullSizeImageUrl"
                 title="@Model.DefaultPictureModel.Title"
                 itemprop="image"
                 id="main-product-img-@Model.Id">
        </div>
        @foreach (var picture in Model.PictureModels)
        {
            <div class="slide-for">
                <img alt="@Model.DefaultPictureModel.AlternateText"
                     data-size="@picture.ImageUrl"
                     data-fullsize="@picture.FullSizeImageUrl"
                     src="@picture.ThumbImageUrl"
                     alt="@picture.AlternateText"
                     title="@picture.Title">
            </div>
        }
    </section>
</div>
<div class="col-lg-4 col-12 product-main">
    <section class="slider-nav slider">
        <div>
            <img alt="@Model.DefaultPictureModel.AlternateText"
                 src="@Model.DefaultPictureModel.ImageUrl"
                 data-fullsize="@Model.DefaultPictureModel.FullSizeImageUrl"
                 title="@Model.DefaultPictureModel.Title"
                 itemprop="image"
                 id="main-product-img-@Model.Id">
        </div>
        
        @foreach (var picture in Model.PictureModels)
                {
                    <div>
                        <img data-size="@picture.ImageUrl"
                             data-fullsize="@picture.FullSizeImageUrl"
                             src="@picture.FullSizeImageUrl"
                             alt="@picture.AlternateText"
                             title="@picture.Title">
                    </div>
                }
    </section>
</div>


<script asp-location="Footer">
    $(document).on('ready', function() {
        $(".vertical-center-4").slick({
            infinite: true,
            slidesToShow: 4,
            vertical: true,
            focusOnSelect: true,
            asNavFor: '.slider-nav',
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 991,
                    settings: {
                        vertical: false,
                    }
                },
            ]
        });
        
        $('.slider-nav').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            asNavFor: '.vertical-center-4',
            fade: true,
            arrows: false
        });
    });
  
</script>
