﻿@model ProductDetailsModel
@if (Model.AskQuestionEnabled)
{
    <div class="d-flex align-items-center todo-list">
        <svg width="20" height="20" viewBox="0 0 40 40" fill="#B4B4B4" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.4844 3.67188H3.51562C1.57715 3.67188 0 5.24902 0 7.1875V25.9375C0 27.876 1.57715 29.4531 3.51562 29.4531H7.10938V35.3125C7.10938 36.2814 8.21747 36.8253 8.98438 36.25L18.0469 29.4531H36.4844C38.4229 29.4531 40 27.876 40 25.9375V7.1875C40 5.24902 38.4229 3.67188 36.4844 3.67188ZM37.6562 25.9375C37.6562 26.5836 37.1304 27.1094 36.4844 27.1094H17.6562C17.4026 27.1094 17.1561 27.1918 16.9531 27.3438L9.45312 32.9688V28.2812C9.45312 27.634 8.92853 27.1094 8.28125 27.1094H3.51562C2.86957 27.1094 2.34375 26.5836 2.34375 25.9375V7.1875C2.34375 6.54144 2.86957 6.01562 3.51562 6.01562H36.4844C37.1304 6.01562 37.6562 6.54144 37.6562 7.1875V25.9375Z" ></path>
            <path d="M31.7188 10.7031H8.28125C7.63397 10.7031 7.10938 11.2277 7.10938 11.875C7.10938 12.5223 7.63397 13.0469 8.28125 13.0469H31.7188C32.366 13.0469 32.8906 12.5223 32.8906 11.875C32.8906 11.2277 32.366 10.7031 31.7188 10.7031Z" ></path>
            <path d="M23.5156 16.5625C23.5156 15.9152 22.991 15.3906 22.3438 15.3906H8.28125C7.63397 15.3906 7.10938 15.9152 7.10938 16.5625C7.10938 17.2098 7.63397 17.7344 8.28125 17.7344H22.3438C22.991 17.7344 23.5156 17.2098 23.5156 16.5625Z" ></path>
            <path d="M31.7188 15.3906H27.0312C26.384 15.3906 25.8594 15.9152 25.8594 16.5625C25.8594 17.2098 26.384 17.7344 27.0312 17.7344H31.7188C32.366 17.7344 32.8906 17.2098 32.8906 16.5625C32.8906 15.9152 32.366 15.3906 31.7188 15.3906Z" ></path>
            <path d="M15.3125 20.0781H8.28125C7.63397 20.0781 7.10938 20.6027 7.10938 21.25C7.10938 21.8973 7.63397 22.4219 8.28125 22.4219H15.3125C15.9598 22.4219 16.4844 21.8973 16.4844 21.25C16.4844 20.6027 15.9598 20.0781 15.3125 20.0781Z" ></path>
            <path d="M31.7188 20.0781H20C19.3527 20.0781 18.8281 20.6027 18.8281 21.25C18.8281 21.8973 19.3527 22.4219 20 22.4219H31.7188C32.366 22.4219 32.8906 21.8973 32.8906 21.25C32.8906 20.6027 32.366 20.0781 31.7188 20.0781Z" ></path>
        </svg>
        <a  type="button" value="@T("Products.AskQuestion")"  onclick="setLocation('@Url.RouteUrl("AskQuestion", new { productId = Model.Id })')" data-toggle="tooltip" data-placement="bottom" title="@T("Products.AskQuestion")">@T("Products.AskQuestion")</a>
    </div>
}