﻿@model ProductReviewOverviewModel
@using System.Globalization
@{
    int ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="col-12 d-flex align-items-center rating">
        <div class="d-flex justify-content-between star-rating">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"></path>
            </svg>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"></path>
            </svg>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"></path>
            </svg>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"></path>
            </svg>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"></path>
            </svg>
        </div>
        @if (Model.TotalReviews > 0)
                {
                    <div class="product-review-links order-3">
                        <a class="btn btn-sm py-0 pr-0 review-scroll-button" href="#review-tab">
                            @Model.TotalReviews
                            @T("Reviews.Overview.Reviews")
                        </a> 
                    </div>
                    @* microdata info*@
                    decimal ratingValue = ratingPercent / (decimal)20;
                    <div class="order-2 mr-2 review-count" itemprop="ratingValue">
                        <a class="btn btn-sm py-0 pr-0 review-scroll-button">
                            <strong>(@ratingValue.ToString("0.0", new CultureInfo("en-US")))</strong>
                        </a>
                    </div>
                    <span itemprop="reviewCount" style="display: none;">@Model.TotalReviews</span>
                }
                else
                {
                    <span>@T("Reviews.Overview.First")</span>
                }
    </div>
}