﻿@model ProductDetailsModel
@if (!String.IsNullOrWhiteSpace(Model.Sku) && Model.ShowSku)
    {
        <div class="row tail-product">
            <div class="col-12">
                <span itemprop="sku" id="sku-@Model.Id">@T("Products.Sku"): @Model.Sku</span>
            </div>
        </div>
    }
    @*Manufacturer part number*@
    @if (!String.IsNullOrWhiteSpace(Model.ManufacturerPartNumber) && Model.ShowManufacturerPartNumber)
    {
        <div class="row tail-product">
            <div class="col-12">
                <span itemprop="mpn" id="mpn-@Model.Id">@T("Products.ManufacturerPartNumber"): @Model.ManufacturerPartNumber</span>
            </div>
        </div>
    }
    @*GTIN*@
    @if (!String.IsNullOrWhiteSpace(Model.Gtin) && Model.ShowGtin)
    {
        <div class="row tail-product">
            <div class="col-12">
                <span itemprop="mpn" id="mpn-@Model.Id">@T("Products.GTIN"): @Model.Gtin</span>
            </div>
        </div>
    }
    @*Vendor*@
    @if (Model.ShowVendor)
    {
        <div class="row tail-product">
            <div class="col-12">
                <span>@T("Products.Vendor"): <a href="@Url.RouteUrl("Vendor", new { SeName = Model.VendorModel.SeName })">@Model.VendorModel.Name</a></span>
            </div>
        </div>
    }
