﻿@model IList<CategoryModel>
@inject DisplayOrderHomePage order
@{
    string cl = "rasprodazha-50";
}
@foreach (var itemCategory in Model)
        {
            
            <section id="top" class="bg-stale">
                <div class="container box-content">
                    <div class="slide-shop @if (itemCategory.SeName == cl) { @cl }">
                        <div class="d-flex title-meet justify-content-center align-items-center w-100">
                            <h2>@itemCategory.Name</h2>
                        </div>
                        <div class="carousel-inner">
                            <div class="">
                                <div class="row slide-content">
                                    @foreach (var item in itemCategory.FeaturedProducts)
                                    {
                                        <div>
                                            <partial name="_ProductBox" model="item"/>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="d-flex w-100 justify-content-center">
                                <a href="@Url.RouteUrl("Category", new { SeName = itemCategory.SeName })" type="button" class="btn btn-outline-danger teen btn-inform">
                                    Смотреть все
                                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#F55B5B" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M18 4H0V5H18L15 8L16 9L20 4.5L15.5 0L14.5 0.5L18 4Z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }








