﻿@model SearchBoxModel
@using System.Text.Encodings.Web
<li class="nav-item active">
    <a class="nav-link" href="/search" data-toggle="modal" data-target=".bd-example-modal-lg">
        <svg width="22" height="22" viewBox="0 0 25 25" fill="black" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0)">
                <path d="M24.8474 24.1109L17.2407 16.5042C18.8207 14.7499 19.7917 12.437 19.7917 9.8958C19.7917 4.43931 15.3524 0 9.89585 0C4.43931 0 0 4.43931 0 9.89585C0 15.3524 4.43931 19.7917 9.89585 19.7917C12.437 19.7917 14.7499 18.8207 16.5042 17.2407L24.1109 24.8474C24.2126 24.9491 24.3459 25 24.4792 25C24.6125 25 24.7457 24.9491 24.8475 24.8474C25.0509 24.6439 25.0509 24.3144 24.8474 24.1109ZM9.89585 18.75C5.01406 18.75 1.0417 14.7781 1.0417 9.89585C1.0417 5.01357 5.01406 1.04165 9.89585 1.04165C14.7776 1.04165 18.75 5.01353 18.75 9.89585C18.75 14.7782 14.7776 18.75 9.89585 18.75Z"/>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="25" height="25" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </a>
</li>



<script asp-location="Footer">
        $(document).ready(function () {
            @if (Model.AutoCompleteEnabled)
            {
                <text>
                SearchAction.autocomplete(@(Model.SearchTermMinimumLength.ToString()),
                    '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                    '@(Model.ShowProductImagesInSearchAutoComplete)'
                );
                </text>
            }
            @if (Model.SearchTermMinimumLength > 0)
            {
                <text>
                SearchAction.init('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Search.EnterSearchTerms").Text))');
                </text>
            }
        });
    </script>

