﻿@model ManufacturerNavigationModel

<div>
    <h3>@T("Manufacturers")</h3>
    <div class="main-category d-flex flex-column">
        @foreach (var manufacturer in Model.Manufacturers)
        {
            <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
        }
        @if (Model.TotalManufacturers > Model.Manufacturers.Count)
        {
            <a href="@Url.RouteUrl("ManufacturerList")" class="d-flex w-100 justify-content-center cat-button">
                <button type="button" class="btn btn-outline-danger teen btn-category">
                    @T("Manufacturers.ViewAll")
                </button>
            </a>
        }
    </div>
</div>
