﻿@model CatalogPagingFilteringModel



<div class="w-100 d-flex justify-content-between element-listen">
                    <div class="sort d-flex">
                    @if (Model.AllowProductSorting)
                    {
                        <div>
                            <span class="name-boote">@T("Catalog.OrderBy")</span>
                            <select name="products-orderby" id="products-orderby" onchange = "setLocation(this.value);">
                                @foreach (var option in Model.AvailableSortOptions)
                                {
                                    @if (option.Selected)
                                    {
                                        <option value="@option.Value" selected="">@option.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@option.Value">@option.Text</option>
                                    }
                                    
                                }
                            </select>
                        </div>
                    }
                        @if (Model.AllowCustomersToSelectPageSize)
                        {
                            <div>
                                <span class="band">@T("Catalog.PageSize") </span>
                                <select name="products-pagesize" id="products-pagesize" onchange = "setLocation(this.value);">
                                    @foreach (var option in Model.PageSizeOptions)
                                    {
                                        @if (option.Selected)
                                        {
                                            <option value="@option.Value" selected="">@option.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@option.Value">@option.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    
                    </div>
                    @if (Model.AllowProductViewModeChanging && Model.AvailableViewModes.Count > 1)
                    {
                        var gridMode = Model.AvailableViewModes[0];
                        var listMode = Model.AvailableViewModes[1];
                        
                        <div class="usage">
                            <a class="@if(gridMode.Selected){<text>selected</text>}" href="@gridMode.Value" title="@gridMode.Text">
                                <span>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="#aeaeae" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0H5.41016V5.41016H0V0Z"/>
                                        <path d="M14.5898 0H20V5.41016H14.5898V0Z"/>
                                        <path d="M7.29492 0H12.7051V5.41016H7.29492V0Z"/>
                                        <path d="M0 7.29492H5.41016V12.7051H0V7.29492Z"/>
                                        <path d="M14.5898 7.29492H20V12.7051H14.5898V7.29492Z"/>
                                        <path d="M7.29492 7.29492H12.7051V12.7051H7.29492V7.29492Z"/>
                                        <path d="M0 14.5898H5.41016V20H0V14.5898Z"/>
                                        <path d="M14.5898 14.5898H20V20H14.5898V14.5898Z"/>
                                        <path d="M7.29492 14.5898H12.7051V20H7.29492V14.5898Z"/>
                                    </svg>
                                </span>
                            </a>
                            <a class="@if (listMode.Selected){<text>selected</text>}" href="@listMode.Value" title="@listMode.Text">
                                <span>
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="#aeaeae" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M26.9063 12.9062H7.88934C7.28526 12.9062 6.79559 13.3959 6.79559 14C6.79559 14.6041 7.28526 15.0938 7.88934 15.0938H26.9063C27.5103 15.0938 28 14.6041 28 14C28 13.3959 27.5103 12.9062 26.9063 12.9062Z"/>
                                            <path d="M26.9063 4.70312H7.88934C7.28526 4.70312 6.79559 5.1928 6.79559 5.79688C6.79559 6.40095 7.28526 6.89062 7.88934 6.89062H26.9063C27.5103 6.89062 28 6.40095 28 5.79688C28 5.1928 27.5103 4.70312 26.9063 4.70312Z"/>
                                            <path d="M26.9063 21.1094H7.88934C7.28526 21.1094 6.79559 21.599 6.79559 22.2031C6.79559 22.8072 7.28526 23.2969 7.88934 23.2969H26.9063C27.5103 23.2969 28 22.8072 28 22.2031C28 21.599 27.5103 21.1094 26.9063 21.1094Z"/>
                                            <path d="M1.47656 7.27344C2.29205 7.27344 2.95312 6.61236 2.95312 5.79688C2.95312 4.98139 2.29205 4.32031 1.47656 4.32031C0.66108 4.32031 0 4.98139 0 5.79688C0 6.61236 0.66108 7.27344 1.47656 7.27344Z"/>
                                            <path d="M1.47656 15.4766C2.29205 15.4766 2.95312 14.8155 2.95312 14C2.95312 13.1845 2.29205 12.5234 1.47656 12.5234C0.66108 12.5234 0 13.1845 0 14C0 14.8155 0.66108 15.4766 1.47656 15.4766Z"/>
                                            <path d="M1.47656 23.6797C2.29205 23.6797 2.95312 23.0186 2.95312 22.2031C2.95312 21.3876 2.29205 20.7266 1.47656 20.7266C0.66108 20.7266 0 21.3876 0 22.2031C0 23.0186 0.66108 23.6797 1.47656 23.6797Z"/>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="28" height="28" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    }
    
                </div>

