﻿@model CatalogPagingFilteringModel.PriceRangeFilterModel
@{
    var selectedItem = Model.Items.FirstOrDefault(x => x.Selected);

}

@functions {
    public string FormatPriceRangeText(CatalogPagingFilteringModel.PriceRangeFilterItem filterItem)
    {
        string rangeText = "";
        if (String.IsNullOrWhiteSpace(filterItem.From))
        {
            rangeText = string.Format(T("Filtering.PriceRangeFilter.Under").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.To));
        }
        else if (String.IsNullOrWhiteSpace(filterItem.To))
        {
            rangeText = string.Format(T("Filtering.PriceRangeFilter.Over").Text, string.Format("<span class=\"PriceRange\">{0}</span>", filterItem.From));
        }
        else
        {
            rangeText = string.Format("<span class=\"PriceRange\">{0}</span> - <span class=\"PriceRange\">{1}</span>", filterItem.From, filterItem.To);
        }
        return rangeText;
    }
    
    
}

        
        <h3>@T("Filtering.PriceRangeFilter")</h3>
        <div class="d-flex align-items-center">
            <span class="bind-txt mr-2">от</span>
            <input id="pre-price" type="email" class="form-control" aria-describedby="emailHelp" placeholder="0">
            <span class="tire">-</span>
            <span class="bind-txt mr-2">до</span>
            <input id="post-price" type="email" class="form-control" aria-describedby="emailHelp" placeholder="15000">
        </div>
        <div class="price-cat">
            <div id="slider-range" class="slide-prices"></div>
        </div>
        

<script asp-location="Footer">
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
const price = urlParams.get('price');

if (price == null) {
    $( function() {
            $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 15000,
                values: [ 0, 15000 ],
                slide: function( event, ui ) {
                    $( "#pre-price" ).val(ui.values[ 0 ]);
                    $( "#post-price" ).val(ui.values[ 1 ]);
                },
                stop: function( event, ui ) {
                    location.href = "?price=" + ui.values[0] + "-" +  ui.values[1];
                }
            });
        });
} else {
    let from = price.split('-')[0];
    let to = price.split('-')[1];
    console.log(to);
    $( function() {
                $( "#slider-range" ).slider({
                    range: true,
                    min: 0,
                    max: 15000,
                    values: [ from, to ],
                    slide: function( event, ui ) {
                        $( "#pre-price" ).val(ui.values[ 0 ]);
                        $( "#post-price" ).val(ui.values[ 1 ]);
                    },
                    stop: function( event, ui ) {
                        location.href = "?price=" + ui.values[0] + "-" +  ui.values[1];
                    }
                });
                $( "#pre-price" ).val(from);
                $( "#post-price" ).val(to);
            });
}
</script>