﻿@model CategoryModel
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = seoSettings.CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }
    
}

@{
    //current category ID
    string currentCategoryId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.OrdinalIgnoreCase))
    {
        currentCategoryId = Url.ActionContext.RouteData.Values["categoryId"].ToString();
    }


    //current manufacturer ID
    string currentManufacturerId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.OrdinalIgnoreCase))
    {
        currentManufacturerId = Url.ActionContext.RouteData.Values["manufacturerId"].ToString();
    }


    //current product ID
    string currentProductId = "";
    if (Url.ActionContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.OrdinalIgnoreCase) &&
        Url.ActionContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.OrdinalIgnoreCase))
    {
        currentProductId = Url.ActionContext.RouteData.Values["productId"].ToString();
    }
}

@*category breadcrumb*@
@section Breadcrumb
    {
    
}





<main class="category">
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="container bread">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-link"><a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a></li>
                    @foreach (var cat in Model.CategoryBreadcrumb)
                    {
                        <li class="breadcrumb-item breadcrumb-link"><a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name" itemprop="item">@cat.Name</a></li>
                    }
                </ol>
            </nav>
            <div class="col-12 d-flex title-page justify-content-center">
                <h1>@Model.Name</h1>
            </div>
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-3 satebar">
                <partial name="_FilterPriceBox" model="Model.PagingFilteringContext.PriceRangeFilter" />
                <div class="category-price">
                    @await Component.InvokeAsync("CategoryNavigation", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
                    @await Component.InvokeAsync("ManufacturerNavigation", new { currentManufacturerId = currentManufacturerId })
                    @await Component.InvokeAsync("VendorNavigation")
                </div>
            </div>
            <div class="col-lg-9 col-sm-12 product-list d-flex flex-wrap justify-content-between">
                
                
                @if (Model.Products.Any())
                {
                    @await Component.InvokeAsync("Widget", new {widgetZone = "categorydetails_before_filters", additionalData = Model.Id})

                    <partial name="_CatalogSelectors" model="Model.PagingFilteringContext"/>

                    @await Component.InvokeAsync("Widget", new {widgetZone = "categorydetails_before_product_list", additionalData = Model.Id})

                    if (Model.PagingFilteringContext.ViewMode == "grid")
                    {
                        @foreach (var product in Model.Products)
                        {
                            <div class="col-lg-4 col-sm-6 col-6 mb-4">
                                <partial name="_ProductBox" model="product"/>
                            </div> 
                        }
                        @await Component.InvokeAsync("Widget", new {widgetZone = "categorydetails_bottom", additionalData = Model.Id})
                    }
                    else
                    {
                        <div class="col-lg-12 prod-list col-sm-12 product-list d-flex flex-wrap justify-content-between">

                                    @foreach (var product in Model.Products)
                                    {
                                        <partial name="_ProductBoxList" model="product"/>
                                    }
                                    
                                    @await Component.InvokeAsync("Widget", new {widgetZone = "categorydetails_bottom", additionalData = Model.Id})
                        </div>
                    }
                    <div class="page d-flex justify-content-center w-100 align-items-center">
                        @{
                            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                        }
                        @if (!pager.IsEmpty())
                        {
                            <nav aria-label="Page navigation">
                                @pager
                            </nav>
                        }
                        @await Component.InvokeAsync("Widget", new {widgetZone = "categorydetails_bottom", additionalData = Model.Id})
                    
                    </div>
                    
                }
            
            </div>
        </div>
    </div>
        <partial name="_InfoMainPage"/>
        <section class="seo-txt">
            <div class="container seo-content">
                <div class="col-12 d-flex align-items-center flex-column">
                    @Html.Raw(@Model.Description)
                    
                    @* <h2>Заголовок SEO-текста</h2> *@
                    @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et *@
                    @*     dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip *@
                    @*     ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu *@
                    @*     fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt *@
                    @*     mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium *@
                    @*     doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto *@
                    @*     beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut *@
                    @*     fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam *@
                    @*     est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi *@
                    @*     tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p> *@
                    @* <ul class="d-flex w-100 flex-column justify-content-start seo-list"> *@
                    @*     <li>Пункт маркированного списка</li> *@
                    @*     <li>Пункт маркированного списка</li> *@
                    @*     <li>Пункт маркированного списка</li> *@
                    @*     <li>Пункт маркированного списка</li> *@
                    @*     <li>Пункт маркированного списка</li> *@
                    @* </ul> *@
                    @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et *@
                    @*     dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip *@
                    @*     ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu *@
                    @*     fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt *@
                    @*     mollit anim id est laborum.</p> *@
                    @* <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem *@
                    @*     aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. *@
                    @*     Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores *@
                    @*     eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, *@
                    @*     consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam *@
                    @*     quaerat voluptatem.</p> *@
                </div>
            </div>
        </section>
</main>

