﻿@model CustomerAddressEditModel
@using Grand.Web.Models.Customer;
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Addresses })
}
<form asp-route="CustomerAddressAdd" method="post">
    <div class="page account-page address-edit-page pl-lg-3 mb-3 pt-lg-0 pt-3">
        <a class="js-offcanvas-trigger blog-filter filter-button btn btn-outline-info d-lg-none d-flex mb-3" data-offcanvas-trigger="leftSide" href="#leftSide">
            <span class="mdi mdi-tune"></span><span class="ml-3">@T("Account.Navigation")</span>
        </a>
        <div class="address-add-form">
            <h2 class="generalTitle">@T("Account.CustomerAddresses.AddNew")</h2>
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            @{
                var dataDictAddress = new ViewDataDictionary(ViewData);
                dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                <partial name="_CreateOrUpdateAddress" model="Model.Address" view-data="dataDictAddress" />
            }
            <div class="col-6 buttons generalMarginSupporter mt-1 mb-1">
                <input type="submit" class="btn btn-info save-address-button" value="@T("Common.Save")" />
            </div>
        </div>
    </div>
</form>