﻿@model NewsItemModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
}


<main>
    <div class="container bread">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link"><a href="/">Главная</a></li>
                <li class="breadcrumb-item breadcrumb-link"><a href="/news">Новости</a></li>
                <li class="breadcrumb-item breadcrumb-link"><a href="#">Как можно стимулировать соски?</a></li>
            </ol>
        </nav>
        <div class="col-12 d-flex title-page justify-content-center">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-12 d-flex title-article justify-content-between">
            <div class="row w-100 article justify-content-between">
                <span>Рубрика</span>
                <div class="d-flex icon-neew justify-content-between">
                    <div class="d-flex align-items-center">
                        <svg width="20" height="20" viewBox="0 0 40 40" fill="#b1b1b1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M39.7458 19.222C39.3884 18.7332 30.8741 7.25275 19.9998 7.25275C9.12549 7.25275 0.610782 18.7332 0.253829 19.2215C-0.0846095 19.6853 -0.0846095 20.3143 0.253829 20.778C0.610782 21.2668 9.12549 32.7473 19.9998 32.7473C30.8741 32.7473 39.3884 21.2668 39.7458 20.7784C40.0847 20.3147 40.0847 19.6853 39.7458 19.222ZM19.9998 30.1099C11.9897 30.1099 5.05212 22.4901 2.99844 19.9991C5.04946 17.5059 11.9725 9.8901 19.9998 9.8901C28.0095 9.8901 34.9466 17.5085 37.0012 20.0009C34.9501 22.494 28.0271 30.1099 19.9998 30.1099Z" />
                            <path d="M19.9998 12.0879C15.6372 12.0879 12.0877 15.6374 12.0877 20C12.0877 24.3627 15.6372 27.9121 19.9998 27.9121C24.3625 27.9121 27.9119 24.3627 27.9119 20C27.9119 15.6374 24.3625 12.0879 19.9998 12.0879ZM19.9998 25.2747C17.0912 25.2747 14.7251 22.9085 14.7251 20C14.7251 17.0915 17.0913 14.7253 19.9998 14.7253C22.9083 14.7253 25.2745 17.0915 25.2745 20C25.2745 22.9085 22.9084 25.2747 19.9998 25.2747Z" />
                        </svg>
                        <span>@Model.Views</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg width="20" height="20" viewBox="0 0 40 40" fill="#b1b1b1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36.4844 3.67188H3.51562C1.57715 3.67188 0 5.24902 0 7.1875V25.9375C0 27.876 1.57715 29.4531 3.51562 29.4531H7.10938V35.3125C7.10938 36.2814 8.21747 36.8253 8.98438 36.25L18.0469 29.4531H36.4844C38.4229 29.4531 40 27.876 40 25.9375V7.1875C40 5.24902 38.4229 3.67188 36.4844 3.67188ZM37.6562 25.9375C37.6562 26.5836 37.1304 27.1094 36.4844 27.1094H17.6562C17.4026 27.1094 17.1561 27.1918 16.9531 27.3438L9.45312 32.9688V28.2812C9.45312 27.634 8.92853 27.1094 8.28125 27.1094H3.51562C2.86957 27.1094 2.34375 26.5836 2.34375 25.9375V7.1875C2.34375 6.54144 2.86957 6.01562 3.51562 6.01562H36.4844C37.1304 6.01562 37.6562 6.54144 37.6562 7.1875V25.9375Z" />
                            <path d="M31.7188 10.7031H8.28125C7.63397 10.7031 7.10938 11.2277 7.10938 11.875C7.10938 12.5223 7.63397 13.0469 8.28125 13.0469H31.7188C32.366 13.0469 32.8906 12.5223 32.8906 11.875C32.8906 11.2277 32.366 10.7031 31.7188 10.7031Z" />
                            <path d="M23.5156 16.5625C23.5156 15.9152 22.991 15.3906 22.3438 15.3906H8.28125C7.63397 15.3906 7.10938 15.9152 7.10938 16.5625C7.10938 17.2098 7.63397 17.7344 8.28125 17.7344H22.3438C22.991 17.7344 23.5156 17.2098 23.5156 16.5625Z" />
                            <path d="M31.7188 15.3906H27.0312C26.384 15.3906 25.8594 15.9152 25.8594 16.5625C25.8594 17.2098 26.384 17.7344 27.0312 17.7344H31.7188C32.366 17.7344 32.8906 17.2098 32.8906 16.5625C32.8906 15.9152 32.366 15.3906 31.7188 15.3906Z" />
                            <path d="M15.3125 20.0781H8.28125C7.63397 20.0781 7.10938 20.6027 7.10938 21.25C7.10938 21.8973 7.63397 22.4219 8.28125 22.4219H15.3125C15.9598 22.4219 16.4844 21.8973 16.4844 21.25C16.4844 20.6027 15.9598 20.0781 15.3125 20.0781Z" />
                            <path d="M31.7188 20.0781H20C19.3527 20.0781 18.8281 20.6027 18.8281 21.25C18.8281 21.8973 19.3527 22.4219 20 22.4219H31.7188C32.366 22.4219 32.8906 21.8973 32.8906 21.25C32.8906 20.6027 32.366 20.0781 31.7188 20.0781Z" />
                        </svg>
                        <span>@Model.NumberOfComments</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg width="15" height="15" viewBox="0 0 20 20" fill="#b1b1b1" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.486 0 0 4.486 0 10C0 15.514 4.486 20 10 20C15.514 20 20 15.514 20 10C20 4.486 15.514 0 10 0ZM10 17.8722C5.65933 17.8722 2.12762 14.3409 2.12762 10C2.12762 5.65912 5.65933 2.12783 10 2.12783C14.3407 2.12783 17.8724 5.65912 17.8724 10C17.8724 14.3409 14.3407 17.8722 10 17.8722Z" />
                            <path d="M15.2116 9.6912H10.7176V4.28774C10.7176 3.83303 10.3489 3.46436 9.89418 3.46436C9.43947 3.46436 9.0708 3.83303 9.0708 4.28774V10.5146C9.0708 10.9693 9.43947 11.338 9.89418 11.338H15.2116C15.6663 11.338 16.035 10.9693 16.035 10.5146C16.035 10.0599 15.6663 9.6912 15.2116 9.6912Z" />
                        </svg>
                        <time>@Model.CreatedOn.ToString("dd-MM-yyyy")</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="row article-one">
            <div class="col-12">
                <div class="articale-txt">
                    <img src="@Model.PictureModel.FullSizeImageUrl" alt="">
                    @Html.Raw(Model.Full)
                </div>
            </div>
            @if (Model.Comments.Any())
            {
            <div class="col-12 d-flex com flex-column title-page align-items-center justify-content-center">
                <h1>@T("News.Comments")</h1>
                <div class="d-flex flex-column w-100">
                @foreach (var comment in Model.Comments)
                {
                <div class="comment d-flex flex-column">
                        <div class="d-flex">
                        @if (!String.IsNullOrEmpty(comment.CustomerAvatarUrl))
                        {
                            @if (comment.AllowViewingProfiles)
                            {
                                <a href="@Url.RouteUrl("CustomerProfile", new { id = comment.CustomerId })" >
                                    <img src="@(comment.CustomerAvatarUrl)"   />
                                </a>
                            }
                            else
                            {
                                <img src="@(comment.CustomerAvatarUrl)"   />
                            }
                        }
                            <div class="comment-box d-flex flex-column">
                                <div class="d-flex meet-com">
                                    <span>@comment.CreatedOn.ToString("g")</span>
                                    @if (comment.AllowViewingProfiles)
                                    {
                                        <a href="@Url.RouteUrl("CustomerProfile", new { id = comment.CustomerId })"><span class="twee">@(comment.CustomerName)</span></a>
                                    }
                                    else
                                    {
                                        <span class="pl-2">@(comment.CustomerName)</span>
                                    }
                                </div>
                                <h4>@comment.CommentTitle</h4>
                                <p>@Html.Raw(Grand.Core.Html.HtmlHelper.FormatText(comment.CommentText, false, true, false, false, false, false)).</p>
                            </div>
                        </div>
                </div>
                }
                    
                    
                    
                </div>
            </div>
            }
            <form asp-route="NewsItem" class="col-12" asp-route-sename="@Model.SeName" method="post">
                <div class="col-12 form-comment d-flex justify-content-center">
                    <div class="col-12 col-lg-8 d-flex flex-column title-page align-items-center justify-content-center">
                        <h2>Оставьте свой комментарий</h2>
                        <div class="d-flex comment-control flex-wrap w-100">
                            <div class="form-group card-inform col-12 col-md-6">
                                <label for="Name">Имя</label>
                                <input type="text" class="form-control" id="Name" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group card-inform col-12 col-md-6">
                                <label asp-for="AddNewComment.CommentTitle" class="col-form-label">@T("News.Comments.CommentTitle"):</label>
                                                            <input asp-for="AddNewComment.CommentTitle" class="form-control " />
                                                            <span asp-validation-for="AddNewComment.CommentTitle"></span>
                                
                            </div>
                            <div class="form-group card-inform col-12 col-md-12">
                                <label asp-for="AddNewComment.CommentText" class="col-form-label">@T("News.Comments.CommentText"):</label>
                                                            <textarea asp-for="AddNewComment.CommentText" class="form-control "></textarea>
                                                            <span asp-validation-for="AddNewComment.CommentText"></span>
                            </div>
                        </div>
                        @if (Model.AddNewComment.DisplayCaptcha)
                                                {
                                                    <div class="captcha-box">
                                                        <captcha />
                                                    </div>
                                                }
                        <div class="d-flex looged-btn card-inform justify-content-center">
                            <button type="submit" name="add-comment"  class="btn btn-stand">
                                @T("News.Comments.SubmitButton")
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>



<partial name="_InfoMainPage"/>
