﻿@model ShoppingCartLinksModel

        @if (Model.WishlistEnabled)
        {
            <li class="nav-item wishlist-container d-lg-block d-none">
                <a class="nav-link" href="@Url.RouteUrl("Wishlist")">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 20.7761C10.6868 20.7761 10.3848 20.6626 10.1495 20.4565C9.26076 19.6794 8.4039 18.9491 7.64792 18.3049L7.64406 18.3015C5.42765 16.4127 3.5137 14.7816 2.182 13.1748C0.693373 11.3785 0 9.67535 0 7.81477C0 6.00706 0.619857 4.33934 1.74527 3.11859C2.8841 1.88341 4.44675 1.20312 6.14586 1.20312C7.41579 1.20312 8.5788 1.60461 9.60249 2.39635C10.1191 2.79599 10.5874 3.2851 11 3.85561C11.4127 3.2851 11.8808 2.79599 12.3976 2.39635C13.4213 1.60461 14.5843 1.20312 15.8543 1.20312C17.5532 1.20312 19.116 1.88341 20.2549 3.11859C21.3803 4.33934 22 6.00706 22 7.81477C22 9.67535 21.3068 11.3785 19.8181 13.1746C18.4864 14.7816 16.5726 16.4126 14.3566 18.3012C13.5992 18.9464 12.741 19.6778 11.8503 20.4568C11.6151 20.6626 11.313 20.7761 11 20.7761V20.7761ZM6.14586 2.49185C4.81098 2.49185 3.58469 3.0246 2.69259 3.99207C1.78723 4.97414 1.28856 6.33168 1.28856 7.81477C1.28856 9.37961 1.87014 10.7791 3.17414 12.3525C4.4345 13.8734 6.30918 15.4709 8.47977 17.3208L8.48379 17.3241C9.24263 17.9708 10.1028 18.704 10.9981 19.4868C11.8988 18.7025 12.7604 17.9682 13.5207 17.3204C15.6911 15.4706 17.5656 13.8734 18.826 12.3525C20.1298 10.7791 20.7114 9.37961 20.7114 7.81477C20.7114 6.33168 20.2127 4.97414 19.3074 3.99207C18.4154 3.0246 17.189 2.49185 15.8543 2.49185C14.8764 2.49185 13.9786 2.8027 13.1858 3.41568C12.4794 3.96219 11.9873 4.65305 11.6987 5.13644C11.5503 5.38503 11.2892 5.5334 11 5.5334C10.7108 5.5334 10.4496 5.38503 10.3012 5.13644C10.0129 4.65305 9.52075 3.96219 8.81412 3.41568C8.02138 2.8027 7.12357 2.49185 6.14586 2.49185V2.49185Z"/>
                    </svg>
                    <span class="wishlist-qty d-none d-lg-flex">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </li>
        }
        @if (Model.ShoppingCartEnabled)
        {
            <li class="nav-item cart-container" id="topcartlink">
                <div class="btn-group dropdown">
                    <a @if (Model.MiniShoppingCartEnabled) { <text> class="nav-link js-offcanvas-trigger" data-offcanvas-trigger="right" href="#right" </text>  } else { <text> class="nav-link" href="@Url.RouteUrl("ShoppingCart")" </text>  }>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M18.8905 5.65168C18.8703 5.41349 18.6697 5.23098 18.4306 5.23331H14.9356V3.90886C14.9356 1.75001 13.1854 0 11.0268 0C8.86791 0 7.1179 1.75001 7.1179 3.90886V5.23331H3.62292C3.38491 5.23421 3.18623 5.41492 3.16306 5.65168L1.95824 19.503C1.90345 20.1452 2.12045 20.7811 2.55679 21.2559C2.99294 21.7305 3.60819 22.0005 4.2529 21.9999H17.8051C18.4498 22.0005 19.0651 21.7305 19.5012 21.2559C19.9376 20.7811 20.1547 20.1452 20.1 19.503L18.8905 5.65168ZM8.03763 3.90886C8.03763 2.25802 9.37592 0.919732 11.0268 0.919732C12.6776 0.919732 14.0159 2.25802 14.0159 3.90886V5.23331H8.03763V3.90886ZM18.8215 20.6342C18.5614 20.9205 18.1919 21.0827 17.8051 21.0802H4.24823C3.86148 21.0804 3.49251 20.9182 3.23096 20.6333C2.96959 20.3482 2.83971 19.9665 2.8733 19.5811L4.04129 6.15305H7.1179V9.02254C6.37834 9.25014 5.9165 9.98431 6.03165 10.7496C6.14662 11.5146 6.80408 12.0805 7.57777 12.0805C8.35146 12.0805 9.00874 11.5146 9.12389 10.7496C9.23885 9.98431 8.77701 9.25014 8.03763 9.02254V6.14838H14.0159V9.02254C13.2763 9.25014 12.8145 9.98431 12.9296 10.7496C13.0446 11.5146 13.7021 12.0805 14.4758 12.0805C15.2494 12.0805 15.9067 11.5146 16.0219 10.7496C16.1368 9.98431 15.675 9.25014 14.9356 9.02254V6.14838H18.0076L19.1755 19.5765C19.2133 19.9634 19.0845 20.348 18.8215 20.6342V20.6342ZM7.50879 9.87796C7.5546 9.88407 7.60094 9.88407 7.64675 9.87796C7.9868 9.91461 8.23901 10.211 8.22068 10.5525C8.20218 10.8942 7.91979 11.1618 7.57777 11.1618C7.23556 11.1618 6.95318 10.8942 6.93485 10.5525C6.91653 10.211 7.16856 9.91461 7.50879 9.87796ZM14.4068 9.87796C14.4526 9.88407 14.4989 9.88407 14.5447 9.87796C14.8848 9.91461 15.137 10.211 15.1187 10.5525C15.1002 10.8942 14.8178 11.1618 14.4758 11.1618C14.1336 11.1618 13.8512 10.8942 13.8328 10.5525C13.8145 10.211 14.0665 9.91461 14.4068 9.87796V9.87796Z"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="22" height="22"/>
                                </clipPath>
                            </defs>
                        </svg>
                        <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                    </a>
                </div>
            </li>
        }
