﻿@{
    Layout = "_ConfigurePlugin";
}
@model Grand.Plugin.Payments.RoboKassa.Models.ConfigurationModel
@using Grand.Framework;
@using Grand.Plugin.Payments.RoboKassa.Models;
@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="PaymentRoboKassa" asp-action="Configure" method="post">
    @(await Html.LocalizedEditor<ConfigurationModel, ConfigurationModel.ConfigurationLocalizedModel>("plugin-settings-localized",
    @<div class="form-horizontal">
         <div class="form-body">
             <div class="form-group">
                 <div class="col-md-3 col-sm-3 text-right">
                     @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, 
                         model => model.Locales[item].DescriptionText, Model.ActiveStoreScopeConfiguration)
                     <admin-label asp-for="@Model.Locales[item].DescriptionText" class="control-label" />
                 </div>
                 <div class="col-md-9 col-sm-9">
                     <admin-textarea asp-for="@Model.Locales[item].DescriptionText"></admin-textarea>
                     <span asp-validation-for="@Model.Locales[item].DescriptionText"></span>
                 </div>
             </div>
             <input asp-for="@Model.Locales[item].LanguageId" type="hidden" />
         </div>
     </div>
    ,
  
    @<div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.DescriptionText_OverrideForStore, 
                        model => model.DescriptionText, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="DescriptionText" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-textarea asp-for="DescriptionText"></admin-textarea>
                    <span asp-validation-for="DescriptionText"></span>
                </div>
            </div>
        </div>
    </div>
    ,
    true
    ))
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.AdditionalFee_OverrideForStore, 
                        model => model.AdditionalFee, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="AdditionalFee" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="AdditionalFee" />
                    <span asp-validation-for="AdditionalFee"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.MerchantLogin_OverrideForStore, 
                        model => model.MerchantLogin, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="MerchantLogin" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="MerchantLogin" />
                    <span asp-validation-for="MerchantLogin"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.MerchantPassword_OverrideForStore, 
                        model => model.MerchantPassword, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="MerchantPassword" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="MerchantPassword" />
                    <span asp-validation-for="MerchantPassword"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.CheckPassword_OverrideForStore, 
                        model => model.CheckPassword, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="CheckPassword" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="CheckPassword" />
                    <span asp-validation-for="CheckPassword"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <div class="col-md-3 col-sm-3 text-right">
                    @Html.OverrideStoreCheckboxFor(model => model.IsTest_OverrideForStore,
                        model => model.IsTest, Model.ActiveStoreScopeConfiguration)
                    <admin-label asp-for="IsTest" class="control-label" />
                </div>
                <div class="col-md-9 col-sm-9">
                    <admin-input asp-for="IsTest" />
                    <span asp-validation-for="IsTest"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-sm-offset-3 col-md-9 col-sm-9">
                    <input type="submit" name="save" class="btn green" value="@T("Admin.Common.Save")" />
                </div>
            </div>
        </div>
    </div>
    
</form>