﻿@{
    Layout = "";
}
@model Grand.Plugin.Payments.RoboKassa.Models.PaymentInfoModel
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Raw(Model.DescriptionText)
        </td>
    </tr>
</table>
