﻿@model CategoryNavigationModel
@if (Model.Categories.Any())
{
    <div>
        <h3>@T("Categories")</h3>
        <div class="main-category boute d-flex flex-column">
        
        @foreach (var category in Model.Categories)
                            {
                                var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                                {
                                    CurrentCategoryId = Model.CurrentCategoryId,
                                    Category = category
                                };
                                <partial name="_CategoryLine.Navigation" model="categoryLineModel" />
                            }

        </div>
    </div>
}
