﻿@model TopMenuModel
    @await Component.InvokeAsync("Widget", new { widgetZone = "header_menu_before" })

    @{
        var rootCategories = Model.Categories.ToList();
    }
    @foreach (var category in rootCategories)
    {
        var categoryLineModel = new TopMenuModel.CategoryLineModel
        {
            Category = category
        };
        
    }
<div class="catalog-nav cat-hidden">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-6">
                                <ul class="category-menu">
                                    @foreach (var category in rootCategories)
                                    {
                                        if (category.SubCategories.Count != 0)
                                        {
                                            <li id = "@category.SeName" class="left-category"><a id = "@category.SeName" class="f-color-black" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                                        }
                                        else
                                        {
                                            <li><a class="f-color-black left-none-category" href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a></li>
                                        }
                                         
                                    }
                                </ul>
                            </div>
                            @foreach (var category in rootCategories)
                            {
                                if (category.SubCategories.Count != 0)
                                {
                                    <div class="col-md-4 col-6 d-none @category.SeName hidden-category @category.SeName">
                                        <ul class="category-menu">
                                            @foreach (var subCategory in category.SubCategories)
                                            {
                                                <li><a class="f-color-black" href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })">@subCategory.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-md-5 col-12 d-none align-items-center @category.SeName hidden-category @category.SeName">
                                        <img src="@category.ImageUrl" alt="">
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>
                </div>
    
@{
    var rootCategoriesResponsive = Model.Categories.ToList();
    //name it "Categories" if we have only categories. Otherwise, "Menu"
    var responsiveMenuTitle = (rootCategoriesResponsive.Any() && Model.Topics.Any()) ? T("Categories") : T("Menu");
}

<script asp-location="Footer">

$(document).ready(function () {
        $('.left-category:first-child').addClass('active');
        $('.hidden-category').addClass('d-none');
        $($('.hidden-category')[0]).removeClass('d-none');
        
    });
    $('.left-category').hover(function(e) {
        $('.category-menu li.active').removeClass('active');
        $(this).addClass('active');
        $('.hidden-category').addClass('d-none');
        $('.' + e.target.id).removeClass('d-none');
    });
    
    $('.left-none-category').hover(function(e) {
            $('.category-menu li.active').removeClass('active');
        });
    if ($(window).width() <= 991) {
       $('.left-category').click(function(e) {
            $('.category-menu li.active').removeClass('active');
            $(this).addClass('active');
            event.preventDefault();
       }); 
    }
</script>
