﻿@model IList<ProductOverviewModel>
@inject DisplayOrderHomePage order

<section class="bg-hit">
    <div class="box-hit">
        <div id="hit-selling" class="carousel d-flex hit-box slide" data-ride="carousel">
            <div class="d-flex container flex-column justify-content-center hit-land align-items-center">
                <h2 class="w-100">Хиты продаж</h2>
                <div class="w-100">
                    <p>В данном разделе размещены товары,
                        пользующиеся наибольшей популярностью</p>
                </div>
                <div class="w-100 button-hit">
                    <a href="/seks-tovary-dlya-zhenshhin" type="button" class="btn btn-outline-danger btn-sale teen">
                        Смотреть все
                        <svg width="20" height="9" viewBox="0 0 20 9" fill="#F55B5B" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 4H0V5H18L15 8L16 9L20 4.5L15.5 0L14.5 0.5L18 4Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="panel-sale">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex slide-hit">

                            @foreach (var item in Model)
                            {
                                <div class="cast">
                                    <partial name="_ProductBoxHits" model="item"/>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
