﻿@model OnePageCheckoutModel
@inject IWebHelper webHelper;
@{
    Layout = "_ColumnsOne";

    Html.AddScriptParts(ResourceLocation.Footer, "~/scripts/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/scripts/public.onepagecheckout.js");

    var storeLocation = webHelper.GetStoreLocation(true);

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@{
    //step numbers
    int billingAddressStepNumber = 1;
    int shippingAddressStepNumber = 2;
    int shippingMethodStepNumber = 3;
    int paymentMethodStepNumber = 4;
    int paymentInfoStepNumber = 5;
    int confirmOrderStepNumber = 6;
    if (!Model.ShippingRequired)
    {
        paymentMethodStepNumber = paymentMethodStepNumber - 2;
        paymentInfoStepNumber = paymentInfoStepNumber - 2;
        confirmOrderStepNumber = confirmOrderStepNumber - 2;
    }
    if (Model.DisableBillingAddressCheckoutStep)
    {
        shippingAddressStepNumber--;
        shippingMethodStepNumber--;
        paymentMethodStepNumber--;
        paymentInfoStepNumber--;
        confirmOrderStepNumber--;
    }
}

<main>
    <div class="container bread">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item breadcrumb-link"><a href="/">Главная</a></li>
                <li class="breadcrumb-item breadcrumb-link"><a href="#">Оформление заказа</a></li>
            </ol>
        </nav>
        <div class="col-12 d-flex title-page justify-content-center">
            <h1>@T("Checkout")</h1>
        </div>
        <div class="row order-limp">
            <div class="col-12 col-lg-7">
                <div class="accordion-card panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_before" })
                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" id="opc-billing-title" role="tab" id="headingOne">
                            <a class="in" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-billing" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@billingAddressStepNumber</div>
                                    <span>@T("Checkout.BillingAddress")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-billing" class="panel-card-col in collapse show" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-inform row d-flex flex-wrap">
                                <form id="co-billing-form" action="">
                                    <partial name="OpcBillingAddress" model="Model.BillingAddress" />
                                </form>
                                <script asp-location="Footer">
                                    Billing.init('#co-billing-form', '@(storeLocation)checkout/OpcSaveBilling/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                                     if ($("#billing-address-select").length > 0) {
                                          Billing.newAddress(!$('#billing-address-select').val());
                                      }
                                </script>
                            </div>
                            <div class="form-send">
                                <div class="description-form">
                                    <span class="info-label">*</span>
                                    поля обязательные к заполнению
                                </div>
                                <button type="button" class="btn btn-stand" onclick="Billing.save()">
                                    @T("Common.Continue")
                                </button>
                            </div>
                        </div>
                    </div>
                @if (Model.ShippingRequired)
                {
                    <script asp-location="Footer">
                        Shipping.init('#co-shipping-form', '@(storeLocation)checkout/OpcSaveShipping/');
                        if ($("#shipping-address-select").length > 0) {
                             Shipping.newAddress(!$('#shipping-address-select').val());
                        }
                    </script>
                
                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" role="tab" id="headingTwo">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-shipping" aria-expanded="false" aria-controls="collapseTwo">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@shippingAddressStepNumber</div>
                                    <span>@T("Checkout.ShippingAddress")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-shipping" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-inform d-flex flex-wrap">
                                <form action="" id="co-shipping-form">
                                    <div class="card-inform row d-flex flex-wrap" id="checkout-shipping-load">
                                        @*shipping address content will be loaded here*@
                                    </div>
                                </form>
                                                                     
                                <div class="col-12 form-send">
                                    <a type="button" class="btn btn-outline-danger teen btn-inform" href="#" onclick="Checkout.back(); return false; ">
                                        @T("Common.Back")
                                    </a>
                                    <button type="button" class="btn btn-stand" onclick="Shipping.save()">
                                        @T("Common.Continue")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" role="tab" id="headingThree">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-shipping_method" aria-expanded="false" aria-controls="collapseThree">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@shippingMethodStepNumber</div>
                                    <span>@T("Checkout.ShippingMethod")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-shipping_method" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="card-inform row d-flex flex-wrap">
                                <form id="co-shipping-method-form" action="">
                                    <div class="card-inform row d-flex flex-wrap" id="checkout-shipping-method-load">
                                        @*shipping methods content will be loaded here*@
                                    </div>
                                    <script asp-location="Footer">
                                         ShippingMethod.init('#co-shipping-method-form', '@(storeLocation)checkout/OpcSaveShippingMethod/');
                                    </script>
                                   
                                </form>
                                
                            </div>
                            <div class="form-send">
                                <div class="description-form labe-tail">
                                    <span class="info-label">*</span>
                                    только при 100% предоплате
                                </div>
                                <button type="button" onclick="Checkout.back(); return false;" class="btn btn-outline-danger teen btn-inform">
                                    @T("Common.Back")
                                </button>
                                <button type="button" onclick="ShippingMethod.save()" class="btn btn-stand">
                                    @T("Common.Continue")
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" role="tab" id="headingFour">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-payment_method" aria-expanded="false" aria-controls="collapseFour">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@paymentMethodStepNumber</div>
                                    <span>@T("Checkout.PaymentMethod")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-payment_method" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <form action="" id="co-payment-method-form">
                                <div id="checkout-payment-method-load" >
                                    @*payment methods content will be loaded here*@ Payment is not required
                                </div>
                            </form>
                            <script asp-location="Footer">
                                PaymentMethod.init('#co-payment-method-form', '@(storeLocation)checkout/OpcSavePaymentMethod/');
                            </script>
                        </div>
                    </div>

                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" role="tab" id="headingFive">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-payment_info" aria-expanded="false" aria-controls="collapseFive">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@paymentInfoStepNumber</div>
                                    <span>@T("Checkout.PaymentInfo")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-payment_info" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                            <div class="card-inform d-flex flex-wrap">
                                <form action="" id="co-payment-info-form">
                                    <div class="card-inform d-flex flex-wrap" id="checkout-payment-info-load">
                                        @*payment info content will be loaded here*@ Payment is not required
                                    </div>
                                </form>
                                <script asp-location="Footer">
                                       PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/OpcSavePaymentInfo/');
                             </script>     
                                <div class="col-12 form-send">
                                @if (!Model.HasSinglePaymentMethod || paymentMethodStepNumber > 1)
                                {
                                    <button type="button" class="btn btn-outline-danger teen btn-inform" onclick="Checkout.back();return false;">
                                        @T("Common.Back")
                                    </button>
                                }
                                    <button type="button" class="btn btn-stand" onclick="PaymentInfo.save()">
                                        @T("Common.Continue")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-card panel-default">
                        <div class="panel-accord card-inter" role="tab" id="headingSix">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#opc-confirm_order" aria-expanded="false" aria-controls="collapseSix">
                                <h4 class="panel-title d-flex align-items-center">
                                    <div class="title-number">@confirmOrderStepNumber</div>
                                    <span>@T("Checkout.ConfirmOrder")</span>
                                </h4>
                            </a>
                        </div>
                        <div id="opc-confirm_order" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="card-inform d-flex flex-wrap">
                                <div class="card-inform d-flex flex-wrap" id="checkout-confirm-order-load">    
                                        @*confirm order content will be loaded here*@
                                </div>
                               <script asp-location="Footer">
                                       ConfirmOrder.init('@(storeLocation)checkout/OpcConfirmOrder/', '@(storeLocation)checkout/completed/');
                               </script>
                                <div class="col-12 form-send">
                                    <button type="button" onclick="Checkout.back(); return false;" class="btn btn-outline-danger teen btn-inform">
                                        @T("Common.Back")
                                    </button>
                                    <button type="button" class="btn btn-stand" onclick="ConfirmOrder.save()">
                                        @T("Common.Confirm")
                                    </button>
                                </div>
                                <div class="custom-control last-send custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Check11">
                                    <label class="custom-control-label control-check" for="Check11">Даю свое согласие на обработку
                                        <a href="#">персональных данных</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="order-card">
                    <div class="col-12 d-flex justify-content-center">
                        <h5>Ваш заказ</h5>
                    </div>
                    
                    <div class="col-12 product-box-card order-box-card">
                        <form asp-route="ShoppingCart" method="post" class="d-flex flex-column" id="shopping-cart-form">
                        @{
                                decimal sum = 0;
                        }
                        @foreach (var item in @Model.ShoppingCartModel.Items)
                        {
                            <div class="d-flex">
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" ></a>
                                <div class="complect d-flex flex-column justify-content-between">
                                    <div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="deleteshoppingcartitem btn-non-style" data-href="@Url.RouteUrl("DeleteCartItem", new { id = item.Id, shoppingcartpage = true })" style="cursor:pointer;">
                                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g clip-path="url(#clip0)">
                                                        <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0">
                                                            <rect width="18" height="18" fill="white"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg></button>
                                        </div>
                                        <h3>@item.ProductName</h3>
                                    </div>
                                    <div class="d-flex last-tent align-items-center justify-content-between">
                                        <div class="form-inline" id="shopping-cart-form">
                                            <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value', function (i, oldval) {if(oldval>1){--oldval; $('#qti@(item.Id)').text(oldval);return oldval; } else { return oldval}}).trigger('change')">-</button>
                                            <span class="col-order" id="qti@(item.Id)">@(item.Quantity)</span>
                                            <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" onchange="ChangeShoppingCart()" class="qty-input d-none"/>
                                            <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value',function (i, oldval) {++oldval; $('#qti@(item.Id)').text(oldval);return oldval;}).trigger('change')">+</button>
                                        </div>
                                        <span><b>@item.UnitPriceValue</b> руб.</span>
                                    </div>
                                </div>
                            </div>
                            sum +=item.UnitPriceValue * item.Quantity;
                        }
                        
                            <div class="d-flex land justify-content-center">
                                <span>Итого к оплате: <b>@sum</b> руб.</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="back back-desk d-flex justify-content-center">
                    <a href="/seks-tovary-dlya-zhenshhin">
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M13.75 10.0104V5.625C13.75 4.59105 12.909 3.75 11.875 3.75C11.4099 3.75 10.9607 3.92824 10.6128 4.25174L9.8059 4.99822C7.1509 7.45482 2.70633 11.5662 0.432129 13.8471C0.153809 14.1278 0 14.5368 0 15C0 15.4632 0.153809 15.8722 0.432129 16.1536C2.70633 18.4339 7.1509 22.5452 9.8059 25.0018L10.6128 25.7483C10.9607 26.0718 11.4099 26.2501 11.875 26.2501C12.909 26.2501 13.75 25.409 13.75 24.3751V20.0043C22.7503 20.1306 28.75 22.9694 28.75 25.625C28.75 25.9705 29.0296 26.2501 29.375 26.2501C29.7205 26.2501 30.0001 25.9705 30.0001 25.625C30 17.2028 22.7674 10.3155 13.75 10.0104ZM13.125 18.75C12.7795 18.75 12.5 19.0296 12.5 19.375V24.375C12.5 24.7198 12.2192 25 11.875 25C11.6845 25 11.5454 24.9084 11.4623 24.8316L10.6554 24.0845C8.0066 21.6339 3.57422 17.5336 1.31836 15.2716C1.2842 15.2374 1.24998 15.1397 1.24998 15C1.24998 14.8603 1.28414 14.7626 1.31836 14.729C3.57422 12.4664 8.0066 8.36607 10.6555 5.91551L11.4624 5.16844C11.5454 5.0915 11.6846 4.99998 11.875 4.99998C12.2193 4.99998 12.5 5.28012 12.5 5.625V10.625C12.5 10.9704 12.7796 11.25 13.1251 11.25C20.6397 11.25 26.9324 16.156 28.418 22.669C25.7507 20.3326 19.9756 18.75 13.125 18.75Z" fill="#F55B5B"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                        <span>Вернуться к покупкам</span></a>
                </div>
            </div>
            <div class="back col-12 back-mobil justify-content-center">
                <a href="/seks-tovary-dlya-zhenshhin">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path d="M13.75 10.0104V5.625C13.75 4.59105 12.909 3.75 11.875 3.75C11.4099 3.75 10.9607 3.92824 10.6128 4.25174L9.8059 4.99822C7.1509 7.45482 2.70633 11.5662 0.432129 13.8471C0.153809 14.1278 0 14.5368 0 15C0 15.4632 0.153809 15.8722 0.432129 16.1536C2.70633 18.4339 7.1509 22.5452 9.8059 25.0018L10.6128 25.7483C10.9607 26.0718 11.4099 26.2501 11.875 26.2501C12.909 26.2501 13.75 25.409 13.75 24.3751V20.0043C22.7503 20.1306 28.75 22.9694 28.75 25.625C28.75 25.9705 29.0296 26.2501 29.375 26.2501C29.7205 26.2501 30.0001 25.9705 30.0001 25.625C30 17.2028 22.7674 10.3155 13.75 10.0104ZM13.125 18.75C12.7795 18.75 12.5 19.0296 12.5 19.375V24.375C12.5 24.7198 12.2192 25 11.875 25C11.6845 25 11.5454 24.9084 11.4623 24.8316L10.6554 24.0845C8.0066 21.6339 3.57422 17.5336 1.31836 15.2716C1.2842 15.2374 1.24998 15.1397 1.24998 15C1.24998 14.8603 1.28414 14.7626 1.31836 14.729C3.57422 12.4664 8.0066 8.36607 10.6555 5.91551L11.4624 5.16844C11.5454 5.0915 11.6846 4.99998 11.875 4.99998C12.2193 4.99998 12.5 5.28012 12.5 5.625V10.625C12.5 10.9704 12.7796 11.25 13.1251 11.25C20.6397 11.25 26.9324 16.156 28.418 22.669C25.7507 20.3326 19.9756 18.75 13.125 18.75Z" fill="#F55B5B"/>
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="30" height="30" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    <span>Вернуться к покупкам</span></a>
            </div>
        </div>
    </div>
</main>

<script asp-location="Footer">
    $(".opc li.active").prev("li").removeClass("dontGo");
    $(".opc li.active").nextAll("li").addClass("dontGo");
</script>

<script asp-location="Footer">
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-billing');
        Checkout.init('@(storeLocation)cart/');
        if (Billing.disableBillingAddressCheckoutStep)
        {
            Accordion.hideSection('#opc-billing');
            Accordion.hideSection('#opc-billing-title');
            $('#opc-billing-title').hide();
            Accordion.hideSection('#opc-billing');
            $('#opc-shipping').collapse('show');
            Billing.save();
        }
</script>

  <script asp-location="Footer">
     
             function ChangeShoppingCart() {
                     $.ajax({
                         cache: false,
                         type: "POST",
                         data: $('#shopping-cart-form').serialize(),
                         url: '@Url.RouteUrl("UpdateCart")',
                         success: function (data) {
                             $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                             $(AjaxCart.topcartselector).html(data.totalproducts);
                             $('#ordersummarypagecart').replaceWith(data.cart);
                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                             alert('Failed to retrieve Shopping Cart Page.');
                         }
                     });
                 }
     
             $(document).ready(function () {
                 $(".deleteshoppingcartitem").click(function () {
                     var href = $(this).closest('[data-href]').data('href');
                     $.ajax({
                         cache: false,
                         type: "POST",
                         url: href,
                         success: function (data) {
                             $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                             $(AjaxCart.topcartselector).html(data.totalproducts);
                             $('#ordersummarypagecart').replaceWith(data.cart);
                             location.reload();
                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                             alert('Failed to retrieve Shopping Cart Page.');
                         }
                     });
                 });
             });
         </script>