﻿@model CheckoutPaymentMethodModel
@await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_method_top" })

    @if (Model.DisplayRewardPoints && Model.PaymentMethods.Any())
    {
        <div class="use-reward-points">

            <label class="custom-control custom-checkbox">
                <input asp-for="UseRewardPoints" class="custom-control-input" />
                <span class="custom-control-label"></span>
                <span class="custom-control-description">@string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)</span>
            </label>

            @if (Model.RewardPointsEnoughToPayForOrder)
            {
                <script asp-location="Footer">
                        $(document).ready(function() {
                            PaymentMethod.toggleUseRewardPoints($('#@Html.IdFor(model => model.UseRewardPoints)'));
                        });
                </script>
            }
        </div>
    }
    @if (Model.PaymentMethods.Any())
    {
        <div class="card-inform row d-flex flex-wrap">
            @for (int i = 0; i < Model.PaymentMethods.Count; i++)
            {
                var paymentMethod = Model.PaymentMethods[i];
                var paymentMethodName = paymentMethod.Name;
                if (!String.IsNullOrEmpty(paymentMethod.Fee))
                {
                    paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                }

                <div class="col-12 col-sm-6">
                    <label class="custom-control custom-radio flex-row">
                        <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" class="custom-control-input">
                        <span class="custom-control-label"></span>

                        @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                        {
                            <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName"/>
                        }
                        @if (!string.IsNullOrEmpty(paymentMethod.Description))
                        {
                            <span class="custom-control-description pl-1 payment-label-font">
                                @paymentMethod.Description
                                @if (!String.IsNullOrEmpty(paymentMethod.Fee))
                                {
                                    <text>(@paymentMethod.Fee)</text>
                                }
                            </span>
                        }
                    </label>
                </div>
            }

            <div class="col-12 form-send">
                <button type="button" class="btn btn-outline-danger teen btn-inform">
                    Назад
                </button>
                <button type="button" class="btn btn-stand" onclick="PaymentMethod.save()">
                    Продолжить
                </button>
            </div>
        </div>
@*         <div class="card-inform row d-flex flex-wrap"> *@
@*             <div class="col-12 col-sm-6"> *@
@*                 <div class="custom-control custom-checkbox"> *@
@*                     <input type="checkbox" class="custom-control-input" name="paymentmethod" value="Payments.RoboKassa" id="paymentmethod_0"> *@
@*                     <label class="custom-control-label control-check" for="paymentmethod_0">Оплата онлайн</label> *@
@*                     <label class="desk-lab">(Visa/Mastercard комиссия 0%, МИР, QIWI, Халва, Webmoney)</label> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-12 col-sm-6"> *@
@*                 <div class="custom-control custom-checkbox"> *@
@*                     <input type="checkbox" class="custom-control-input" value="Payments.CashOnDelivery" name="paymentmethod" id="paymentmethod_1"> *@
@*                     <label class="custom-control-label control-check" for="paymentmethod_1">Наличными курьеру</label> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="col-12 form-send"> *@
@*                 <button type="button" class="btn btn-outline-danger teen btn-inform"> *@
@*                     Назад *@
@*                 </button> *@
@*                 <button type="button" class="btn btn-stand" onclick="PaymentMethod.save()"> *@
@*                     Продолжить *@
@*                 </button> *@
@*             </div> *@
@*         </div> *@
    }
    else
    {
        <div class="message-error">
            @T("Checkout.NoPaymentMethods")
        </div>
    }

@await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_payment_method_bottom" })
