﻿@model CheckoutShippingAddressModel
@using System.Text;

    @if (Model.AllowPickUpInStore && !Model.PickUpInStoreOnly && Model.PickupPoints.Any())
    {
        <div class="col-12 col-sm-6">
            <div class="custom-control custom-checkbox">
                <input asp-for="PickUpInStore" type="checkbox" class="custom-control-input" id="customCheck1" value="1" onclick="Shipping.togglePickUpInStore(this)"/>
                <label class="custom-control-label control-check" for="customCheck1">Самовывоз</label>
                <label class="desk-lab">Москва 115280 ул. Автозаводская, дом 16, корпус 2, строение 8</label>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" value="2" onclick="Shipping.togglePickUpInStore(this)">
                <label class="custom-control-label control-check" for="customCheck2">Доставка</label>
                <label class="desk-lab">Выберите адрес доставки из вашей адресной книги или введите новый адрес</label>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                Shipping.togglePickUpInStore($('#customCheck1'));
            });
        </script>
        <input asp-for="PickUpInStore" class="custom-control-input d-none" onclick="Shipping.togglePickUpInStore(this)"/>
    }

    @if (Model.AllowPickUpInStore)
    {
        <div class="col-12 card-sl" id="pickup-points-form">
            @if (Model.PickupPoints.Any())
            {
                if (Model.PickUpInStoreOnly)
                {
                    <input asp-for="PickUpInStore" type="hidden" />
                }
                
                    @if (Model.PickupPoints.Count == 1)
                    {
                        var point = Model.PickupPoints.First();
                        @Html.Hidden("pickup-point-id", point.Id)
                        <div class="section single-pickup-point">
                            <ul>
                                <li class="single-pickup-point name">@point.Name</li>
                                <li class="single-pickup-point address">@(string.Format("{0} {1} {2}", point.Address.City, point.Address.ZipPostalCode, point.Address.Address1))</li>
                                @if (!string.IsNullOrEmpty(point.PickupFee))
                                {
                                    <li class="single-pickup-point fee">@point.PickupFee</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        
                        <select class="custom-select w-100 my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            @foreach (var point in Model.PickupPoints)
                            {
                                var addressLine = new StringBuilder();
                                addressLine.Append(point.Name);
                                if (!string.IsNullOrEmpty(point.Address.City))
                                {
                                    addressLine.AppendFormat(", {0}", point.Address.City);
                                }
                                if (!string.IsNullOrEmpty(point.Address.ZipPostalCode))
                                {
                                    addressLine.AppendFormat(", {0}", point.Address.ZipPostalCode);
                                }
                                if (!string.IsNullOrEmpty(point.Address.Address1))
                                {
                                    addressLine.AppendFormat(", {0}", point.Address.Address1);
                                }
                                if (!string.IsNullOrEmpty(point.PickupFee))
                                {
                                    addressLine.AppendFormat(", {0}", point.PickupFee);
                                }
                                <option value="@point.Id">@(addressLine)</option>
                            }
                        </select>
                    }
                
            }
            <div class="section message-error">
                <ul>
                    @foreach (var warning in Model.Warnings)
                    {
                        <li>@warning</li>
                    }
                </ul>
            </div>
        </div>
    }


    @if (!Model.PickUpInStoreOnly)
    {
        <div class="col-12 card-sl" id="shipping-addresses-form">
            @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_shipping_address_top" })
            @if (Model.ExistingAddresses.Any())
            {
                
                        <select class="custom-select w-100 my-1 mr-sm-2" name="shipping_address_id" id="shipping-address-select" class="custom-select address-select"
                                title="" onchange="Shipping.newAddress(!this.value)">
                            @foreach (var address in Model.ExistingAddresses)
                            {
                                var addressLine = "";
                                addressLine += address.FirstName;
                                addressLine += " " + address.LastName;
                                if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
                                {
                                    addressLine += ", " + address.Address1;
                                }
                                if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
                                {
                                    addressLine += ", " + address.City;
                                }
                                if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
                                {
                                    addressLine += ", " + address.StateProvinceName;
                                }
                                if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
                                {
                                    addressLine += " " + address.ZipPostalCode;
                                }
                                if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
                                {
                                    addressLine += ", " + address.CountryName;
                                }
                                //how should we render "FormattedCustomAddressAttributes" here?
                                <option value="@(address.Id)">@(addressLine)</option>
                            }
                            <option value="" selected="@Model.NewAddressPreselected">@T("Checkout.NewAddress")</option>
                        </select>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_shipping_address_middle" })
            <div class="section new-shipping-address" id="shipping-new-address-form">
                <div class="enter-address">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    @{
                        var dataDictAddress = new ViewDataDictionary(ViewData);
                        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "ShippingNewAddress";
                        <partial name="_CreateOrUpdateAddress" model="Model.NewAddress" view-data="dataDictAddress" />
                    }
                </div>
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_shipping_address_bottom" })
        </div>
    }
