﻿@using Grand.Core;
@model PublicInfoModel
@inject IWorkContext workContext
@{
    var supportRtl = workContext.WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.Slider/Content/slider.rtl.js");
        Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.Slider/Content/style.rtl.css");
    } else
    {
        Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.Slider/Content/slider.js");
        Html.AddCssFileParts(ResourceLocation.Head, "~/Plugins/Widgets.Slider/Content/style.css");
    }
}


<section id="carouselSexLand" class="carousel d-flex justify-content-center slide" data-ride="carousel">
    <a href="#top" class="button-anchor slider-button-down d-flex justify-content-center align-items-center">
    </a>
    <ol class="carousel-indicators">
    @for (int i = 0; i < Model.Slide.Count; i++)
    {
        <svg data-target="#carouselSexLand" class="active" data-slide-to="0" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle class="handler" cx="5" cy="5" r="4.5" stroke="white"/>
            <circle class="indicators-circle" cx="5" cy="5" r="3" fill="white"/>
        </svg>
    }
    </ol>
    <div class="carousel-inner slide-top">
        @{
            string active = "active";
        }
        @for (int i = 0 ; i < Model.Slide.Count; i ++)
        {
            var item = Model.Slide[i];
            @if (i != 0)
            {
                active = "";
            }
            <div class="carousel-item @active">
                <img class="d-block w-100" src="@item.PictureUrl" alt="First slide">
                <div class="carousel-caption slider-mb carousel-title d-md-block">
                    <h5>Бесплатная доставка</h5>
                    <p>При заказе от 2900 рублей</p>
                    <a type="button" href="@item.Link" class="btn btn-slim">
                        Перейти в каталог
                    </a>
                    <div class="sub-title">
                        <p class="vuu-txt">Я полагаю, что секс – это самое прекрасное,
                            здоровое и естественное из всего,
                            что можно купить за деньги.</p>
                        <p class="signature-txt">Стив Мартин</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <a class="carousel-control-prev justify-content-end" href="#carouselSexLand" role="button" data-slide="prev">
        <span>
             <svg width="41" height="22" viewBox="0 0 41 22" fill="white" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.69385" y="10" width="39" height="2"/>
                <rect y="10.7251" width="14.9929" height="2" transform="rotate(-45.6714 0 10.7251)"/>
                <rect width="14" height="2" transform="matrix(0.698772 0.715344 0.715344 -0.698772 0.693848 11.3976)"/>
            </svg>
        </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next justify-content-start" href="#carouselSexLand" role="button" data-slide="next">
        <span>
            <svg width="40" height="21" viewBox="0 0 40 21" fill="white" xmlns="http://www.w3.org/2000/svg">
                <rect width="38.335" height="1.96148" transform="matrix(-1 0 0 1 38.3351 9.80737)"/>
                <rect width="14.7203" height="1.96374" transform="matrix(-0.699576 -0.714558 -0.71613 0.697967 40 10.5186)"/>
                <rect width="13.7455" height="1.96374" transform="matrix(-0.699576 0.714558 -0.71613 -0.697967 39.318 11.1781)"/>
            </svg>
        </span>
        <span class="sr-only">Next</span>
    </a>
</section>
