﻿@model IList<CategoryModel>
@inject DisplayOrderHomePage order
<section class="container catalog-tent">
    <div class="row catalog-category">
        @{ int[] arrayBlock = {0, 1, 6, 7}; }
        @foreach (var item in Model)
        {
            
            <div class="col-xl-3 col-6 col-sm-6 d-flex justify-content-center align-items-center">
                <div class="overlay d-flex justify-content-center align-items-center w-100 h-100">
                    <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title">
                    <div class="widget-cat flex-column d-flex align-items-center">
                        <h4>@item.Name</h4>
                        <div class="border-widget"></div>
                        <div class="widget-cat-button">
                            <a href="@Url.RouteUrl("Category", new {SeName = item.SeName})" title="@item.PictureModel.Title">
                                                                <button type="button" class="btn btn-cat">
                                                                    В каталог
                                                                </button>
                                                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</section>