﻿@model FooterModel
@await Component.InvokeAsync("NewsletterBox")


<footer>
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-5 col-md-12 footer-inform">
                <a href="#"><img src="../Themes/DefaultClean/Content/images/partner/logo.png" alt=""></a>
                <p>@Model.CompanyAddress</p>
                <p>@T("Footer.Hour.Title"): @Model.CompanyHours</p>
                <p>@Model.CompanyPhone</p>
                <p>@Model.CompanyEmail</p>
                <p>Заказы на сайте принимаются круглосуточно 24/7</p>
            </div>
            <div class="row d-none w-100 loest">
                <div class="col-lg-3 justify-content-center col-md-12 footer-len">
                    <ul class="d-flex d-flex align-items-center icon-social justify-content-between">
                        <a href="#">
                                                <li>
                                                    <svg id="Bold" enable-background="new 0 0 24 24" height="30" fill="#999999" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/></svg>
                                                </li>
                                            </a>
                                             @if (!string.IsNullOrEmpty(Model.FacebookLink))
                                             {
                                                 <a href="@Model.FacebookLink" target="_blank">
                                                     <li>
                                                         <svg width="24" height="24" viewBox="0 0 30 30" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M22.4988 0.006242L18.6085 0C14.2379 0 11.4134 2.89785 11.4134 7.38304V10.7871H7.50188C7.16388 10.7871 6.89017 11.0611 6.89017 11.3991V16.3313C6.89017 16.6693 7.16419 16.943 7.50188 16.943H11.4134V29.3883C11.4134 29.7263 11.6871 30 12.0251 30H17.1285C17.4665 30 17.7402 29.726 17.7402 29.3883V16.943H22.3137C22.6517 16.943 22.9254 16.6693 22.9254 16.3313L22.9273 11.3991C22.9273 11.2369 22.8627 11.0814 22.7481 10.9666C22.6336 10.8517 22.4775 10.7871 22.3152 10.7871H17.7402V7.90144C17.7402 6.51447 18.0707 5.81037 19.8775 5.81037L22.4981 5.80943C22.8358 5.80943 23.1095 5.53541 23.1095 5.19772V0.617958C23.1095 0.280578 22.8361 0.0068662 22.4988 0.006242Z" />
                                                         </svg>
                                                     </li>
                                                 </a>
                                             }
                                            @if (!string.IsNullOrEmpty(Model.InstagramLink))
                                            {
                                                <a href="@Model.InstagramLink" target="_blank">
                                                    <li>
                                                        <svg width="20" height="20" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M23.4 0H2.6C1.17 0 0 1.17 0 2.6V23.4C0 24.83 1.17 26 2.6 26H23.4C24.83 26 26 24.83 26 23.4V2.6C26 1.17 24.83 0 23.4 0ZM13 7.8C15.86 7.8 18.2 10.14 18.2 13C18.2 15.86 15.86 18.2 13 18.2C10.14 18.2 7.8 15.86 7.8 13C7.8 10.14 10.14 7.8 13 7.8ZM3.25 23.4C2.86 23.4 2.6 23.14 2.6 22.75V11.7H5.33C5.2 12.09 5.2 12.61 5.2 13C5.2 17.29 8.71 20.8 13 20.8C17.29 20.8 20.8 17.29 20.8 13C20.8 12.61 20.8 12.09 20.67 11.7H23.4V22.75C23.4 23.14 23.14 23.4 22.75 23.4H3.25ZM23.4 5.85C23.4 6.24 23.14 6.5 22.75 6.5H20.15C19.76 6.5 19.5 6.24 19.5 5.85V3.25C19.5 2.86 19.76 2.6 20.15 2.6H22.75C23.14 2.6 23.4 2.86 23.4 3.25V5.85Z"/>
                                                        </svg>
                                                    </li>
                                                </a>
                                                
                                            }
                                            @if (!string.IsNullOrEmpty(Model.TwitterLink))
                                            {
                                                <a href="@Model.TwitterLink" target="_blank">
                                                    <li>
                                                        <svg width="26" height="26" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M8.47028 22.7612C17.6689 22.7612 22.6992 15.1404 22.6992 8.53226C22.6992 8.31581 22.6947 8.10027 22.685 7.88591C23.6614 7.17995 24.51 6.29898 25.1796 5.29622C24.2836 5.69467 23.3192 5.96254 22.3078 6.08373C23.3402 5.46437 24.1329 4.48502 24.5067 3.31755C23.5405 3.8904 22.4704 4.30659 21.3312 4.53138C20.4187 3.55933 19.1193 2.95145 17.6807 2.95145C14.9191 2.95145 12.6794 5.19098 12.6794 7.95165C12.6794 8.34429 12.7234 8.72589 12.8091 9.09199C8.65273 8.88285 4.96697 6.893 2.50071 3.867C2.0714 4.60591 1.82366 5.46452 1.82366 6.38067C1.82366 8.11547 2.70656 9.6474 4.04903 10.5433C3.22859 10.5181 2.45792 10.2929 1.78415 9.91796C1.78341 9.93897 1.78341 9.9594 1.78341 9.98175C1.78341 12.4037 3.50719 14.426 5.79577 14.8842C5.37541 14.9985 4.93313 15.0601 4.477 15.0601C4.15532 15.0601 3.84169 15.0285 3.537 14.9699C4.17365 16.9569 6.01996 18.4028 8.20882 18.4434C6.49712 19.785 4.3409 20.5841 1.99746 20.5841C1.5944 20.5841 1.19595 20.561 0.804504 20.5148C3.01781 21.9334 5.64596 22.7613 8.47043 22.7613"/>
                                                        </svg>
                                                    </li>
                                                </a>
                                                
                                            }
                                            @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                                            {
                                            <a href="@Model.YoutubeLink" target="_blank">
                                                <li>
                                                    <svg width="26" height="26" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M23.5943 13.163C23.3257 11.9957 22.3708 11.1347 21.2216 11.0065C18.5008 10.7026 15.7456 10.7011 13.0039 10.7026C10.261 10.7011 7.50636 10.7026 4.7847 11.0065C3.63605 11.1349 2.68181 11.996 2.41342 13.163C2.03092 14.8252 2.02634 16.6396 2.02634 18.3511C2.02634 20.0626 2.02634 21.8768 2.40884 23.539C2.67722 24.706 3.63146 25.567 4.78068 25.6955C7.50177 25.9997 10.2564 26.0009 12.999 25.9997C15.7419 26.0011 18.4959 25.9997 21.2179 25.6955C22.3665 25.567 23.3214 24.706 23.5897 23.539C23.9719 21.8768 23.974 20.0626 23.974 18.3511C23.9737 16.6393 23.9765 14.8252 23.5943 13.163ZM8.28656 14.4513H6.69806V22.8921H5.22254V14.4513H3.663V13.0687H8.28656V14.4513ZM12.2942 22.8924H10.9669V22.0938C10.4396 22.6983 9.93899 22.993 9.45126 22.993C9.02375 22.993 8.72956 22.8199 8.5968 22.4491C8.52454 22.2277 8.47981 21.8774 8.47981 21.3607V15.5727H9.80595V20.9618C9.80595 21.2726 9.80595 21.4341 9.81799 21.4777C9.84982 21.6835 9.95046 21.7879 10.1282 21.7879C10.3943 21.7879 10.6725 21.5829 10.9666 21.1668V15.5727H12.2939L12.2942 22.8924ZM17.333 20.6955C17.333 21.3724 17.2874 21.8602 17.1988 22.1704C17.0216 22.7149 16.6669 22.993 16.1393 22.993C15.6673 22.993 15.212 22.731 14.7684 22.1833V22.8927H13.4423V13.0687H14.7684V16.2769C15.1968 15.7496 15.6516 15.483 16.1393 15.483C16.6669 15.483 17.0218 15.7608 17.1988 16.3087C17.2879 16.6032 17.333 17.0872 17.333 17.7802V20.6955ZM22.3384 19.4743H19.6859V20.7717C19.6859 21.4493 19.9075 21.7876 20.3634 21.7876C20.69 21.7876 20.8801 21.6101 20.9558 21.2557C20.9681 21.1838 20.9856 20.889 20.9856 20.3571H22.3387V20.5507C22.3387 20.9782 22.3224 21.2726 22.3103 21.4051C22.2659 21.6987 22.1615 21.9651 22.0007 22.1996C21.6334 22.7312 21.0891 22.9933 20.3964 22.9933C19.7025 22.9933 19.1743 22.7436 18.791 22.2438C18.5097 21.8774 18.3652 21.3005 18.3652 20.5226V17.9589C18.3652 17.1764 18.4934 16.6041 18.7752 16.2342C19.1583 15.7333 19.6862 15.4838 20.3637 15.4838C21.0292 15.4838 21.5568 15.7333 21.9284 16.2342C22.2062 16.6041 22.339 17.1764 22.339 17.9589V19.4743H22.3384Z"/>
                                                        <path d="M20.3517 16.6772C19.9084 16.6772 19.6862 17.0158 19.6862 17.6925V18.3698H21.0123V17.6925C21.012 17.0158 20.7904 16.6772 20.3517 16.6772Z" fill="#999999"/>
                                                        <path d="M15.4296 16.6772C15.2111 16.6772 14.9898 16.7804 14.7681 16.9998V21.461C14.9895 21.6829 15.2111 21.7879 15.4296 21.7879C15.8121 21.7879 16.0065 21.461 16.0065 20.8001V17.6759C16.0065 17.0158 15.8121 16.6772 15.4296 16.6772Z" fill="#999999"/>
                                                        <path d="M16.1705 10.0279C16.6594 10.0279 17.1681 9.73081 17.7017 9.1195V9.92636H19.0422V2.52896H17.7017V8.18274C17.4046 8.60252 17.1231 8.81011 16.855 8.81011C16.6755 8.81011 16.57 8.70402 16.5407 8.49614C16.5244 8.45227 16.5244 8.28912 16.5244 7.97515V2.52896H15.1882V8.37829C15.1882 8.90072 15.2329 9.25426 15.3069 9.4782C15.4417 9.85296 15.739 10.0279 16.1705 10.0279Z" fill="#999999"/>
                                                        <path d="M6.83884 5.90611V9.92638H8.32526V5.90611L10.1133 0H8.61027L7.5961 3.89812L6.54093 0H4.97681C5.2902 0.920123 5.61622 1.84483 5.92962 2.76582C6.40645 4.15016 6.70408 5.19386 6.83884 5.90611Z" fill="#999999"/>
                                                        <path d="M12.1055 10.0279C12.7771 10.0279 13.2989 9.77527 13.6691 9.27062C13.9504 8.90045 14.0851 8.31723 14.0851 7.53101V4.94068C14.0851 4.14987 13.9507 3.57182 13.6691 3.19821C13.2989 2.69213 12.7774 2.43951 12.1055 2.43951C11.4375 2.43951 10.9159 2.69213 10.5449 3.19821C10.2601 3.57182 10.1254 4.14987 10.1254 4.94068V7.53101C10.1254 8.31723 10.2601 8.90045 10.5449 9.27062C10.9156 9.77527 11.4375 10.0279 12.1055 10.0279ZM11.4658 4.67201C11.4658 3.98758 11.6734 3.64637 12.1055 3.64637C12.5376 3.64637 12.7447 3.98729 12.7447 4.67201V7.78363C12.7447 8.46806 12.5376 8.81041 12.1055 8.81041C11.6734 8.81041 11.4658 8.46806 11.4658 7.78363V4.67201Z" fill="#999999"/>
                                                    </svg>
                                                </li>
                                            </a>
                                            }
                                            
                                            <a href="#">
                                                <li>
                                                    <svg width="26" height="26" viewBox="0 0 30 30" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M29.1375 18.1837C29.355 17.2069 29.4675 16.1944 29.4675 15.1556C29.4675 7.365 23.0625 1.04813 15.1594 1.04813C14.3269 1.04813 13.5094 1.11938 12.7125 1.25438C11.4338 0.46125 9.92063 0 8.29875 0C3.71438 0 0 3.66187 0 8.1825C0 9.69187 0.41625 11.1038 1.14 12.3206C0.950625 13.2356 0.849375 14.1844 0.849375 15.1556C0.849375 22.9481 7.25625 29.265 15.1575 29.265C16.0537 29.265 16.9294 29.1825 17.7788 29.0288C18.9488 29.6475 20.2837 30 21.7031 30C26.2856 30 30 26.3363 30 21.8194C30 20.5125 29.6887 19.2806 29.1375 18.1837ZM22.4981 21.8981C21.8362 22.8225 20.8594 23.5538 19.59 24.0713C18.3356 24.5869 16.8338 24.8494 15.12 24.8494C13.065 24.8494 11.3419 24.4931 9.99562 23.7881C9.03375 23.2763 8.2425 22.5844 7.64062 21.7256C7.03125 20.8631 6.72562 20.0062 6.72562 19.1775C6.72562 18.6619 6.92625 18.2138 7.32187 17.8481C7.71375 17.4825 8.21625 17.3006 8.81625 17.3006C9.3075 17.3006 9.73125 17.445 10.0763 17.7319C10.4044 18.0075 10.6875 18.4162 10.9144 18.9394C11.1675 19.5131 11.4431 19.9969 11.7337 20.3738C12.0169 20.7431 12.42 21.0506 12.9356 21.2925C13.455 21.5325 14.1544 21.6581 15.0131 21.6581C16.1962 21.6581 17.1675 21.4088 17.895 20.9175C18.6094 20.4394 18.9544 19.8619 18.9544 19.1569C18.9544 18.6019 18.7725 18.1631 18.4031 17.82C18.0131 17.46 17.4994 17.1806 16.8769 16.9875C16.2263 16.7888 15.3431 16.5713 14.2519 16.3463C12.765 16.0331 11.5031 15.6619 10.5019 15.24C9.47625 14.8088 8.6475 14.2125 8.04375 13.4663C7.42875 12.7069 7.1175 11.7562 7.1175 10.6387C7.1175 9.57375 7.44375 8.61375 8.08875 7.785C8.72813 6.96187 9.66187 6.31875 10.8675 5.88188C12.0544 5.44875 13.4662 5.22938 15.0656 5.22938C16.3425 5.22938 17.4656 5.37562 18.405 5.66437C19.3481 5.95312 20.1431 6.34313 20.7675 6.825C21.3975 7.3125 21.8662 7.82812 22.1587 8.36812C22.455 8.91187 22.6069 9.45375 22.6069 9.97688C22.6069 10.4813 22.41 10.9406 22.02 11.3381C21.6263 11.7412 21.1313 11.9437 20.55 11.9437C20.0213 11.9437 19.605 11.8144 19.3181 11.565C19.05 11.3306 18.7706 10.965 18.4631 10.4438C18.1069 9.77625 17.6737 9.24938 17.1787 8.87625C16.6969 8.51438 15.8944 8.33438 14.7881 8.33438C13.7644 8.33438 12.9281 8.53688 12.3094 8.93813C11.7131 9.3225 11.4225 9.765 11.4225 10.29C11.4225 10.6106 11.5162 10.8788 11.7094 11.1094C11.9119 11.3569 12.1987 11.5687 12.5625 11.7487C12.9375 11.9344 13.3256 12.0844 13.7138 12.1894C14.1113 12.2981 14.7769 12.4612 15.6937 12.6694C16.8525 12.9131 17.9156 13.1887 18.8569 13.4869C19.8113 13.785 20.6325 14.1544 21.3075 14.5875C21.9919 15.0281 22.5337 15.5906 22.92 16.2656C23.3062 16.9463 23.5013 17.7806 23.5013 18.7519C23.4994 19.9125 23.1619 20.9719 22.4981 21.8981Z"/>
                                                    </svg>
                                                </li>
                                            </a>
                    </ul>
                </div>

                <div class="col-6 justify-content-center d-flex footer-menu">
                    <ul>
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterRow1).ToList())
                                       {
                                           <li ><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                                       }
                                       @if (Model.NewsEnabled)
                                       {
                                           <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                                       }
                       
                    </ul>
                </div>
                <div class="col-6 justify-content-center d-flex footer-menu">
                    <ul>
                        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                                            @if (Model.CompareProductsEnabled)
                                            {
                                                 <li ><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                                            }
                                            @if (Model.RecentlyViewedProductsEnabled)
                                            {
                                                <li ><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                                            }
                                            <li ><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                                            @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterRow3).ToList())
                                            {
                                                <li ><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                                            }
                    </ul>
                </div>
            </div>
            <div class="col-3 footer-menu d-n">
                <ul>
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterRow1).ToList())
                {
                    <li ><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                @if (Model.NewsEnabled)
                {
                    <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                }
                </ul>
            </div>
            <div class="col-4 footer-menu d-n">
                <ul>
                    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                    @if (Model.CompareProductsEnabled)
                    {
                         <li ><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                    }
                    @if (Model.RecentlyViewedProductsEnabled)
                    {
                        <li ><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                    }
                    <li ><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterRow3).ToList())
                    {
                        <li ><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-12 footer-len d-n">
                <ul class="d-flex d-flex align-items-center icon-social justify-content-between">
                    <a href="#">
                        <li>
                            <svg id="Bold" enable-background="new 0 0 24 24" height="30" fill="#999999" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg"><path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/></svg>
                        </li>
                    </a>
                     @if (!string.IsNullOrEmpty(Model.FacebookLink))
                     {
                         <a href="@Model.FacebookLink" target="_blank">
                             <li>
                                 <svg width="24" height="24" viewBox="0 0 30 30" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                     <path d="M22.4988 0.006242L18.6085 0C14.2379 0 11.4134 2.89785 11.4134 7.38304V10.7871H7.50188C7.16388 10.7871 6.89017 11.0611 6.89017 11.3991V16.3313C6.89017 16.6693 7.16419 16.943 7.50188 16.943H11.4134V29.3883C11.4134 29.7263 11.6871 30 12.0251 30H17.1285C17.4665 30 17.7402 29.726 17.7402 29.3883V16.943H22.3137C22.6517 16.943 22.9254 16.6693 22.9254 16.3313L22.9273 11.3991C22.9273 11.2369 22.8627 11.0814 22.7481 10.9666C22.6336 10.8517 22.4775 10.7871 22.3152 10.7871H17.7402V7.90144C17.7402 6.51447 18.0707 5.81037 19.8775 5.81037L22.4981 5.80943C22.8358 5.80943 23.1095 5.53541 23.1095 5.19772V0.617958C23.1095 0.280578 22.8361 0.0068662 22.4988 0.006242Z" />
                                 </svg>
                             </li>
                         </a>
                     }
                    @if (!string.IsNullOrEmpty(Model.InstagramLink))
                    {
                        <a href="@Model.InstagramLink" target="_blank">
                            <li>
                                <svg width="20" height="20" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.4 0H2.6C1.17 0 0 1.17 0 2.6V23.4C0 24.83 1.17 26 2.6 26H23.4C24.83 26 26 24.83 26 23.4V2.6C26 1.17 24.83 0 23.4 0ZM13 7.8C15.86 7.8 18.2 10.14 18.2 13C18.2 15.86 15.86 18.2 13 18.2C10.14 18.2 7.8 15.86 7.8 13C7.8 10.14 10.14 7.8 13 7.8ZM3.25 23.4C2.86 23.4 2.6 23.14 2.6 22.75V11.7H5.33C5.2 12.09 5.2 12.61 5.2 13C5.2 17.29 8.71 20.8 13 20.8C17.29 20.8 20.8 17.29 20.8 13C20.8 12.61 20.8 12.09 20.67 11.7H23.4V22.75C23.4 23.14 23.14 23.4 22.75 23.4H3.25ZM23.4 5.85C23.4 6.24 23.14 6.5 22.75 6.5H20.15C19.76 6.5 19.5 6.24 19.5 5.85V3.25C19.5 2.86 19.76 2.6 20.15 2.6H22.75C23.14 2.6 23.4 2.86 23.4 3.25V5.85Z"/>
                                </svg>
                            </li>
                        </a>
                        
                    }
                    @if (!string.IsNullOrEmpty(Model.TwitterLink))
                    {
                        <a href="@Model.TwitterLink" target="_blank">
                            <li>
                                <svg width="26" height="26" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.47028 22.7612C17.6689 22.7612 22.6992 15.1404 22.6992 8.53226C22.6992 8.31581 22.6947 8.10027 22.685 7.88591C23.6614 7.17995 24.51 6.29898 25.1796 5.29622C24.2836 5.69467 23.3192 5.96254 22.3078 6.08373C23.3402 5.46437 24.1329 4.48502 24.5067 3.31755C23.5405 3.8904 22.4704 4.30659 21.3312 4.53138C20.4187 3.55933 19.1193 2.95145 17.6807 2.95145C14.9191 2.95145 12.6794 5.19098 12.6794 7.95165C12.6794 8.34429 12.7234 8.72589 12.8091 9.09199C8.65273 8.88285 4.96697 6.893 2.50071 3.867C2.0714 4.60591 1.82366 5.46452 1.82366 6.38067C1.82366 8.11547 2.70656 9.6474 4.04903 10.5433C3.22859 10.5181 2.45792 10.2929 1.78415 9.91796C1.78341 9.93897 1.78341 9.9594 1.78341 9.98175C1.78341 12.4037 3.50719 14.426 5.79577 14.8842C5.37541 14.9985 4.93313 15.0601 4.477 15.0601C4.15532 15.0601 3.84169 15.0285 3.537 14.9699C4.17365 16.9569 6.01996 18.4028 8.20882 18.4434C6.49712 19.785 4.3409 20.5841 1.99746 20.5841C1.5944 20.5841 1.19595 20.561 0.804504 20.5148C3.01781 21.9334 5.64596 22.7613 8.47043 22.7613"/>
                                </svg>
                            </li>
                        </a>
                        
                    }
                    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                    {
                    <a href="@Model.YoutubeLink" target="_blank">
                        <li>
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                <path d="M23.5943 13.163C23.3257 11.9957 22.3708 11.1347 21.2216 11.0065C18.5008 10.7026 15.7456 10.7011 13.0039 10.7026C10.261 10.7011 7.50636 10.7026 4.7847 11.0065C3.63605 11.1349 2.68181 11.996 2.41342 13.163C2.03092 14.8252 2.02634 16.6396 2.02634 18.3511C2.02634 20.0626 2.02634 21.8768 2.40884 23.539C2.67722 24.706 3.63146 25.567 4.78068 25.6955C7.50177 25.9997 10.2564 26.0009 12.999 25.9997C15.7419 26.0011 18.4959 25.9997 21.2179 25.6955C22.3665 25.567 23.3214 24.706 23.5897 23.539C23.9719 21.8768 23.974 20.0626 23.974 18.3511C23.9737 16.6393 23.9765 14.8252 23.5943 13.163ZM8.28656 14.4513H6.69806V22.8921H5.22254V14.4513H3.663V13.0687H8.28656V14.4513ZM12.2942 22.8924H10.9669V22.0938C10.4396 22.6983 9.93899 22.993 9.45126 22.993C9.02375 22.993 8.72956 22.8199 8.5968 22.4491C8.52454 22.2277 8.47981 21.8774 8.47981 21.3607V15.5727H9.80595V20.9618C9.80595 21.2726 9.80595 21.4341 9.81799 21.4777C9.84982 21.6835 9.95046 21.7879 10.1282 21.7879C10.3943 21.7879 10.6725 21.5829 10.9666 21.1668V15.5727H12.2939L12.2942 22.8924ZM17.333 20.6955C17.333 21.3724 17.2874 21.8602 17.1988 22.1704C17.0216 22.7149 16.6669 22.993 16.1393 22.993C15.6673 22.993 15.212 22.731 14.7684 22.1833V22.8927H13.4423V13.0687H14.7684V16.2769C15.1968 15.7496 15.6516 15.483 16.1393 15.483C16.6669 15.483 17.0218 15.7608 17.1988 16.3087C17.2879 16.6032 17.333 17.0872 17.333 17.7802V20.6955ZM22.3384 19.4743H19.6859V20.7717C19.6859 21.4493 19.9075 21.7876 20.3634 21.7876C20.69 21.7876 20.8801 21.6101 20.9558 21.2557C20.9681 21.1838 20.9856 20.889 20.9856 20.3571H22.3387V20.5507C22.3387 20.9782 22.3224 21.2726 22.3103 21.4051C22.2659 21.6987 22.1615 21.9651 22.0007 22.1996C21.6334 22.7312 21.0891 22.9933 20.3964 22.9933C19.7025 22.9933 19.1743 22.7436 18.791 22.2438C18.5097 21.8774 18.3652 21.3005 18.3652 20.5226V17.9589C18.3652 17.1764 18.4934 16.6041 18.7752 16.2342C19.1583 15.7333 19.6862 15.4838 20.3637 15.4838C21.0292 15.4838 21.5568 15.7333 21.9284 16.2342C22.2062 16.6041 22.339 17.1764 22.339 17.9589V19.4743H22.3384Z"/>
                                <path d="M20.3517 16.6772C19.9084 16.6772 19.6862 17.0158 19.6862 17.6925V18.3698H21.0123V17.6925C21.012 17.0158 20.7904 16.6772 20.3517 16.6772Z" fill="#999999"/>
                                <path d="M15.4296 16.6772C15.2111 16.6772 14.9898 16.7804 14.7681 16.9998V21.461C14.9895 21.6829 15.2111 21.7879 15.4296 21.7879C15.8121 21.7879 16.0065 21.461 16.0065 20.8001V17.6759C16.0065 17.0158 15.8121 16.6772 15.4296 16.6772Z" fill="#999999"/>
                                <path d="M16.1705 10.0279C16.6594 10.0279 17.1681 9.73081 17.7017 9.1195V9.92636H19.0422V2.52896H17.7017V8.18274C17.4046 8.60252 17.1231 8.81011 16.855 8.81011C16.6755 8.81011 16.57 8.70402 16.5407 8.49614C16.5244 8.45227 16.5244 8.28912 16.5244 7.97515V2.52896H15.1882V8.37829C15.1882 8.90072 15.2329 9.25426 15.3069 9.4782C15.4417 9.85296 15.739 10.0279 16.1705 10.0279Z" fill="#999999"/>
                                <path d="M6.83884 5.90611V9.92638H8.32526V5.90611L10.1133 0H8.61027L7.5961 3.89812L6.54093 0H4.97681C5.2902 0.920123 5.61622 1.84483 5.92962 2.76582C6.40645 4.15016 6.70408 5.19386 6.83884 5.90611Z" fill="#999999"/>
                                <path d="M12.1055 10.0279C12.7771 10.0279 13.2989 9.77527 13.6691 9.27062C13.9504 8.90045 14.0851 8.31723 14.0851 7.53101V4.94068C14.0851 4.14987 13.9507 3.57182 13.6691 3.19821C13.2989 2.69213 12.7774 2.43951 12.1055 2.43951C11.4375 2.43951 10.9159 2.69213 10.5449 3.19821C10.2601 3.57182 10.1254 4.14987 10.1254 4.94068V7.53101C10.1254 8.31723 10.2601 8.90045 10.5449 9.27062C10.9156 9.77527 11.4375 10.0279 12.1055 10.0279ZM11.4658 4.67201C11.4658 3.98758 11.6734 3.64637 12.1055 3.64637C12.5376 3.64637 12.7447 3.98729 12.7447 4.67201V7.78363C12.7447 8.46806 12.5376 8.81041 12.1055 8.81041C11.6734 8.81041 11.4658 8.46806 11.4658 7.78363V4.67201Z" fill="#999999"/>
                            </svg>
                        </li>
                    </a>
                    }
                    
                    <a href="#">
                        <li>
                            <svg width="26" height="26" viewBox="0 0 30 30" fill="#999999" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.1375 18.1837C29.355 17.2069 29.4675 16.1944 29.4675 15.1556C29.4675 7.365 23.0625 1.04813 15.1594 1.04813C14.3269 1.04813 13.5094 1.11938 12.7125 1.25438C11.4338 0.46125 9.92063 0 8.29875 0C3.71438 0 0 3.66187 0 8.1825C0 9.69187 0.41625 11.1038 1.14 12.3206C0.950625 13.2356 0.849375 14.1844 0.849375 15.1556C0.849375 22.9481 7.25625 29.265 15.1575 29.265C16.0537 29.265 16.9294 29.1825 17.7788 29.0288C18.9488 29.6475 20.2837 30 21.7031 30C26.2856 30 30 26.3363 30 21.8194C30 20.5125 29.6887 19.2806 29.1375 18.1837ZM22.4981 21.8981C21.8362 22.8225 20.8594 23.5538 19.59 24.0713C18.3356 24.5869 16.8338 24.8494 15.12 24.8494C13.065 24.8494 11.3419 24.4931 9.99562 23.7881C9.03375 23.2763 8.2425 22.5844 7.64062 21.7256C7.03125 20.8631 6.72562 20.0062 6.72562 19.1775C6.72562 18.6619 6.92625 18.2138 7.32187 17.8481C7.71375 17.4825 8.21625 17.3006 8.81625 17.3006C9.3075 17.3006 9.73125 17.445 10.0763 17.7319C10.4044 18.0075 10.6875 18.4162 10.9144 18.9394C11.1675 19.5131 11.4431 19.9969 11.7337 20.3738C12.0169 20.7431 12.42 21.0506 12.9356 21.2925C13.455 21.5325 14.1544 21.6581 15.0131 21.6581C16.1962 21.6581 17.1675 21.4088 17.895 20.9175C18.6094 20.4394 18.9544 19.8619 18.9544 19.1569C18.9544 18.6019 18.7725 18.1631 18.4031 17.82C18.0131 17.46 17.4994 17.1806 16.8769 16.9875C16.2263 16.7888 15.3431 16.5713 14.2519 16.3463C12.765 16.0331 11.5031 15.6619 10.5019 15.24C9.47625 14.8088 8.6475 14.2125 8.04375 13.4663C7.42875 12.7069 7.1175 11.7562 7.1175 10.6387C7.1175 9.57375 7.44375 8.61375 8.08875 7.785C8.72813 6.96187 9.66187 6.31875 10.8675 5.88188C12.0544 5.44875 13.4662 5.22938 15.0656 5.22938C16.3425 5.22938 17.4656 5.37562 18.405 5.66437C19.3481 5.95312 20.1431 6.34313 20.7675 6.825C21.3975 7.3125 21.8662 7.82812 22.1587 8.36812C22.455 8.91187 22.6069 9.45375 22.6069 9.97688C22.6069 10.4813 22.41 10.9406 22.02 11.3381C21.6263 11.7412 21.1313 11.9437 20.55 11.9437C20.0213 11.9437 19.605 11.8144 19.3181 11.565C19.05 11.3306 18.7706 10.965 18.4631 10.4438C18.1069 9.77625 17.6737 9.24938 17.1787 8.87625C16.6969 8.51438 15.8944 8.33438 14.7881 8.33438C13.7644 8.33438 12.9281 8.53688 12.3094 8.93813C11.7131 9.3225 11.4225 9.765 11.4225 10.29C11.4225 10.6106 11.5162 10.8788 11.7094 11.1094C11.9119 11.3569 12.1987 11.5687 12.5625 11.7487C12.9375 11.9344 13.3256 12.0844 13.7138 12.1894C14.1113 12.2981 14.7769 12.4612 15.6937 12.6694C16.8525 12.9131 17.9156 13.1887 18.8569 13.4869C19.8113 13.785 20.6325 14.1544 21.3075 14.5875C21.9919 15.0281 22.5337 15.5906 22.92 16.2656C23.3062 16.9463 23.5013 17.7806 23.5013 18.7519C23.4994 19.9125 23.1619 20.9719 22.4981 21.8981Z"/>
                            </svg>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-9 col-md-12 d-flex justify-content-end">
                <div class="partner d-flex align-items-center">
                    <img src="../Themes/DefaultClean/Content/images/partner/visa.png" alt="">
                    <img src="../Themes/DefaultClean/Content/images/partner/master.png" alt="">
                    <img src="../Themes/DefaultClean/Content/images/partner/yandex.png" alt="">
                    <img src="../Themes/DefaultClean/Content/images/partner/webmoney.png" alt="">
                    <img src="../Themes/DefaultClean/Content/images/partner/mir.png" alt="">
                </div>
            </div>
        </div>
        <div class="row copy">
            <div class="col-12 d-flex justify-content-center">
            @T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)
            @if (Model.DisplayTaxShippingInfoFooter)
            {

                    @T(Model.InclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeName("shippinginfo", Context) }))

            }
            
            <div class="col-12 col-md-4 pb-1 pt-1 text-center text-lg-right">
                <a class="pr-1 text-success" href="https://grandnode.com/">GrandNode</a>
                <span>- Powered by </span>
                <a href="https://nopcommerce.com/" rel="nofollow">nopCommerce </a>
            </div>
            </div>
        </div>
    </div>
</footer>
