﻿@model CategoryNavigationModel.CategoryLineModel
@functions{
    public bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (String.IsNullOrEmpty(Model.CurrentCategoryId))
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }
}
@{
    bool active = Model.Category.Id == Model.CurrentCategoryId || Model.Category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
    bool last = Model.Category.Id == Model.CurrentCategoryId;
    string liClass = active ? "category-active" : "inactive";
    if (last)
    {
        liClass += " last";
    }
}

    <a class="@liClass" href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
        @Model.Category.Name
    </a>
    @{
        if (Model.Category.Id == Model.CurrentCategoryId ||
            Model.Category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
        {
            if (Model.Category.SubCategories.Any())
            {
                <div class="cat-sub d-flex flex-column">
                    <ul class="seo-list">
                        @foreach (var subCategory in Model.Category.SubCategories)
                        {
                            var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                            {
                                CurrentCategoryId = Model.CurrentCategoryId,
                                Category = subCategory
                            };
                            <li>
                                <partial name="_CategoryLine.Navigation" model="categoryLineModel"/>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    }

