﻿@model AddressModel

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script asp-location="Footer">
        $(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<input asp-for="Id" type="hidden" />

    <div class="col-6">
        <div class="form-group">
            <label asp-for="LastName" >@T("Address.Fields.FirstName")<span class="info-label">*</span></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>
    
    <div class="col-6">
        <div class="form-group">
            <label  asp-for="LastName">@T("Address.Fields.LastName")<span class="info-label">*</span></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    
    <div class="col-6">
        <div class="form-group">
            <label asp-for="Email">@T("Address.Fields.Email")</label><span class="info-label">*</span>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    
    
    @if (Model.CompanyEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Company">@T("Address.Fields.Company")</label>
                @if (Model.CompanyRequired)
                {
                    <span class="info-label">*</span>
                }
                <input asp-for="Company" class="form-control"/>
                <span asp-validation-for="Company"></span>
            </div>
        </div>
    }
    @if (Model.VatNumberEnabled)
    {
    
        <div class="col-6">
            <div class="form-group">
                <label asp-for="VatNumber">@T("Address.Fields.VatNumber")</label>
                @if (Model.VatNumberRequired)
                {
                    <span class="info-label">*</span>
                }
                <input asp-for="VatNumber" class="form-control"/>
                <span asp-validation-for="VatNumber"></span>
            </div>
        </div>
    }
    @if (Model.CountryEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="CountryId">@T("Address.Fields.Country")</label><span class="info-label">*</span>
                  <select asp-for="CountryId" asp-items="Model.AvailableCountries" class="custom-select form-control"></select>
                <span asp-validation-for="CountryId"></span>
            </div>
        </div>
      
    }

    @if (Model.CountryEnabled && Model.StateProvinceEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="StateProvinceId" >@T("Address.Fields.StateProvince")</label>
                <select asp-for="StateProvinceId" class="custom-select form-control" asp-items="Model.AvailableStates"></select>
                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                <span asp-validation-for="StateProvinceId"></span>
            </div>
         </div>
    }
    @if (Model.CityEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="City">@T("Address.Fields.City")</label>
                @if (Model.CityRequired)
                {
                    <span class="info-label">*</span>
                }
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City"></span>
            </div>
        </div>
    }
    @if (Model.StreetAddressEnabled)
    {
        <div class="col-6">
                    <div class="form-group">
            <label asp-for="Address1">Улица:</label>
            @if (Model.StreetAddressRequired)
            {
                <span class="info-label">*</span>
            }
            <input asp-for="Address1" class="form-control" />
            <span asp-validation-for="Address1"></span>
        </div>
                </div>
    }
    
    <div class="col-6">
        <div class="form-group">
            <label asp-for="AddressHouse">Дом:</label>
            @if (Model.StreetAddressRequired)
            {
                <span class="info-label">*</span>
            }
            <input asp-for="AddressHouse" class="form-control" />
            <span asp-validation-for="AddressHouse"></span>    
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label asp-for="AddressFlat">Квартира:</label>
            @if (Model.StreetAddressRequired)
            {
                <span class="info-label">*</span>
            }
            <input asp-for="AddressFlat" class="form-control" />
            <span asp-validation-for="AddressFlat"></span>    
        </div>
    </div>
    
    @if (Model.StreetAddress2Enabled)
    {
        <div class="col-6">
                            <div class="form-group">
            <label asp-for="Address2" >@T("Address.Fields.Address2")</label>
            @if (Model.StreetAddress2Required)
            {
                 <span class="info-label">*</span>
            }
            <input asp-for="Address2" class="form-control" />
            <span asp-validation-for="Address2"></span>
        </div>
                        </div>
    }
    @if (Model.ZipPostalCodeEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="ZipPostalCode" >@T("Address.Fields.ZipPostalCode")</label>
                @if (Model.ZipPostalCodeRequired)
                {
                    <span class="info-label">*</span>
                }
                <input asp-for="ZipPostalCode" class="form-control" />
                <span asp-validation-for="ZipPostalCode"></span>
            </div>
        </div>
    }
    @if (Model.PhoneEnabled)
    {
        <div class="col-6">
                    <div class="form-group">
            <label asp-for="PhoneNumber" >@T("Address.Fields.PhoneNumber"):</label>
            @if (Model.PhoneRequired)
            {
                <span class="info-label">*</span>
            }
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
                </div>
    }
    @if (Model.FaxEnabled)
    {
        <div class="col-6">
            <div class="form-group">
                <label asp-for="FaxNumber">@T("Address.Fields.FaxNumber")</label>
                @if (Model.FaxRequired)
                {
                    <span class="info-label">*</span>
                }
                <input asp-for="FaxNumber" class="form-control" />
                <span asp-validation-for="FaxNumber"></span>    
            </div>
        </div>
    }

    @if (Model.CustomAddressAttributes.Any())
    {
        <partial name="_AddressAttributes" model="Model.CustomAddressAttributes" />
    }
