﻿<section class="serves">
    <div class="container h-100 d-flex serves-overlay">
        <div class="col-lg-4 col-md-12 icon-preference flex-column h-100 d-flex justify-content-center align-items-center">
            <svg width="191" height="191" viewBox="0 0 191 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="95" cy="96" r="95" fill="#F55B5B" fill-opacity="0.4"/>
                <circle cx="95" cy="96" r="74" fill="#F55B5B" fill-opacity="0.6"/>
                <ellipse cx="95.5" cy="96" rx="54.5" ry="55" fill="#FF5B5B"/>
                <path d="M88.6738 100.599C86.5967 100.599 84.9181 102.284 84.9181 104.361C84.9181 106.432 86.5967 108.117 88.6738 108.117C90.751 108.117 92.4296 106.432 92.4296 104.361C92.4295 102.284 90.751 100.599 88.6738 100.599ZM88.6738 106.239C87.6352 106.239 86.7959 105.393 86.7959 104.361C86.7959 103.322 87.6352 102.483 88.6738 102.483C89.7124 102.483 90.5517 103.322 90.5517 104.361C90.5516 105.393 89.7124 106.239 88.6738 106.239ZM117 97.8207V101.831C117 102.831 116.189 103.642 115.189 103.642H113.25C112.9 101.239 110.829 99.3915 108.329 99.3915C105.836 99.3915 103.764 101.239 103.414 103.642H93.5901C93.2399 101.239 91.1688 99.3915 88.675 99.3915C86.1813 99.3915 84.1101 101.239 83.76 103.642H81.3326C80.3322 103.642 79.5213 102.831 79.5213 101.831V97.8207H117ZM108.334 100.599C106.257 100.599 104.572 102.284 104.572 104.361C104.572 106.432 106.257 108.117 108.334 108.117C110.405 108.117 112.09 106.432 112.09 104.361C112.09 102.284 110.405 100.599 108.334 100.599ZM108.334 106.239C107.295 106.239 106.456 105.393 106.456 104.361C106.456 103.322 107.295 102.483 108.334 102.483C109.367 102.483 110.212 103.322 110.212 104.361C110.212 105.393 109.367 106.239 108.334 106.239ZM116.286 93.7821L109.167 86.7416C108.714 86.2948 108.105 86.0412 107.471 86.0412H103.878V84.6946C103.878 83.6924 103.069 82.8832 102.067 82.8832H81.3314C80.3351 82.8832 79.52 83.6924 79.52 84.6946V84.9785L72.1691 85.8257L85.1946 87.5218L72 88.8326L85.1481 90.7019L72 91.8419L79.5204 93.2603L79.5199 96.8193H116.999V95.4969C116.999 94.8508 116.739 94.235 116.286 93.7821ZM113.183 94.0176H106.293C106.136 94.0176 106.009 93.8908 106.009 93.7338V88.4142C106.009 88.2572 106.136 88.1304 106.293 88.1304H107.603C107.676 88.1304 107.748 88.1606 107.803 88.2089L113.376 93.5285C113.563 93.7036 113.436 94.0176 113.183 94.0176Z" fill="white"/>
            </svg>
            <h4>Бесплатная доставка</h4>
            <h5>При заказе от 2900 рублей</h5>
        </div>
        <div class="col-lg-4 col-md-12 icon-preference flex-column h-100 d-flex justify-content-center align-items-center">
            <svg width="191" height="191" viewBox="0 0 191 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="95" cy="96" r="95" fill="#F55B5B" fill-opacity="0.4"/>
                <circle cx="95" cy="96" r="74" fill="#F55B5B" fill-opacity="0.6"/>
                <ellipse cx="95.5" cy="96" rx="54.5" ry="55" fill="#FF5B5B"/>
                <path d="M77.5 97.2259V112.226C77.5 113.606 78.6225 114.726 80 114.726H92.5V97.2259H77.5Z" fill="white"/>
                <path d="M112.5 87.226H104.59C105.158 86.8385 105.645 86.4535 105.985 86.1085C108.003 84.081 108.003 80.781 105.985 78.7535C104.025 76.7785 100.61 76.7835 98.6525 78.7535C97.5675 79.841 94.6925 84.2685 95.09 87.226H94.91C95.305 84.2685 92.43 79.841 91.3475 78.7535C89.3875 76.7835 85.9725 76.7835 84.015 78.7535C82 80.781 82 84.081 84.0125 86.1085C84.355 86.4535 84.8425 86.8385 85.41 87.226H77.5C76.1225 87.226 75 88.3485 75 89.726V93.476C75 94.166 75.56 94.726 76.25 94.726H92.5V89.726H97.5V94.726H113.75C114.44 94.726 115 94.166 115 93.476V89.726C115 88.3485 113.88 87.226 112.5 87.226ZM92.3525 87.1435C92.3525 87.1435 92.2475 87.226 91.89 87.226C90.1625 87.226 86.865 85.431 85.7875 84.346C84.74 83.291 84.74 81.571 85.7875 80.516C86.295 80.006 86.9675 79.726 87.6825 79.726C88.395 79.726 89.0675 80.006 89.575 80.516C91.26 82.211 92.935 86.541 92.3525 87.1435ZM98.1075 87.226C97.7525 87.226 97.6475 87.146 97.6475 87.1435C97.065 86.541 98.74 82.211 100.425 80.516C101.433 79.4985 103.195 79.4935 104.213 80.516C105.263 81.571 105.263 83.291 104.213 84.346C103.135 85.431 99.8375 87.226 98.1075 87.226Z" fill="white"/>
                <path d="M97.5 97.2259V114.726H110C111.38 114.726 112.5 113.606 112.5 112.226V97.2259H97.5Z" fill="white"/>
            </svg>
            <h4>Только сертифицированный товар</h4>
            <h5>Самого высокого качества</h5>
        </div>
        <div class="col-lg-4 col-md-12 icon-preference flex-column h-100 d-flex justify-content-center align-items-center">
            <svg width="191" height="191" viewBox="0 0 191 191" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="95" cy="96" r="95" fill="#F55B5B" fill-opacity="0.4"/>
                <circle cx="95" cy="96" r="74" fill="#F55B5B" fill-opacity="0.6"/>
                <ellipse cx="95.5" cy="96" rx="54.5" ry="55" fill="#FF5B5B"/>
                <g>
                    <path d="M106.803 95.288C107.54 95.2876 108.276 95.352 109.001 95.48C109.013 95.2283 109.02 94.9759 109.02 94.7247C109.02 86.2371 102.115 79.3321 93.6273 79.3321C85.1402 79.3321 78.2352 86.2371 78.2352 94.7247C78.2352 103.212 85.1402 110.117 93.6273 110.117C93.879 110.117 94.1314 110.111 94.3831 110.098C93.7348 106.426 94.7445 102.655 97.1405 99.7978C99.5368 96.9405 103.074 95.2892 106.803 95.288V95.288ZM92.7322 96.7994C92.3411 96.7994 92.0614 96.4585 92.0614 96.0674V87.6798C92.0614 87.2891 92.3786 86.9719 92.7693 86.9719C93.1604 86.9719 93.4772 87.2891 93.4772 87.6798V95.3836H98.8819C99.2726 95.3836 99.5898 95.7004 99.5898 96.0915C99.5898 96.4822 99.2726 96.7994 98.8819 96.7994H92.7322Z" fill="white"/>
                    <path d="M96.491 115.153C95.7045 114.039 95.1044 112.804 94.7145 111.497C94.353 111.52 93.9896 111.533 93.6277 111.533C84.3595 111.533 76.8197 103.992 76.8197 94.7243C76.8197 85.4565 84.3595 77.9163 93.6277 77.9163C102.896 77.9163 110.436 85.4565 110.436 94.7243C110.436 95.0857 110.423 95.4492 110.4 95.8111C111.707 96.2014 112.942 96.8014 114.056 97.5884C114.188 96.6395 114.254 95.6827 114.255 94.7251C114.255 83.3509 105.001 74.0974 93.6273 74.0974C82.2532 74.0974 73 83.3505 73 94.7243C73 106.098 82.2536 115.352 93.6273 115.352C94.5853 115.351 95.5421 115.285 96.491 115.153Z" fill="white"/>
                    <path d="M106.803 96.7039C100.62 96.7039 95.6065 101.717 95.6065 107.9C95.6065 114.084 100.62 119.097 106.803 119.097C112.987 119.097 118 114.084 118 107.901C117.993 101.72 112.984 96.711 106.803 96.7039V96.7039ZM105.508 109.643C105.76 109.643 105.983 109.977 105.983 110.341C105.983 110.705 105.76 111.059 105.508 111.059H101.907C101.624 111.059 101.265 110.835 101.265 110.542V109.561C101.265 107.973 104.428 107.062 104.428 105.778C104.428 105.455 104.203 105.06 103.637 105.06C103.232 105.06 102.879 105.263 102.879 105.819C102.879 106.112 102.566 106.395 102.05 106.395C101.646 106.395 101.343 106.213 101.343 105.576C101.343 104.342 102.48 103.634 103.632 103.634C104.806 103.634 105.995 104.372 105.995 105.727C105.995 107.922 102.882 108.64 102.882 109.561V109.643H105.508ZM111.909 109.441H111.479V110.542C111.479 110.865 111.064 111.027 110.67 111.027C110.275 111.027 109.861 110.865 109.861 110.542V109.441H107.53C107.386 109.451 107.246 109.398 107.145 109.296C107.043 109.194 106.992 109.053 107.004 108.909C107.006 108.808 107.034 108.708 107.085 108.62L109.421 104.039C109.541 103.787 109.799 103.629 110.078 103.635C110.351 103.635 110.867 103.869 110.867 104.233C110.864 104.301 110.846 104.367 110.817 104.429L109.027 108.025H109.861V107.305C109.861 106.971 110.275 106.83 110.67 106.83C111.064 106.83 111.479 106.971 111.479 107.305V108.025H111.909C112.233 108.025 112.394 108.369 112.394 108.733C112.394 109.097 112.152 109.441 111.909 109.441V109.441Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect x="73" y="74" width="45" height="45" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <h4>круглосуточно для вас</h4>
            <h5>Принимаем заказы</h5>
        </div>
    </div>
</section>