﻿
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-route="Login" id="loginFormPopup" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                <div class="authorization poap">
                    <div class="d-flex align-items-center flex-column">
                        <h3>Авторизация</h3>
                        <span class="text-danger pb-3 pt-2" id="errors"></span>
                        <div class="form-group card-inform">
                            <label for="Email">@T("Account.Login.Fields.Email")<span class="info-label">*</span></label>
                            <input name="Email" class="form-control" >
                        </div>
                              
                        <div class="form-group card-inform">
                            <label for="Password">@T("Account.Login.Fields.Password")<span class="info-label">*</span></label>
                            <input name="Password" class="form-control" type="password" />
                        </div>
                        <div class="d-flex align-items-center justify-content-between card-inform">
                            <div class="custom-control logged custom-checkbox">
                                <input id="RememberMe1" class="custom-control-input" type="checkbox"/>
                                <input name="RememberMe" class="custom-control-label" type="hidden" value="false">
                                <label for="RememberMe1" class="custom-control-label control-check">@T("Account.Login.Fields.RememberMe")</label>
                            </div>
                            <a id="recP" href="#" data-dismiss="modal" aria-label="Close">@T("Account.Login.ForgotPassword")</a>
                        </div>
                        <div class="d-flex looged-btn card-inform justify-content-center">
                            <button type="button" class="btn btn-stand btn-a" id="loginButton">
                                @T("Account.Login.LoginButton")
                            </button>
                        </div>
                        <div class="d-flex flex-column align-items-center card-inform auto-sp">
                            <span>
                                Создав учетную запись на нашем веб сайте, вы сможете сделать покупки быстрее,
                                быть в курсе состояния заказов и отслеживать заказы, которые вы уже сделали ранее.
                            </span>
                            <a href="#" id="showRegModal" data-dismiss="modal" aria-label="Close">Регистрация</a>
                        </div>
                        <div class="close-log">
                            <a href="#" data-dismiss="modal" aria-label="Close">
                                <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0)">
                                        <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="18" height="18" fill="white"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>
                
                </div>
            </form>
      
        </div>
    </div>
</div>

<script asp-location="Footer">
$('#RememberMe1').change(function() {
  $('input[name="RememberMe"]').val($(this).prop('checked'));
});

$('#showRegModal').click(function() {
 $('#regModal').modal('show');  
});

$('#recP').click(function() {
 $('#recPassModal').modal('show');  
});

$('#RememberMe').change(function() {
    $('input[name="RememberMe"]').val($(this).prop('checked'));
  });

$('#loginButton').click(function() {
    $.ajax({
                            cache: false,
                            type: "POST",
                            url: "/login",
                            data: $('#loginFormPopup').serialize(),
                            success: function(data) {
                                if (data.Errors) {
                                    let errors = "";
                                    for (let i = 0; i < data.Errors.length; i ++) {
                                        errors+= data.Errors[i].ErrorMessage + "<br>";
                                    }
                                    $('#errors').html(errors);
                                }
                                else {
                                    location.reload();
                                }
                            }
                        });
    });


        

   
</script>