﻿
<div class="modal fade" id="recPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <span class="text-success pb-3 pt-2 " style="text-align: center;" id="errors"></span>
            <form asp-route="PasswordRecovery" class="p-3" id="recModalForm" method="post">
                        
                                <div class="form-group">
                                    <label for="EmailRec" class="col-form-label">@T("Account.PasswordRecovery.Email"):</label>
                                    <input name="Email" id="EmailRec" class="form-control email" />

                                </div>

                        
                        <div class="d-flex looged-btn card-inform justify-content-center">
                            <button type="button" class="btn btn-stand btn-a" id="recModalButton">
                                @T("Account.PasswordRecovery.RecoverButton")
                            </button>
                            </div>
             <input type="hidden" name="send-email" class="btn btn-secondary password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                        <div class="tooltip card text-white card-danger text-xs-center">
                            <div class="card-body">
                                <blockquote class="card-bodyquote">
                                    <p>@T("Account.PasswordRecovery.Tooltip")</p>
                                </blockquote>
                            </div>
                        </div>
                    </form>
                    <div class="close-log">
                                                <a href="#" data-dismiss="modal" aria-label="Close">
                                                    <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <g clip-path="url(#clip0)">
                                                            <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0">
                                                                <rect width="18" height="18" fill="white"></rect>
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </a>
                                            </div>
        </div>
    </div>
</div>

<script asp-location="Footer">
$('#recModalButton').click(function() {
    $.ajax({
                            cache: false,
                            type: "POST",
                            url: "/passwordrecovery",
                            data: $('#recModalForm').serialize(),
                            success: function(data) {
                                if (data.Errors) {
                                    if (Array.isArray(data.Errors)) {
                                        let errors = "";
                                        for (let i = 0; i < data.Errors.length; i ++) {
                                            errors+= data.Errors[i].ErrorMessage + "<br>";
                                        }
                                        $('#recPassModal #errors').html(errors);
       $('#recPassModal #errors').addClass('text-danger');
        $('#recPassModal #errors').removeClass('text-success');
                                    }
                                    else {
                                        $('#recPassModal #errors').html(data.Errors);
                                        $('#recModalForm').hide();
                                        $('#recPassModal #errors').removeClass('text-danger');
                                                $('#recPassModal #errors').addClass('text-success');
                                    }
                                    
                                    
                                }
                                
                            }
                        });
    });
</script>