﻿@model AddToCartModel
@{
    string text = "";
    if (Model.CartType == ShoppingCartType.ShoppingCart)
    {
        text = string.Format(T("AddToCart.Cart.Items").Text, Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Wishlist)
    {
        text = string.Format(T("AddToCart.Wishlist.Items").Text, Model.TotalItems);
    }
    else if (Model.CartType == ShoppingCartType.Auctions)
    {
        text = string.Format(T("Addtocart.Auctions.Ongoing").Text, Model.TotalItems);
    }
}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0 p-2 p-xl-3">
        <div class="product-add poap">
        <div class="d-flex align-items-center baid flex-column">
            <h3>
                
                @if (Model.CartType == ShoppingCartType.ShoppingCart)
                                {
                                    @T("AddToCart.ShoppingCart")
                                }
                                else if (Model.CartType == ShoppingCartType.Wishlist)
                                {
                                    @T("AddToCart.Wishlist")
                                }
                                else if (Model.CartType == ShoppingCartType.Auctions)
                                {
                                    @T("shoppingcart.yourbidhasbeenplaced")
                                }
                
            </h3>
            <div class="d-flex one-product">
                <img alt="" src="@Model.Picture.ImageUrl" title="@Model.Picture.Title" >
                <div class="d-flex flex-column justify-content-between">
                    <h4><a href="@Url.RouteUrl("Product", new { SeName = Model.ProductSeName })" class="text-center" style="color:#000000">@Model.ProductName</a></h4>
                    <div class="d-flex flex-column add-boot justify-content-between">
                        <span>Цена: <b>@Model.Price</b> </span>
                        <span>@T("AddToCart.Qty") <b>@Model.Quantity</b></span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between">
                <span>@T("AddToCart.SubTotal"): <b>@Model.SubTotal</b> </span>
            </div>
            <div class="d-flex flex-wrap add-button">
                <button type="button" class="btn btn-outline-danger add-btn" data-dismiss="modal">
                    @T("AddToCart.Continue")
                </button>
                @if (Model.CartType == ShoppingCartType.ShoppingCart)
                                    {
                                        <button type="button" class="btn btn-stand" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')">@T("AddToCart.ViewCart")</button>
                                    }
                                    else if (Model.CartType == ShoppingCartType.Wishlist)
                                    {
                                        <button type="button" class="btn btn-stand" onclick="setLocation('@(Url.RouteUrl("Wishlist"))')">@T("AddToCart.ViewWishlist")</button>
                                    }
                                    else if (Model.CartType == ShoppingCartType.Auctions)
                                    {
                                        <button type="button" class="btn btn-stand" onclick="setLocation('@(Url.RouteUrl("CustomerAuctions"))')">@T("AddToCart.ViewAuctions")</button>
                                    }
                
            </div>
            @await Component.InvokeAsync("CrossSellProducts")
            <div class="close-log">
                <button class="btn-non-style" data-dismiss="modal" aria-label="Close">

                        <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="18" height="18" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
             
                    
                </button>
            </div>
        </div>
    </div>
        
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ModalAddToCart .cross-sell-container .btn-quick-view").on("click", function () {
            $('#ModalAddToCart').modal('hide');
        });
    });
</script>