﻿@model ProductOverviewModel
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    string addtowishlistlink = "";
    string quickviewurl = Url.RouteUrl("QuickView-Product", new { productId = Model.Id });

    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (!Model.ShowQty)
    {
        if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
        {
            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
        }
        else
        {
            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
        }
        addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    }
    else
    {
        if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
        {
            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
        }
        else
        {
            addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId });
        }
        addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist });
    }
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
}

    <div class="product-new">
        <div class="d-flex justify-content-between">
            @if (!string.IsNullOrEmpty(Model.Flag))
            {
                <div class="pl-new d-flex justify-content-center align-items-center">
                    <p>@Model.Flag</p>
                </div>
            }
            <div class="d-flex align-items-center icon-leb">
            @if (!Model.ProductPrice.DisableWishlistButton && Model.ProductType == ProductType.SimpleProduct)
            {
                <button class="btn-non-style" onclick="AjaxCart.addproducttocart_catalog('@addtowishlistlink', '@Model.ShowQty', '@Model.Id');return false;">
                                     <svg width="30" height="30" viewBox="0 0 22 22" fill="#B4B4B4" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11 20.7761C10.6868 20.7761 10.3848 20.6626 10.1495 20.4565C9.26076 19.6794 8.4039 18.9491 7.64792 18.3049L7.64406 18.3015C5.42765 16.4127 3.5137 14.7816 2.182 13.1748C0.693373 11.3785 0 9.67535 0 7.81477C0 6.00706 0.619857 4.33934 1.74527 3.11859C2.8841 1.88341 4.44675 1.20312 6.14586 1.20312C7.41579 1.20312 8.5788 1.60461 9.60249 2.39635C10.1191 2.79599 10.5874 3.2851 11 3.85561C11.4127 3.2851 11.8808 2.79599 12.3976 2.39635C13.4213 1.60461 14.5843 1.20312 15.8543 1.20312C17.5532 1.20312 19.116 1.88341 20.2549 3.11859C21.3803 4.33934 22 6.00706 22 7.81477C22 9.67535 21.3068 11.3785 19.8181 13.1746C18.4864 14.7816 16.5726 16.4126 14.3566 18.3012C13.5992 18.9464 12.741 19.6778 11.8503 20.4568C11.6151 20.6626 11.313 20.7761 11 20.7761V20.7761ZM6.14586 2.49185C4.81098 2.49185 3.58469 3.0246 2.69259 3.99207C1.78723 4.97414 1.28856 6.33168 1.28856 7.81477C1.28856 9.37961 1.87014 10.7791 3.17414 12.3525C4.4345 13.8734 6.30918 15.4709 8.47977 17.3208L8.48379 17.3241C9.24263 17.9708 10.1028 18.704 10.9981 19.4868C11.8988 18.7025 12.7604 17.9682 13.5207 17.3204C15.6911 15.4706 17.5656 13.8734 18.826 12.3525C20.1298 10.7791 20.7114 9.37961 20.7114 7.81477C20.7114 6.33168 20.2127 4.97414 19.3074 3.99207C18.4154 3.0246 17.189 2.49185 15.8543 2.49185C14.8764 2.49185 13.9786 2.8027 13.1858 3.41568C12.4794 3.96219 11.9873 4.65305 11.6987 5.13644C11.5503 5.38503 11.2892 5.5334 11 5.5334C10.7108 5.5334 10.4496 5.38503 10.3012 5.13644C10.0129 4.65305 9.52075 3.96219 8.81412 3.41568C8.02138 2.8027 7.12357 2.49185 6.14586 2.49185V2.49185Z"/>
                                                    </svg>
                                </button>
            }
            
                @if (!Model.ProductPrice.DisableAddToCompareListButton && Model.ProductType == ProductType.SimpleProduct)
                {
                    <button type="button" data-tooltip="title" title="@T("ShoppingCart.AddToCompareList")" class="btn-non-style" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
                        <svg width="30" height="30" viewBox="0 0 28 28" fill="#B4B4B4" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                                <path d="M27.9983 19.3407C27.9984 19.3344 27.9991 19.3282 27.9991 19.3218C27.9991 19.3204 27.9989 19.319 27.9988 19.3176C27.9988 19.3073 27.998 19.297 27.9972 19.2867C27.9969 19.2817 27.9966 19.2766 27.9961 19.2717C27.9951 19.2628 27.9936 19.254 27.992 19.2451C27.991 19.2387 27.99 19.2323 27.9887 19.226C27.9871 19.2192 27.9852 19.2124 27.9834 19.2056C27.9812 19.1974 27.9792 19.1893 27.9766 19.1813C27.9749 19.1761 27.9727 19.1709 27.9709 19.1657C27.9675 19.1565 27.964 19.1473 27.96 19.1384C27.9594 19.137 27.959 19.1356 27.9584 19.1341L23.161 8.57991V7.19654H23.1913C23.7082 7.19654 24.1286 6.77606 24.1286 6.25918V6.18733C24.1286 5.72482 23.7972 5.33566 23.3407 5.26194L15.4202 3.9838V3.17168C15.7209 2.83477 15.904 2.39095 15.904 1.90497C15.904 0.854575 15.0495 0 13.9991 0C12.9487 0 12.0941 0.854575 12.0941 1.90497C12.0941 2.39095 12.2773 2.83477 12.5779 3.17168V3.93972L4.6527 5.26061C4.1989 5.33627 3.86949 5.72512 3.86949 6.18522V6.25918C3.86949 6.77606 4.28997 7.19654 4.80685 7.19654H4.83709V8.57991L0.0397232 19.1341C0.039058 19.1355 0.0386346 19.137 0.0380299 19.1384C0.034099 19.1473 0.0306519 19.1565 0.0272653 19.1657C0.0253301 19.1709 0.023274 19.1761 0.0215202 19.1813C0.0189197 19.1893 0.0168031 19.1974 0.0146865 19.2056C0.0128722 19.2124 0.010937 19.2192 0.00942516 19.226C0.0080947 19.2323 0.0071271 19.2387 0.00603855 19.2451C0.00452667 19.254 0.00295432 19.2628 0.00198672 19.2717C0.00144244 19.2766 0.00126102 19.2817 0.00083769 19.2867C5.15141e-05 19.297 -0.000613712 19.3073 -0.000734662 19.3175C-0.000734662 19.319 -0.000976562 19.3204 -0.000976562 19.3218C-0.000976562 19.3282 -0.000311336 19.3344 -0.000250861 19.3408C-8.96088e-06 19.3459 -6.9436e-05 19.351 0.00035389 19.3561C0.0286562 21.2217 2.34159 22.6782 5.29066 22.6782C8.23972 22.6782 10.5527 21.2217 10.5809 19.3562C10.5813 19.3511 10.5813 19.3459 10.5815 19.3408C10.5816 19.3345 10.5822 19.3282 10.5822 19.3219C10.5822 19.3205 10.582 19.3191 10.582 19.3176C10.5819 19.3074 10.5812 19.2971 10.5804 19.2867C10.58 19.2817 10.5798 19.2767 10.5793 19.2717C10.5783 19.2629 10.5767 19.254 10.5752 19.2451C10.5741 19.2388 10.5732 19.2324 10.5718 19.2261C10.5703 19.2192 10.5684 19.2125 10.5666 19.2056C10.5644 19.1975 10.5623 19.1893 10.5597 19.1814C10.558 19.1762 10.5559 19.171 10.554 19.1658C10.5507 19.1565 10.5472 19.1474 10.5432 19.1385C10.5426 19.1371 10.5422 19.1356 10.5415 19.1342L5.74422 8.57991V7.19654H12.5779V17.0507C12.2897 17.2107 12.0941 17.518 12.0941 17.8704V24.5521L9.22093 25.4499C8.62447 25.6364 8.2237 26.1815 8.2237 26.8065V27.5464C8.2237 27.7969 8.42671 28 8.67726 28H19.3209C19.5714 28 19.7744 27.7969 19.7744 27.5464V26.8064C19.7744 26.1815 19.3737 25.6363 18.7772 25.4499L15.904 24.5521V17.8704C15.904 17.518 15.7084 17.2107 15.4202 17.0507V7.19654H22.2539V8.57991L17.4566 19.1342C17.4559 19.1356 17.4555 19.1371 17.4549 19.1385C17.4509 19.1473 17.4475 19.1565 17.4441 19.1657C17.4422 19.1709 17.4401 19.1761 17.4383 19.1814C17.4357 19.1893 17.4336 19.1975 17.4315 19.2056C17.4297 19.2125 17.4278 19.2192 17.4263 19.2261C17.4249 19.2324 17.424 19.2388 17.4229 19.2451C17.4214 19.254 17.4198 19.2629 17.4188 19.2717C17.4183 19.2767 17.4181 19.2818 17.4177 19.2868C17.4169 19.2971 17.4162 19.3074 17.4161 19.3176C17.4161 19.319 17.4159 19.3204 17.4159 19.3218C17.4159 19.3282 17.4165 19.3345 17.4166 19.3409C17.4168 19.3459 17.4168 19.3511 17.4172 19.3562C17.4455 21.2217 19.7584 22.6782 22.7075 22.6782C25.6566 22.6782 27.9695 21.2217 27.9977 19.3562C27.9981 19.351 27.9981 19.3459 27.9983 19.3407ZM5.29066 9.7743L9.42425 18.8683H1.15706L5.29066 9.7743ZM5.29066 21.7711C3.19048 21.7711 1.3784 20.8953 0.985191 19.7754H9.59618C9.20291 20.8953 7.39083 21.7711 5.29066 21.7711ZM14.9969 17.8704V24.432H13.0012V17.8704C13.0012 17.8537 13.0148 17.8402 13.0315 17.8402H14.9667C14.9833 17.8402 14.9969 17.8537 14.9969 17.8704ZM13.485 16.933V3.73888C13.6487 3.78484 13.821 3.80994 13.9991 3.80994C14.1772 3.80994 14.3495 3.78484 14.5131 3.73888V16.933H13.485ZM13.9991 0.907127C14.5493 0.907127 14.9969 1.35476 14.9969 1.90497C14.9969 2.45517 14.5493 2.90281 13.9991 2.90281C13.4489 2.90281 13.0012 2.45517 13.0012 1.90497C13.0012 1.35476 13.4489 0.907127 13.9991 0.907127ZM4.80685 6.28942C4.79022 6.28942 4.77662 6.27587 4.77662 6.25918V6.18522C4.77662 6.17034 4.78726 6.15782 4.8019 6.1554L12.5779 4.85942V6.28942H4.80685ZM18.8673 26.8064V27.0929H9.13082V26.8064C9.13082 26.5803 9.27578 26.3831 9.49156 26.3158L12.6169 25.3391H15.3813L18.5066 26.3158C18.7224 26.3832 18.8673 26.5803 18.8673 26.8064ZM15.4202 4.90272L23.1961 6.15752C23.2108 6.15988 23.2215 6.17246 23.2215 6.1874V6.25924C23.2215 6.27593 23.2079 6.28948 23.1913 6.28948H15.4202V4.90272ZM22.7075 9.7743L26.8411 18.8683H18.5739L22.7075 9.7743ZM22.7075 21.7711C20.6073 21.7711 18.7952 20.8953 18.402 19.7754H27.013C26.6197 20.8953 24.8077 21.7711 22.7075 21.7711Z"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="28" height="28"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                }
            </div>
        </div>
        <div class="product-picture-box">
            <a class="picture" href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                <picture>
                    <source media="(max-width: 767px)" picture-id="@Model.DefaultPictureModel.Id" picture-size="400"/>
                    <source media="(max-width: 575px)" picture-id="@Model.DefaultPictureModel.Id" picture-size="300"/>
                    <source media="(max-width: 420px)" picture-id="@Model.DefaultPictureModel.Id" picture-size="200"/>
                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title"/>
                </picture>
            </a>
            @if (!string.IsNullOrEmpty(Model.SecondPictureModel.ImageUrl))
            {
                <picture>
                    <source media="(max-width: 480px)" picture-id="@Model.SecondPictureModel.Id" picture-size="300"/>
                    <source media="(max-width: 575px)" picture-id="@Model.SecondPictureModel.Id" picture-size="300"/>
                    <source media="(max-width: 420px)" picture-id="@Model.SecondPictureModel.Id" picture-size="200"/>
                    <img alt="@Model.SecondPictureModel.AlternateText" src="@Model.SecondPictureModel.ImageUrl"/>
                </picture>
            }
        </div>
        
        <div class="d-flex justify-content-center align-items-center flex-column card-info">
            <h4>@Model.CategoryName</h4>
            <span class="pt-2 pb-2 product-name-block">@Model.Name</span>
            <div class="product-price-block">
                @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
                {
                    <span class="price-widget old-price">
                        @Model.ProductPrice.OldPrice <span class="price-val"></span>
                    </span>
                    
                }
                @if (Model.ProductType != ProductType.Auction)
                {
                    <span class="price-widget">
                        @Model.Price <span class="price-val"> руб</span>
                    </span>
                }
                else
                {
                    <span class="price-widget">
                        @(Model.ProductPrice.HighestBidValue > 0 ? Model.ProductPrice.HighestBid : Model.ProductPrice.StartPrice)<span class="price-val"></span>
                    </span>
                }
            </div>
            
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                var addToCartText = T("ShoppingCart.AddToCart").Text;
                if (Model.ProductType == ProductType.Reservation)
                {
                    addToCartText = T("ShoppingCart.Reservation").Text;
                }
                if (Model.ProductPrice.AvailableForPreOrder)
                {
                    addToCartText = T("ShoppingCart.PreOrder").Text;
                }
                <button type="button" class="btn btn-stand" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink', '@Model.ShowQty', '@Model.Id');return false;">
                    В корзину
                </button>
            }
            else
            {
                if (Model.ProductType == ProductType.Auction)
                {
                    var addToCartText = T("ShoppingCart.Bids").Text;
                    <button type="button" class="btn btn-stand" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink', 'false', '@Model.Id');return false;">
                        В корзину
                    </button>
                }
            }
        </div>
    </div>
