﻿
<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
       <form asp-route="Register" id="regFormPopup" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                   <div class="register poap">
                       <div class="d-flex align-items-center flex-column">
                           <h3>Регистрация</h3>
                           <span class="text-danger pb-3 pt-2" id="errors"></span>
                           <div class="w-100">
                               <div class="d-flex justify-content-center"><h5>Ваши персональные данные</h5></div>
                               <div class="d-flex laten">
                                   <span>Пол:</span>
                                   <div class="radio-register">
                                       <div class="custom-control custom-radio">
                                           <input name="Gender" type="radio" value="M" id="customRadio1" name="customRadio" class="custom-control-input">
                                           <label class="custom-control-label" for="customRadio1">Мужской</label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                           <input name="Gender" type="radio" value="F" id="customRadio2" name="customRadio" class="custom-control-input">
                                           <label class="custom-control-label" for="customRadio2">Женский</label>
                                       </div>
                                   </div>
                               </div>
                               <div class="d-flex p-form row">
                                   <div class="form-group card-inform col-12 col-md-6">
                                       <label for="FirstName">Имя<span class="info-label">*</span></label>
                                       <input type="text" class="form-control" name="FirstName" id="Name" aria-describedby="emailHelp">
                                   </div>
                                   <div class="form-group card-inform col-12 col-md-6">
                                       <label for="LastName">Фамилия<span class="info-label">*</span></label>
                                       <input type="text" class="form-control" id="SecondName" name="LastName" aria-describedby="emailHelp">
                                   </div>
                                   <div class="form-group card-inform col-12 col-md-6">
                                       <label for="Email">E-mail<span class="info-label">*</span></label>
                                       <input type="email" name="Email" class="form-control" id="Email" aria-describedby="emailHelp">
                                   </div>
                                   <div class="form-group card-inform select-register col-12 col-md-6">
                                       <label for="Name" class="label-select">Дата рождения<span class="info-label">*</span></label>
                                       <div class="d-flex">
                                           <div class="col-4 d-flex align-items-end">
                                               <select name="DateOfBirthDay" class="custom-select w-100 my-1 mr-sm-2">
                                                   <option value="0">День</option>
                                                   <option value="1">1</option>
                                                   <option value="2">2</option>
                                                   <option value="3">3</option>
                                                   <option value="4">4</option>
                                                   <option value="5">5</option>
                                                   <option value="6">6</option>
                                                   <option value="7">7</option>
                                                   <option value="8">8</option>
                                                   <option value="9">9</option>
                                                   <option value="10">10</option>
                                                   <option value="11">11</option>
                                                   <option value="12">12</option>
                                                   <option value="13">13</option>
                                                   <option value="14">14</option>
                                                   <option value="15">15</option>
                                                   <option value="16">16</option>
                                                   <option value="17">17</option>
                                                   <option value="18">18</option>
                                                   <option value="19">19</option>
                                                   <option value="20">20</option>
                                                   <option value="21">21</option>
                                                   <option value="22">22</option>
                                                   <option value="23">23</option>
                                                   <option value="24">24</option>
                                                   <option value="25">25</option>
                                                   <option value="26">26</option>
                                                   <option value="27">27</option>
                                                   <option value="28">28</option>
                                                   <option value="29">29</option>
                                                   <option value="30">30</option>
                                                   <option value="31">31</option>
                                               </select>
                                           </div>
                                           <div class="col-4 d-flex align-items-end">
                                               <select name="DateOfBirthMonth" class="custom-select w-100 my-1 mr-sm-2">
                                                   <option value="0">Месяц</option>
                                                   <option value="1">Январь</option>
                                                   <option value="2">Февраль</option>
                                                   <option value="3">Март</option>
                                                   <option value="4">Апрель</option>
                                                   <option value="5">Май</option>
                                                   <option value="6">Июнь</option>
                                                   <option value="7">Июль</option>
                                                   <option value="8">Август</option>
                                                   <option value="9">Сентябрь</option>
                                                   <option value="10">Октябрь</option>
                                                   <option value="11">Ноябрь</option>
                                                   <option value="12">Декабрь</option>
                                               </select>
                                           </div>
                                           <div class="col-4 d-flex align-items-end">
                                               <select name="DateOfBirthYear"  class="custom-select w-100 my-1 mr-sm-2">
                                                   <option value="0">Год</option>
                                                   <option value="1920">1920</option>
                                                   <option value="1921">1921</option>
                                                   <option value="1922">1922</option>
                                                   <option value="1923">1923</option>
                                                   <option value="1924">1924</option>
                                                   <option value="1925">1925</option>
                                                   <option value="1926">1926</option>
                                                   <option value="1927">1927</option>
                                                   <option value="1928">1928</option>
                                                   <option value="1929">1929</option>
                                                   <option value="1930">1930</option>
                                                   <option value="1931">1931</option>
                                                   <option value="1932">1932</option>
                                                   <option value="1933">1933</option>
                                                   <option value="1934">1934</option>
                                                   <option value="1935">1935</option>
                                                   <option value="1936">1936</option>
                                                   <option value="1937">1937</option>
                                                   <option value="1938">1938</option>
                                                   <option value="1939">1939</option>
                                                   <option value="1940">1940</option>
                                                   <option value="1941">1941</option>
                                                   <option value="1942">1942</option>
                                                   <option value="1943">1943</option>
                                                   <option value="1944">1944</option>
                                                   <option value="1945">1945</option>
                                                   <option value="1946">1946</option>
                                                   <option value="1947">1947</option>
                                                   <option value="1948">1948</option>
                                                   <option value="1949">1949</option>
                                                   <option value="1950">1950</option>
                                                   <option value="1951">1951</option>
                                                   <option value="1952">1952</option>
                                                   <option value="1953">1953</option>
                                                   <option value="1954">1954</option>
                                                   <option value="1955">1955</option>
                                                   <option value="1956">1956</option>
                                                   <option value="1957">1957</option>
                                                   <option value="1958">1958</option>
                                                   <option value="1959">1959</option>
                                                   <option value="1960">1960</option>
                                                   <option value="1961">1961</option>
                                                   <option value="1962">1962</option>
                                                   <option value="1963">1963</option>
                                                   <option value="1964">1964</option>
                                                   <option value="1965">1965</option>
                                                   <option value="1966">1966</option>
                                                   <option value="1967">1967</option>
                                                   <option value="1968">1968</option>
                                                   <option value="1969">1969</option>
                                                   <option value="1970">1970</option>
                                                   <option value="1971">1971</option>
                                                   <option value="1972">1972</option>
                                                   <option value="1973">1973</option>
                                                   <option value="1974">1974</option>
                                                   <option value="1975">1975</option>
                                                   <option value="1976">1976</option>
                                                   <option value="1977">1977</option>
                                                   <option value="1978">1978</option>
                                                   <option value="1979">1979</option>
                                                   <option value="1980">1980</option>
                                                   <option value="1981">1981</option>
                                                   <option value="1982">1982</option>
                                                   <option value="1983">1983</option>
                                                   <option value="1984">1984</option>
                                                   <option value="1985">1985</option>
                                                   <option value="1986">1986</option>
                                                   <option value="1987">1987</option>
                                                   <option value="1988">1988</option>
                                                   <option value="1989">1989</option>
                                                   <option value="1990">1990</option>
                                                   <option value="1991">1991</option>
                                                   <option value="1992">1992</option>
                                                   <option value="1993">1993</option>
                                                   <option value="1994">1994</option>
                                                   <option value="1995">1995</option>
                                                   <option value="1996">1996</option>
                                                   <option value="1997">1997</option>
                                                   <option value="1998">1998</option>
                                                   <option value="1999">1999</option>
                                                   <option value="2000">2000</option>
                                                   <option value="2001">2001</option>
                                                   <option value="2002">2002</option>
                                                   <option value="2003">2003</option>
                                                   <option value="2004">2004</option>
                                                   <option value="2005">2005</option>
                                                   <option value="2006">2006</option>
                                                   <option value="2007">2007</option>
                                                   <option value="2008">2008</option>
                                                   <option value="2009">2009</option>
                                                   <option value="2010">2010</option>
                                                   <option value="2011">2011</option>
                                                   <option value="2012">2012</option>
                                                   <option value="2013">2013</option>
                                                   <option value="2014">2014</option>
                                                   <option value="2015">2015</option>
                                                   <option value="2016">2016</option>
                                                   <option value="2017">2017</option>
                                                   <option value="2018">2018</option>
                                                   <option value="2019">2019</option>
                                                   <option value="2020">2020</option>
                                               </select>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="d-flex justify-content-center second-pass"><h5>Ваш пароль</h5></div>
                               <div class="d-flex p-form row">
                                   <div class="form-group card-inform col-12 col-md-6">
                                       <label for="Name">Пароль<span class="info-label">*</span></label>
                                       <input  class="form-control"  type="password" data-val="true" data-val-length="Пароль должен содержать не менее 6 символов." data-val-length-max="999" data-val-length-min="6" data-val-required="Необходим пароль." id="Password" name="Password">
                                   </div>
                                   <div class="form-group card-inform col-12 col-md-6">
                                       <label for="Name">Повторите пароль<span class="info-label">*</span></label>
                                       <input class="form-control" type="password" data-val="true" data-val-equalto="Пароль и пароль подтверждения не совпадают." data-val-equalto-other="*.Password" data-val-required="Необходим пароль." id="ConfirmPassword" name="ConfirmPassword">
                                   </div>
                               </div>
                           </div>
                   
                           <div class="d-flex looged-btn card-inform justify-content-center">
                               <button type="button" class="btn btn-stand" id="regButton">
                                   Регистрация
                               </button>
                           </div>
                           <div class="close-log">
                               <a href="#" data-dismiss="modal" aria-label="Close">
                                   <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <g clip-path="url(#clip0)">
                                           <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                                       </g>
                                       <defs>
                                           <clipPath id="clip0">
                                               <rect width="18" height="18" fill="white"></rect>
                                           </clipPath>
                                       </defs>
                                   </svg>
                               </a>
                           </div>
                       </div>
                   </div>
               </form>
      
    </div>
  </div>
</div>


<script asp-location="Footer">
$('#regButton').click(function() {
    $.ajax({
                            cache: false,
                            type: "POST",
                            url: "/register",
                            data: $('#regFormPopup').serialize(),
                            success: function(data) {
                                console.log(data);
                                if (data.Errors) {
                                    let errors = "";
                                    for (let i = 0; i < data.Errors.length; i ++) {
                                        errors+= data.Errors[i].ErrorMessage + "<br>";
                                    }
                                    $('#regFormPopup #errors').html(errors);
                                }
                                else {
                                        location.reload();                            
                                }
                               
                            }
                        });
    });


        

   
</script>