﻿<section class="bg-stale">
    <div class="container box-content">
        <div id="review" class="carousel deck-video product-sl slide" data-ride="carousel">
            <div class="d-flex title-meet justify-content-center align-items-center w-100">
                <h2>Обзоры</h2>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-6 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_1.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                        <div class="col-6 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_2.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-6 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_1.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                        <div class="col-6 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_2.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a class="vi-prev d-flex" href="#review" role="button" data-slide="prev">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 0L0 4.5L4 9L5 8L2 5H20V4H2L5 1L4 0Z"/>
                    </svg>
                </a>
                <a class="vi-next d-flex" href="#review" role="button" data-slide="next">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 0L20 4.5L16 9L15 8L18 5H0V4H18L15 1L16 0Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div id="review-mobi" class="carousel product-sl mobil-video d-none slide" data-ride="carousel">
            <div class="d-flex title-meet justify-content-center align-items-center w-100">
                <h2>Обзоры</h2>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_1.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_2.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_1.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 video d-flex justify-content-center align-items-center">
                            <div class="overlay-video">
                                <video width="100%" poster="../../Themes/DefaultClean/Content/images/photo_video_2.jpg">
                                    <source src="assets/media/head.mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <svg width="70" height="70" class="video-button" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="35" cy="35" r="35" fill="white" fill-opacity="0.4"/>
                                <circle cx="35" cy="35" r="34.5" stroke="#F55B5B" stroke-opacity="0.4"/>
                                <circle cx="35" cy="35" r="25" class="video-lab" fill="white"/>
                                <path d="M28 25L45 35L28 45V25Z" fill="#F55B5B"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a class="vi-prev d-flex" href="#review-mobi" role="button" data-slide="prev">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 0L0 4.5L4 9L5 8L2 5H20V4H2L5 1L4 0Z"/>
                    </svg>
                </a>
                <a class="vi-next d-flex" href="#review-mobi" role="button" data-slide="next">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 0L20 4.5L16 9L15 8L18 5H0V4H18L15 1L16 0Z" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-center">
            <a href="/seks-tovary-dlya-zhenshhin" type="button" class="btn btn-outline-danger teen btn-inform">
                Смотреть все
                <svg width="20" height="9" viewBox="0 0 20 9" fill="#F55B5B" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 4H0V5H18L15 8L16 9L20 4.5L15.5 0L14.5 0.5L18 4Z"></path></svg>
                            </a></div>
    </div>
</section>