﻿
<header role="presentation" class="header_area">
@await Component.InvokeAsync("Widget", new { widgetZone = "header" })
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1270">
                <div class="d-flex header-box justify-content-between align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/"><img src="../Themes/DefaultClean/Content/images/partner/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="collapse navbar-collapse offset justify-content-end" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu-tail menu_nav justify-content-end">
                        <li class="nav-item "><a class="nav-link" href="/seks-tovary-dlya-zhenshhin">Каталог</a></li>
                        <li class="nav-item"><a class="nav-link" href="/o-nas">О нас</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news">Новости</a>
                        <li class="nav-item"><a class="nav-link" href="/dostavka-i-oplata">Оплата и доставка</a>
                        <li class="nav-item"><a class="nav-link" href="/kontakty">Контакты</a></li>
                    </ul>
                </div>
                <div class="navbar-collapse offset justify-content-center">
                    <ul class="nav">
                        <li class="tel-int">@T("header.phone")</li>
                    </ul>
                </div>
                <div class="offset justify-content-end">
                    <ul class="nav navbar-nav nav-icon">
                        @await Component.InvokeAsync("SearchBox")
                        <li class="nav-item">
                            <a class="nav-link user-panel-trigger"  data-offcanvas-trigger="user_panel" href="#user_panel">
                                <svg width="22" height="22" viewBox="0 0 25 25" fill="black" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.4094 13.4707C12.4353 13.4707 12.4612 13.4707 12.4922 13.4707C12.5026 13.4707 12.513 13.4707 12.5233 13.4707C12.5388 13.4707 12.5595 13.4707 12.5751 13.4707C14.092 13.4448 15.3189 12.9116 16.2249 11.8917C18.2181 9.64485 17.8867 5.79313 17.8505 5.42555C17.7211 2.66618 16.4165 1.34603 15.3396 0.729965C14.5372 0.269207 13.6001 0.0207082 12.5544 0H12.5181C12.513 0 12.5026 0 12.4974 0H12.4664C11.8917 0 10.7631 0.093187 9.6811 0.709257C8.59392 1.32533 7.2686 2.64548 7.13917 5.42555C7.10293 5.79313 6.7716 9.64485 8.76477 11.8917C9.66557 12.9116 10.8925 13.4448 12.4094 13.4707ZM8.52144 5.55498C8.52144 5.53945 8.52662 5.52392 8.52662 5.51356C8.69746 1.80162 11.3326 1.40298 12.4612 1.40298H12.4819C12.4922 1.40298 12.5078 1.40298 12.5233 1.40298C13.9211 1.43404 16.2974 2.00352 16.4579 5.51356C16.4579 5.5291 16.4579 5.54463 16.463 5.55498C16.4682 5.59122 16.8306 9.11162 15.1843 10.965C14.532 11.7001 13.6623 12.0625 12.5181 12.0729C12.5078 12.0729 12.5026 12.0729 12.4922 12.0729C12.4819 12.0729 12.4767 12.0729 12.4664 12.0729C11.3274 12.0625 10.4525 11.7001 9.80535 10.965C8.16423 9.12197 8.51627 5.58604 8.52144 5.55498Z"/>
                                    <path d="M23.1311 19.8592C23.1311 19.854 23.1311 19.8488 23.1311 19.8437C23.1311 19.8022 23.1259 19.7608 23.1259 19.7142C23.0948 18.6892 23.0275 16.2922 20.7807 15.526C20.7652 15.5208 20.7444 15.5156 20.7289 15.5105C18.3941 14.9151 16.4527 13.5691 16.432 13.5535C16.1162 13.3309 15.6813 13.4086 15.4587 13.7244C15.2361 14.0402 15.3137 14.475 15.6295 14.6977C15.7175 14.7598 17.778 16.1938 20.3562 16.8565C21.5624 17.2862 21.697 18.5753 21.7333 19.7556C21.7333 19.8022 21.7333 19.8437 21.7384 19.8851C21.7436 20.351 21.7126 21.0706 21.6297 21.4848C20.791 21.9611 17.5036 23.6074 12.5026 23.6074C7.52225 23.6074 4.21411 21.9559 3.37025 21.4796C3.28741 21.0654 3.25118 20.3458 3.26153 19.8799C3.26153 19.8385 3.26671 19.7971 3.26671 19.7505C3.30295 18.5701 3.43755 17.281 4.6438 16.8513C7.22198 16.1886 9.28244 14.7494 9.37045 14.6925C9.68626 14.4699 9.76391 14.035 9.5413 13.7192C9.31868 13.4034 8.88381 13.3257 8.56801 13.5483C8.5473 13.5639 6.61626 14.9099 4.27106 15.5053C4.25035 15.5105 4.23482 15.5156 4.21928 15.5208C1.97244 16.2922 1.90514 18.6892 1.87408 19.7091C1.87408 19.7556 1.87408 19.7971 1.8689 19.8385C1.8689 19.8437 1.8689 19.8488 1.8689 19.854C1.86372 20.1232 1.85855 21.5055 2.13293 22.1992C2.1847 22.3338 2.27789 22.4477 2.40214 22.5254C2.55745 22.6289 6.27975 25 12.5078 25C18.7357 25 22.458 22.6237 22.6134 22.5254C22.7324 22.4477 22.8308 22.3338 22.8826 22.1992C23.1414 21.5107 23.1362 20.1284 23.1311 19.8592Z"/>
                                </svg>
                            </a>
                        </li>
                        <a class="js-offcanvas-trigger mobile-menu-trigger d-lg-none d-none justify-content-center align-content-center mr-3" data-offcanvas-trigger="mobile_menu" href="#mobile_menu">
                            <span class="mdi mdi-menu"></span>
                        </a>
                        @await Component.InvokeAsync("ShoppingCartLinks")
                    </ul>
                </div>
            </div>
        </nav>
        @await Component.InvokeAsync("TopMenu")
    </div>
</header>

<partial name="_loginModal" />
<partial name="_regModal" />
<partial name="_passwordRecoveryModal" />

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background: transparent;">
    <form asp-route="ProductSearch" method="get" id="small-search-box-form" class="w-100">
     <div class="search">
             <div class="form-group button-arc d-flex">
                 <input type="text" class="form-control" id="small-searchterms" autocomplete="off" name="q" placeholder="@T("Search.SearchBox.Tooltip")">
                 <button type="submit">
                     <svg width="22" height="22" viewBox="0 0 25 25" fill="white" xmlns="http://www.w3.org/2000/svg">
                         <g clip-path="url(#clip0)">
                             <path d="M24.8474 24.1109L17.2407 16.5042C18.8207 14.7499 19.7917 12.437 19.7917 9.8958C19.7917 4.43931 15.3524 0 9.89585 0C4.43931 0 0 4.43931 0 9.89585C0 15.3524 4.43931 19.7917 9.89585 19.7917C12.437 19.7917 14.7499 18.8207 16.5042 17.2407L24.1109 24.8474C24.2126 24.9491 24.3459 25 24.4792 25C24.6125 25 24.7457 24.9491 24.8475 24.8474C25.0509 24.6439 25.0509 24.3144 24.8474 24.1109ZM9.89585 18.75C5.01406 18.75 1.0417 14.7781 1.0417 9.89585C1.0417 5.01357 5.01406 1.04165 9.89585 1.04165C14.7776 1.04165 18.75 5.01353 18.75 9.89585C18.75 14.7782 14.7776 18.75 9.89585 18.75Z"></path>
                         </g>
                         <defs>
                             <clipPath id="clip0">
                                 <rect width="25" height="25" fill="white"></rect>
                             </clipPath>
                         </defs>
                     </svg>
                 </button>
             </div>
             <div class="close-log" data-dismiss="modal" aria-label="Close">
                 <a href="#">
                     <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <g clip-path="url(#clip0)">
                             <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                         </g>
                         <defs>
                             <clipPath id="clip0">
                                 <rect width="18" height="18" fill="white"></rect>
                             </clipPath>
                         </defs>
                     </svg>
                 </a>
             </div>
             <div class="content-search d-none" id="search-result-popup">
                 <div class="row search-product-box">
                     <div class="col-md-6 col-12 cat-link d-flex flex-column">
                         <div class="cat-link d-flex flex-column" id="category-result-search-box">

                         </div>
                         <div class=" cat-link d-flex flex-column" id="manufacturer-result-search-box">

                         </div>
                         
                     </div>
                     <div class="col-md-6 col-12" >
                         <h3>Товары</h3>
                         <div class="product-ord" id="product-result-search-box">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         </form>
        </div>
  </div>
</div>
