﻿@model VendorNavigationModel


<div>
    <h3>@T("Vendors")</h3>
    <div class="main-category d-flex flex-column">
        @foreach (var vendor in Model.Vendors)
        {
            <a href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
        }
        @if (Model.TotalVendors > Model.Vendors.Count)
        {
            <a href="@Url.RouteUrl("VendorList")" class="d-flex w-100 justify-content-center cat-button">
                <button type="button" class="btn btn-outline-danger teen btn-category">
                    @T("Vendors.ViewAll")
                </button>
            </a>
        }
    </div>
</div>
