﻿@model IList<ProductOverviewModel>
@if (Model.Any())
{
    <section id="top" class="bg-stale">
    <div class="container box-content">
        <div id="carouselExampleIndicators" class="carousel deck-shop product-sl slide" data-ride="carousel">
            <div class="d-flex title-meet justify-content-center align-items-center w-100">
                <h2>@T("Products.SimilarProducts")</h2>
            </div>
            <div class="carousel-inner">
                @{
                    int i = 0;
                    int max = 0;
                    string active = "active";
                }
                @while (i < Model.Count)
                {
                    @if (4 < Model.Count - i)
                    {
                        max = 4 + i;
                    }
                    else
                    {
                        max = Model.Count;
                    }
                    @if (i != 0)
                    {
                        active = "";
                    }
                    <div class="carousel-item  @active">
                        <div class="row">
                            @for (int j = i; j < max ; j++)
                            {
                                var item = Model[j];
                                <div class="col-xl-3 col-sm-6 product-container mb-2">
                                    <partial name="_ProductBox" model="item"/>
                                </div>
                                i++;
                            }
                        </div>
                    </div>
                }
                <div class="d-flex w-100 justify-content-center">
                    <a href="/seks-tovary-dlya-zhenshhin" type="button" class="btn btn-outline-danger teen btn-inform">
                        Смотреть все
                        <svg width="20" height="9" viewBox="0 0 20 9" fill="#F55B5B" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 4H0V5H18L15 8L16 9L20 4.5L15.5 0L14.5 0.5L18 4Z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <a class="sl-prev d-flex" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 0L0 4.5L4 9L5 8L2 5H20V4H2L5 1L4 0Z"/>
                    </svg>
                </a>
                <a class="sl-next d-flex" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <svg width="20" height="9" viewBox="0 0 20 9" fill="#C4C4C4" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 0L20 4.5L16 9L15 8L18 5H0V4H18L15 1L16 0Z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
}
