﻿@model MiniShoppingCartModel
<aside class="js-offcanvas flycart-container d-flex " style="background: transparent;" data-offcanvas-options='{"modifiers":"right,overlay","modal":true,"resize":false}' id="right">
    <div class="basket">
            <div class="order-quantity d-flex justify-content-center align-items-center">
                
                @if (Model.TotalProducts == 0)
                {
                    <span>@T("ShoppingCart.Mini.NoItems")</span>
                }
                else
                {
                    <span>В вашей корзине <span class="quantity-card">@Model.TotalProducts товар (ов)</span></span>
                }
            </div>
            <div class="product-basket-box">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                var item = Model.Items[i];
                <div class="d-flex one-product">
                    <a href="@Url.RouteUrl("Product", new { SeName=item.ProductSeName })" title="@item.Picture.Title">
                        <img  src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                    </a>
                    <div class="d-flex flex-column justify-content-between">
                        <div>
                            <div class="d-flex justify-content-end">
                                <a onclick="deletecartitem('@Url.RouteUrl("DeleteCartItem", new { id=item.Id })');">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0)">
                                            <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="18" height="18" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg></a>
                            </div>
                        </div>
                        <div class="d-flex complect-lent flex-column justify-content-between">
                            <h4><a style="color:#000000" href="@Url.RouteUrl("Product", new { SeName=item.ProductSeName })">@item.ProductName</a></h4>
                            <div class="d-flex flex-column add-boot justify-content-between">
                                <span>@T("ShoppingCart.Mini.UnitPrice"): <b>@item.UnitPrice</b></span>
                                <span>@T("ShoppingCart.Mini.Quantity"): <b>@item.Quantity</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
    
            
                <div class="total-bask d-none justify-content-start align-items-center">
                    <div class="content-total align-items-center justify-content-center d-flex flex-column">
                        <span>@T("ShoppingCart.Totals.SubTotal"): <span class="quantity-card">@Model.SubTotal</span></span>
                        <button type="button" class="btn btn-stand" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')">
                            @T("ShoppingCart.Mini.ViewCart")
                        </button>
                    </div>
                </div>
                
            
        </div>  
</aside>

<script asp-location="Footer">
        $(document).ready(function () {
            $('.total-bask').removeClass('d-none');
            $('.total-bask').addClass('d-flex');
        });
       
</script>