﻿@model ProductReviewsModel


@if (Model.Items.Any())
{

<div class="container box-content Reviews-content">
    <div class="d-flex title-meet justify-content-center align-items-center w-100">
        <h2>Отзывы наших клиентов</h2>
    </div>
    <div class="center">
    @foreach (var review in Model.Items)
    {
        <div class="item-slide">
            <div>
                <div class="product-new review d-flex justify-content-start flex-column align-items-center">
                    <div class="overlay-reviews d-none"></div>
                    <div class="img-rev justify-content-center d-flex align-items-center">
                        <img style="width: 70% !important;" src="@review.ProductDetailsModel.DefaultPictureModel.FullSizeImageUrl" alt="">
                    </div>
                    <div class="card-info d-none">
                        <h4>@review.ProductDetailsModel.CategoryString</h4>
                        <h3>@review.ProductDetailsModel.Name</h3>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-between star-rating">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"/>
                                </svg>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"/>
                                </svg>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"/>
                                </svg>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"/>
                                </svg>
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.7161 10.2313L2.87143 15.4173C2.8041 15.8292 3.24343 16.1384 3.60677 15.9361L8.0001 13.5043L12.3934 15.9367C12.7534 16.137 13.1968 15.8339 13.1288 15.4179L12.2841 10.232L15.8574 6.56371C16.1408 6.27327 15.9781 5.78052 15.5754 5.71909L10.6568 4.9666L8.4521 0.263403C8.28743 -0.0878011 7.7121 -0.0878011 7.54743 0.263403L5.34343 4.96593L0.424766 5.71842C0.0207661 5.78052 -0.140567 6.2726 0.142766 6.56305L3.7161 10.2313Z" fill="#FF5B5B"/>
                                </svg>
                            </div>
                        </div>
                        <p>
                            @Html.Raw(Grand.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                        </p>
                        <span class="author">
                            @if (review.AllowViewingProfiles)
                            {
                                <a href="@Url.RouteUrl("CustomerProfile", new {id = review.CustomerId})">@(review.CustomerName)</a>
                            }
                            else
                            {
                                @review.CustomerName
                            }
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
        
    </div>
</div>
}


<script asp-location="Footer">
   
</script>