﻿@model OrderTotalsModel


<div class="col-12 w-100">
    <div class="intermediate d-flex justify-content-end">
        <div class="col-12 col-md-7 box-com">
            <div class="d-flex justify-content-between">
                <span>@T("ShoppingCart.Totals.SubTotal"):</span>
                <span><b>@Model.SubTotal</b></span>
            </div>
            @if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
            {
                <div class="d-flex justify-content-between">
                    <span>@T("ShoppingCart.Totals.SubTotalDiscount"):</span>
                    <span><b>@Model.SubTotalDiscount</b></span>
                </div>
            }
            
            
            <div class="d-flex justify-content-between">
                <span>@T("ShoppingCart.Totals.Shipping"):
                    @if (Model.RequiresShipping && !String.IsNullOrEmpty(Model.SelectedShippingMethod))
                    {
                        @T("ShoppingCart.Totals.Shipping.Method", Model.SelectedShippingMethod)
                    }
                </span>
                <span>
                    @if (Model.RequiresShipping)
                                        {
                                            if (!String.IsNullOrEmpty(Model.Shipping))
                                            {
                                                <b>@Model.Shipping</b>
                                            }
                                            else
                                            {
                                                <b>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</b>
                                            }
                                        }
                                        else
                                        {
                                            <b>@T("ShoppingCart.Totals.Shipping.NotRequired")</b>
                                        }
                     
                    
                    </span>
            </div>
            
            @if (!String.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                        {
                            <div class="d-flex justify-content-between">
                                <span>@T("ShoppingCart.Totals.PaymentMethodAdditionalFee"):</span>
                                <span><b>@Model.PaymentMethodAdditionalFee</b></span>
                            </div>
                        }
            
            @if (Model.DisplayTaxRates && Model.TaxRates.Any())
                        {
                            foreach (var taxRate in Model.TaxRates)
                            {
                                <div class="d-flex justify-content-between">
                                    <span>@string.Format(T("ShoppingCart.Totals.TaxRateLine").Text, taxRate.Rate):</span>
                                    <span><b>@taxRate.Value</b></span>
                                </div>
                            }
                        }
                        @if (Model.DisplayTax)
                        {
                            <div class="d-flex justify-content-between">
                                <span>@T("ShoppingCart.Totals.Tax"):</span>
                                <span><b>@Model.Tax</b></span>
                            </div>
                        }
                        
                        @if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
                                    {
                                        <div class="d-flex justify-content-between">
                                            <span>@T("ShoppingCart.Totals.OrderTotalDiscount"):</span>
                                            <span><b>@Model.OrderTotalDiscount</b></span>
                                        </div>
                                    }
            
            @if (Model.GiftCards.Any())
                        {
                            foreach (var gc in Model.GiftCards)
                            {
                                <div class="d-flex justify-content-between">
                                    <span>@T("ShoppingCart.Totals.GiftCardInfo"): @T("ShoppingCart.Totals.GiftCardInfo.Code", gc.CouponCode) @string.Format(T("ShoppingCart.Totals.GiftCardInfo.Remaining").Text, gc.Remaining)</span>
                                    <span><b>@gc.Amount</b>
                                        @if (Model.IsEditable)
                                                                                {
                                                                                    //little hack here with empty "value" element
                                                                                    <button type="button" name="removegiftcard"
                                                                                            data-href="@Url.RouteUrl("RemoveGiftCardCode", new { giftCardId = gc.Id})"
                                                                                            title="@T("Common.Remove")" class="btn btn-sm btn-secondary remove-gift-card-button">
                                                                                        <span class="mdi mdi-close" aria-hidden="true"></span>
                                                                                    </button>
                                                                                }
                                        </span>
                                </div>
                            }
                        }
                        
                        
                        @if (Model.RedeemedRewardPoints > 0)
                                    {
                                        <div class="d-flex justify-content-between">
                                            <span>@string.Format(T("ShoppingCart.Totals.RewardPoints").Text, Model.RedeemedRewardPoints):</span>
                                            <span><b>@Model.RedeemedRewardPointsAmount</b></span>
                                        </div>
                                        
                                    }
            
            
        </div>
    </div>
    <div class="common d-flex justify-content-end">
        <div class="col-12 col-md-7 box-com">
            <div class="d-flex justify-content-between">
                <span>@T("ShoppingCart.Totals.OrderTotal"):</span>
                <span>
                    
                    @if (!String.IsNullOrEmpty(Model.OrderTotal))
                                        {
                                            <b>@Model.OrderTotal</b> 
                                            
                                        }
                                        else
                                        {
                                            <b>@T("ShoppingCart.Totals.CalculatedDuringCheckout")</b> 
                                        }
                    
                    </span>
            </div>
            
            @if (Model.WillEarnRewardPoints > 0)
                        {
                            <div class="d-flex justify-content-between">
                                <span>@T("ShoppingCart.Totals.RewardPoints.WillEarn"):</span>
                                <span><b>@string.Format(T("ShoppingCart.Totals.RewardPoints.WillEarn.Point").Text, Model.WillEarnRewardPoints)</b></span>
                            </div>
                           
                        }
        </div>
    </div>
</div>


@if (Model.GiftCards.Any() && Model.IsEditable)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $(".remove-gift-card-button").click(function () {
                var href = $(this).closest('[data-href]').data('href');
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: addAntiForgeryToken(),
                    url: href,
                    success: function (data) {
                        $('#ordersummarypagecart').replaceWith(data.cart);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Shopping Cart Page.');
                    }
                });
            });
        });
    </script>
}