﻿@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";
    decimal sum = 0;
    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}


<div class="container bread">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item breadcrumb-link"><a href="/">Главная</a></li>
            <li class="breadcrumb-item breadcrumb-link"><a href="#">Корзина</a></li>
        </ol>
    </nav>
    <div class="col-12 d-flex title-page justify-content-center">
        <h1>@T("ShoppingCart")</h1>
    </div>
</div>
<form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
 <div class="container">
     <div class="row">
     
     <div class="col-12 product-box-card cart">
         <div class="d-flex flex-column">
             @foreach (var item in Model.Items)
             {
                 sum += item.UnitPriceValue;
                 <div class="d-flex one-product">
                     @if (Model.ShowProductImages)
                     {
                         <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img src="@item.Picture.ImageUrl"  ></a>
                     }
                     <div class="complect d-flex justify-content-between align-items-center">
                         <h3>@item.ProductName</h3>
                         <div class="form-inline">
                             <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value', function (i, oldval) {if(oldval>1){--oldval; $('#qti@(item.Id)').text(oldval);return oldval; } else { return oldval}}).trigger('change')">-</button>
                                                                         <span class="col-order" id="qti@(item.Id)">@(item.Quantity)</span>
                                                                         <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" onchange="ChangeShoppingCart()" class="qty-input d-none"/>
                                                                         <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value',function (i, oldval) {++oldval; $('#qti@(item.Id)').text(oldval);return oldval;}).trigger('change')">+</button>
                         </div>
                         <span><b>@item.UnitPriceValue</b> руб.</span>
                         <div class="d-flex justify-content-end">
                             <button type="button" class="deleteshoppingcartitem btn-non-style" data-href="@Url.RouteUrl("DeleteCartItem", new { id = item.Id, shoppingcartpage = true })" style="cursor:pointer;">
                                 <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                      xmlns="http://www.w3.org/2000/svg">
                                     <g clip-path="url(#clip0)">
                                         <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z"
                                               fill="#F55B5B"></path>
                                     </g>
                                     <defs>
                                         <clipPath id="clip0">
                                             <rect width="18" height="18" fill="white"></rect>
                                         </clipPath>
                                     </defs>
                                 </svg>
                             </button>
                            
                             
                         </div>
                     </div>
                 </div>
             }
         </div>
     </div>
     <div class="col-12 d-flex justify-content-between align-items-center cart-function">
                         <div class="back-desk d-flex justify-content-center">
                             <a href="/seks-tovary-dlya-zhenshhin">
                                 <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <g clip-path="url(#clip0)">
                                         <path d="M13.75 10.0104V5.625C13.75 4.59105 12.909 3.75 11.875 3.75C11.4099 3.75 10.9607 3.92824 10.6128 4.25174L9.8059 4.99822C7.1509 7.45482 2.70633 11.5662 0.432129 13.8471C0.153809 14.1278 0 14.5368 0 15C0 15.4632 0.153809 15.8722 0.432129 16.1536C2.70633 18.4339 7.1509 22.5452 9.8059 25.0018L10.6128 25.7483C10.9607 26.0718 11.4099 26.2501 11.875 26.2501C12.909 26.2501 13.75 25.409 13.75 24.3751V20.0043C22.7503 20.1306 28.75 22.9694 28.75 25.625C28.75 25.9705 29.0296 26.2501 29.375 26.2501C29.7205 26.2501 30.0001 25.9705 30.0001 25.625C30 17.2028 22.7674 10.3155 13.75 10.0104ZM13.125 18.75C12.7795 18.75 12.5 19.0296 12.5 19.375V24.375C12.5 24.7198 12.2192 25 11.875 25C11.6845 25 11.5454 24.9084 11.4623 24.8316L10.6554 24.0845C8.0066 21.6339 3.57422 17.5336 1.31836 15.2716C1.2842 15.2374 1.24998 15.1397 1.24998 15C1.24998 14.8603 1.28414 14.7626 1.31836 14.729C3.57422 12.4664 8.0066 8.36607 10.6555 5.91551L11.4624 5.16844C11.5454 5.0915 11.6846 4.99998 11.875 4.99998C12.2193 4.99998 12.5 5.28012 12.5 5.625V10.625C12.5 10.9704 12.7796 11.25 13.1251 11.25C20.6397 11.25 26.9324 16.156 28.418 22.669C25.7507 20.3326 19.9756 18.75 13.125 18.75Z" fill="#F55B5B"></path>
                                     </g>
                                     <defs>
                                         <clipPath id="clip0">
                                             <rect width="30" height="30" fill="white"></rect>
                                         </clipPath>
                                     </defs>
                                 </svg>
                                 <span>Вернуться к покупкам</span></a>
                         </div>
                         <div>
                             <a href="/onepagecheckout" type="button" class="btn btn-stand" >
                                 Оформить заказ
                             </a>
                             <a type="button" class="btn btn-outline-danger teen" data-toggle="modal" data-target=".bd-example-modal-lg-one-click">
                                 Купить в 1 клик
                             </a>
                         </div>
                         <div class="d-flex inform-cart">
                             <span>Итого к оплате <b>@sum</b> руб.</span>
                             <span class="d-flex justify-content-end del-cart align-items-center">
                                 <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <path d="M27.8999 16.8128L27.123 13.7053C27.3354 13.6601 27.4948 13.4717 27.4948 13.2459V12.7449C27.4948 11.6571 26.6097 10.7721 25.5219 10.7721H21.9833V9.73863C21.9833 9.20332 21.5479 8.76785 21.0125 8.76785H14.4328L18.4312 7.16848C18.6721 7.07215 18.7893 6.79875 18.6929 6.55787C18.5966 6.31705 18.3234 6.19981 18.0823 6.29619L14.8085 7.60571C15.8061 6.96563 16.7931 6.26115 17.1688 5.7685C17.9004 4.80938 17.7151 3.43395 16.756 2.7024C15.7969 1.9708 14.4214 2.15613 13.6899 3.11526C13.1554 3.81615 12.4502 5.78555 11.9937 7.17334C11.5373 5.78567 10.8321 3.81615 10.2976 3.11526C9.56607 2.15613 8.19059 1.97092 7.23146 2.7024C6.27234 3.43389 6.08713 4.80932 6.81861 5.7685C7.19438 6.26121 8.18133 6.96563 9.179 7.60571L5.90514 6.29619C5.66414 6.19969 5.39086 6.31699 5.29453 6.55787C5.19814 6.79875 5.31533 7.07215 5.55621 7.16848L9.55465 8.76785H2.97492C2.43961 8.76785 2.00414 9.20332 2.00414 9.73863V18.2564C2.00414 18.5158 2.21443 18.7262 2.47389 18.7262C2.73328 18.7262 2.94363 18.5159 2.94363 18.2564V9.73863C2.94363 9.72135 2.95764 9.70735 2.97492 9.70735H21.0125C21.0298 9.70735 21.0438 9.72135 21.0438 9.73863V18.2565C21.0438 18.5159 21.2541 18.7263 21.5135 18.7263C21.7729 18.7263 21.9833 18.516 21.9833 18.2565V17.724H27.5242C27.5248 17.724 27.5252 17.7241 27.5257 17.7241C27.5262 17.7241 27.5267 17.7241 27.5272 17.7241C28.209 17.7246 28.7879 18.1721 28.9867 18.7888H27.5261C27.2667 18.7888 27.0563 18.9991 27.0563 19.2585V20.2606C27.0563 21.0722 27.7165 21.7324 28.5281 21.7324H29.0605V23.7992H27.8323C27.4288 22.6342 26.3213 21.795 25.0208 21.795C23.7203 21.795 22.6128 22.6342 22.2094 23.7992H21.9832V20.2605C21.9832 20.0012 21.7729 19.7908 21.5135 19.7908C21.2541 19.7908 21.0437 20.0011 21.0437 20.2605V23.7991H11.2979C10.8944 22.6342 9.78691 21.7949 8.48643 21.7949C7.18594 21.7949 6.0784 22.6341 5.67498 23.7991H2.97492C2.95764 23.7991 2.94363 23.7851 2.94363 23.7679V22.7344H4.97912C5.23852 22.7344 5.44887 22.5241 5.44887 22.2647C5.44887 22.0052 5.23857 21.7949 4.97912 21.7949H0.469746C0.210352 21.7949 0 22.0052 0 22.2647C0 22.5241 0.210293 22.7344 0.469746 22.7344H2.0042V23.7679C2.0042 24.3032 2.43967 24.7386 2.97498 24.7386H5.51232C5.51221 24.7491 5.5115 24.7594 5.5115 24.7699C5.5115 26.4103 6.84609 27.7448 8.48643 27.7448C10.1268 27.7448 11.4613 26.4103 11.4613 24.7699C11.4613 24.7594 11.4606 24.7491 11.4605 24.7386H22.0467C22.0465 24.7491 22.0458 24.7594 22.0458 24.7699C22.0458 26.4103 23.3804 27.7448 25.0208 27.7448C26.6611 27.7448 27.9957 26.4103 27.9957 24.7699C27.9957 24.7594 27.995 24.7491 27.9949 24.7386H29.5302C29.7896 24.7386 29.9999 24.5283 29.9999 24.2689V19.2585C30 18.0213 29.0873 16.9935 27.8999 16.8128ZM10.1309 7.0933C8.27795 5.94188 7.72834 5.41213 7.56562 5.19873C7.14826 4.65153 7.25397 3.86678 7.80123 3.44942C8.02682 3.27738 8.29271 3.19424 8.55668 3.19424C8.93297 3.19424 9.30527 3.36334 9.55061 3.68502C10.005 4.2808 10.7166 6.28606 11.1864 7.73104C10.8694 7.54436 10.5049 7.32586 10.1309 7.0933ZM12.8012 7.73098C13.271 6.28606 13.9826 4.28086 14.4369 3.68496C14.8543 3.13776 15.639 3.03211 16.1862 3.44942C16.7335 3.86678 16.8391 4.65153 16.4218 5.19873C16.2591 5.41207 15.7095 5.94188 13.8567 7.09324C13.4827 7.32574 13.1183 7.5443 12.8012 7.73098ZM21.9833 11.7114H25.5219C26.0917 11.7114 26.5553 12.175 26.5553 12.7448V12.7761H21.9833V11.7114ZM21.9833 16.7845V13.7156H26.1572L26.9245 16.7845H21.9833ZM8.48643 26.8054C7.36406 26.8054 6.45094 25.8923 6.45094 24.7699C6.45094 23.6476 7.36406 22.7344 8.48643 22.7344C9.60879 22.7344 10.5219 23.6476 10.5219 24.7699C10.5219 25.8923 9.60879 26.8054 8.48643 26.8054ZM25.0209 26.8054C23.8985 26.8054 22.9854 25.8923 22.9854 24.7699C22.9854 23.6476 23.8985 22.7344 25.0209 22.7344C26.1432 22.7344 27.0564 23.6476 27.0564 24.7699C27.0564 25.8923 26.1432 26.8054 25.0209 26.8054ZM29.0606 20.7929H28.5282C28.2346 20.7929 27.9958 20.554 27.9958 20.2605V19.7281H29.0605V20.7929H29.0606Z" fill="#F55B5B"/>
                                     <path d="M8.48647 23.7991C7.95116 23.7991 7.51569 24.2346 7.51569 24.7699C7.51569 25.3052 7.95116 25.7407 8.48647 25.7407C9.02178 25.7407 9.45725 25.3052 9.45725 24.7699C9.45725 24.2346 9.02178 23.7991 8.48647 23.7991Z" fill="#F55B5B"/>
                                     <path d="M25.0209 23.7991C24.4856 23.7991 24.0501 24.2346 24.0501 24.7699C24.0501 25.3052 24.4856 25.7407 25.0209 25.7407C25.5562 25.7407 25.9917 25.3052 25.9917 24.7699C25.9917 24.2346 25.5562 23.7991 25.0209 23.7991Z" fill="#F55B5B"/>
                                     <path d="M19.5094 21.7949H12.4948C12.2354 21.7949 12.025 22.0052 12.025 22.2647C12.025 22.5241 12.2353 22.7344 12.4948 22.7344H19.5094C19.7688 22.7344 19.9791 22.5241 19.9791 22.2647C19.9791 22.0052 19.7688 21.7949 19.5094 21.7949Z" fill="#F55B5B"/>
                                     <path d="M7.48435 19.7908H1.47182C1.21243 19.7908 1.00208 20.0011 1.00208 20.2605C1.00208 20.52 1.21237 20.7303 1.47182 20.7303H7.48435C7.74375 20.7303 7.9541 20.52 7.9541 20.2605C7.9541 20.0011 7.74375 19.7908 7.48435 19.7908Z" fill="#F55B5B"/>
                                     <path d="M7.48438 12.7761H5.48018C5.22079 12.7761 5.01044 12.9864 5.01044 13.2459V17.2542C5.01044 17.5136 5.22073 17.724 5.48018 17.724C5.73964 17.724 5.94993 17.5137 5.94993 17.2542V15.7198H6.98335C7.24274 15.7198 7.45309 15.5095 7.45309 15.25C7.45309 14.9906 7.2428 14.7803 6.98335 14.7803H5.94993V13.7156H7.48438C7.74378 13.7156 7.95413 13.5053 7.95413 13.2459C7.95407 12.9865 7.74378 12.7761 7.48438 12.7761Z" fill="#F55B5B"/>
                                     <path d="M11.181 15.94C11.6511 15.6321 11.9624 15.1011 11.9624 14.4985C11.9624 13.5487 11.1898 12.7761 10.2401 12.7761H8.98745C8.72805 12.7761 8.5177 12.9864 8.5177 13.2459V17.2542C8.5177 17.5136 8.72799 17.724 8.98745 17.724C9.2469 17.724 9.45719 17.5137 9.45719 17.2542V16.2208H10.2392L11.1018 17.5147C11.1923 17.6505 11.3412 17.724 11.493 17.724C11.5826 17.724 11.6731 17.6984 11.7531 17.645C11.969 17.5011 12.0273 17.2095 11.8834 16.9937L11.181 15.94ZM10.2401 15.2814H9.45719V13.7156H10.2401C10.6718 13.7156 11.0229 14.0668 11.0229 14.4985C11.0229 14.9302 10.6718 15.2814 10.2401 15.2814Z" fill="#F55B5B"/>
                                     <path d="M15 16.7845H13.4655V15.7182C13.4759 15.7189 13.4863 15.7198 13.4968 15.7198H14.4989C14.7583 15.7198 14.9686 15.5095 14.9686 15.2501C14.9686 14.9906 14.7584 14.7803 14.4989 14.7803H13.4968C13.4862 14.7803 13.4759 14.7812 13.4655 14.7819V13.7156H15C15.2594 13.7156 15.4697 13.5053 15.4697 13.2459C15.4697 12.9865 15.2594 12.7761 15 12.7761H12.9958C12.7364 12.7761 12.5261 12.9864 12.5261 13.2459V17.2542C12.5261 17.5136 12.7364 17.724 12.9958 17.724H15C15.2594 17.724 15.4697 17.5137 15.4697 17.2542C15.4697 16.9948 15.2594 16.7845 15 16.7845Z" fill="#F55B5B"/>
                                     <path d="M18.5073 16.7845H16.9729V15.7198H17.5053C17.7647 15.7198 17.975 15.5095 17.975 15.2501C17.975 14.9906 17.7647 14.7803 17.5053 14.7803H16.9729V13.7156H18.5073C18.7667 13.7156 18.9771 13.5053 18.9771 13.2459C18.9771 12.9865 18.7668 12.7761 18.5073 12.7761H16.5031C16.2437 12.7761 16.0334 12.9864 16.0334 13.2459V17.2542C16.0334 17.5136 16.2437 17.724 16.5031 17.724H18.5073C18.7667 17.724 18.9771 17.5137 18.9771 17.2542C18.9771 16.9948 18.7667 16.7845 18.5073 16.7845Z" fill="#F55B5B"/>
                                 </svg>
                                 <span>Бесплатная доставка</span>
                             </span>
                         </div>
                     </div>
     </div>
 </div>
     </form>
      @await Component.InvokeAsync("HomePageProducts")
     
     <div class="modal fade bd-example-modal-lg-one-click" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
       <div class="modal-dialog ">
         <div class="modal-content">
           <div class="authorization poap">
                   <div class="d-flex align-items-center flex-column">
                       <h3>Быстрый заказ</h3>
                       <div class="form-group card-inform">
                           <label for="Name">Имя<span class="info-label">*</span></label>
                           <input type="email" class="form-control" id="Name" aria-describedby="emailHelp">
                       </div>
                       <div class="form-group card-inform">
                           <label for="Name">Номер телефона<span class="info-label">*</span></label>
                           <input type="email" class="form-control" id="pass" aria-describedby="emailHelp">
                       </div>
                       <div class="d-flex looged-btn card-inform justify-content-center">
                           <button type="button" class="btn btn-stand" data-dismiss="modal" aria-label="Close">
                               Отправить
                           </button>
                       </div>
                       <div class="close-log">
                           <a href="#" data-dismiss="modal" aria-label="Close">
                               <svg width="15" height="15" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <g clip-path="url(#clip0)">
                                       <path d="M10.3398 9.00096L17.7225 1.61823C18.0925 1.24825 18.0925 0.648413 17.7225 0.278464C17.3526 -0.0915194 16.7527 -0.0915194 16.3827 0.278464L8.99998 7.6612L1.61725 0.278464C1.24727 -0.0915194 0.647436 -0.0915194 0.277488 0.278464C-0.0924607 0.648448 -0.0924959 1.24828 0.277488 1.61823L7.66022 9.00096L0.277488 16.3837C-0.0924959 16.7537 -0.0924959 17.3535 0.277488 17.7235C0.647471 18.0934 1.24731 18.0934 1.61725 17.7235L8.99998 10.3407L16.3827 17.7235C16.7527 18.0934 17.3525 18.0934 17.7225 17.7235C18.0924 17.3535 18.0924 16.7536 17.7225 16.3837L10.3398 9.00096Z" fill="#F55B5B"></path>
                                   </g>
                                   <defs>
                                       <clipPath id="clip0">
                                           <rect width="18" height="18" fill="white"></rect>
                                       </clipPath>
                                   </defs>
                               </svg>
                           </a>
                       </div>
                   </div>
           </div>
         </div>
       </div>
     </div>
     
     
     <script asp-location="Footer">
     
             function ChangeShoppingCart() {
                     $.ajax({
                         cache: false,
                         type: "POST",
                         data: $('#shopping-cart-form').serialize(),
                         url: '@Url.RouteUrl("UpdateCart")',
                         success: function (data) {
                             $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                             $(AjaxCart.topcartselector).html(data.totalproducts);
                             $('#ordersummarypagecart').replaceWith(data.cart);
                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                             alert('Failed to retrieve Shopping Cart Page.');
                         }
                     });
                 }
     
             $(document).ready(function () {
                 $(".deleteshoppingcartitem").click(function () {
                     var href = $(this).closest('[data-href]').data('href');
                     $.ajax({
                         cache: false,
                         type: "POST",
                         url: href,
                         success: function (data) {
                             $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                             $(AjaxCart.topcartselector).html(data.totalproducts);
                             $('#ordersummarypagecart').replaceWith(data.cart);
                             location.reload();
                         },
                         error: function (xhr, ajaxOptions, thrownError) {
                             alert('Failed to retrieve Shopping Cart Page.');
                         }
                     });
                 });
             });
         </script>

