@model ShoppingCartModel
@inject IWebHelper webHelper
@inject IWorkContext workContext

<form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
    
@foreach (var item in Model.Items)
{
    <div class="col-12 product-box-card d-flex align-items-center">
        @if (Model.ShowProductImages)
        {
            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" ></a>
        }
        <div class="d-flex flex-column">
            <div class="d-flex product-in-card align-items-center">
                <div>
                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })"><h3>@item.ProductName</h3></a>
                    <div class="d-flex flom-boot align-items-center justify-content-between">
                        <span><b>@item.UnitPriceValue</b> руб.</span>
                        @if (Model.IsEditable)
                        {
                            <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value', function (i, oldval) {if(oldval>1){ return --oldval; } else { return oldval}}).trigger('change')">-</button>
                            <span class="col-order" >@(item.Quantity)</span>
                            <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" onchange="ChangeShoppingCart()" class="qty-input d-none" />
                            <button type="button" class="btn btn-number btn-outline-secondary" onclick="$(this).parent().find('.qty-input').attr('value',function (i, oldval) {return ++oldval;}).trigger('change')">+</button>
                        }
                        else
                        {
                            <span class="col-order" >@(item.Quantity)</span>
                            <input id="itemquantity@(item.Id)" name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input-ro d-none" readonly />
                        }
                        @if (!String.IsNullOrEmpty(item.Discount))
                        {
                            <span><b>@item.SubTotal</b> руб.</span>
                            <div class="discount text-success text-center">
                                <span>@T("ShoppingCart.ItemYouSave"): </span>
                                <span>@item.Discount</span>
                                @if (item.DiscountedQty > 0)
                                {
                                    <span class="font-weight-light font-italic">@T("ShoppingCart.DiscountedQty"): </span>
                                    <span class="font-weight-light font-italic">@item.DiscountedQty</span>
                                }
                            </div>
                        }
                        else
                        {
                            <span><b>@item.SubTotal</b> </span>
                        }
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.IsEditable)
{
    <div class="common-buttons btn-group btn-group-sm mb-3">
        <button type="button" onclick="setLocation('@(Url.RouteUrl("ClearCart"))')" class="btn btn-danger d-flex justify-content-center removeAll-cart-button"><span class="mdi mdi-delete-forever-outline pr-1"></span><span class="d-sm-block">@T("shoppingcart.clearcart")</span></button>
        <button type="button" onclick="setLocation('@(Url.RouteUrl("ContinueShopping"))')" class="btn btn-outline-secondary d-sm-flex d-none justify-content-center continue-shopping-button ml-sm-1"><span class="mdi mdi-forward pr-1"></span><span class="d-sm-block">@T("ShoppingCart.ContinueShopping")</span></button>
    </div>
}

<div class="cart-options">
    <div class="row">
        @if (Model.IsEditable)
        {
            <div class="col-12 col-md-6 checkoutAttributes">
                <partial name="_CheckoutAttributes" model="Model.CheckoutAttributes" />
            </div>
        }
        <div class="selected-checkout-attributes col-sm-3 col-md-6 col-12 ml-auto justify-content-end text-right mt-3">
            @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
            {
                @Html.Raw(Model.CheckoutAttributeInfo)
            }
        </div>
    </div>
</div>

@if (Model.IsEditable)
                        {
                            if (!String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                            {
                                <div class="card text-white card-danger text-center min-amount-warning">
                                    <div class="card-body p-3">
                                        <blockquote class="card-bodyquote mb-0">
                                            <span>@Model.MinOrderSubtotalWarning</span>
                                        </blockquote>
                                    </div>
                                </div>
                            }
                        }

@if (Model.IsEditable)
            {
                <div class="common-buttons btn-group btn-group-sm mb-3">
                    <button type="button" onclick="setLocation('@(Url.RouteUrl("ClearCart"))')" class="btn btn-danger d-flex justify-content-center removeAll-cart-button"><span class="mdi mdi-delete-forever-outline pr-1"></span><span class="d-sm-block">@T("shoppingcart.clearcart")</span></button>
                    <button type="button" onclick="setLocation('@(Url.RouteUrl("ContinueShopping"))')" class="btn btn-outline-secondary d-sm-flex d-none justify-content-center continue-shopping-button ml-sm-1"><span class="mdi mdi-forward pr-1"></span><span class="d-sm-block">@T("ShoppingCart.ContinueShopping")</span></button>
                </div>
            }

@await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })

@if (Model.IsEditable)
                    {
                        <div class="col-sm-6 col-12 cart-collaterals">
                            @if (Model.GiftCardBox.Display || Model.DiscountBox.Display)
                            {
                                <div class="deals">
                                    <partial name="_GiftCardBox" model="Model.GiftCardBox" />
                                    <partial name="_DiscountBox" model="Model.DiscountBox" />
                                    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_deals" })
                                </div>
                            }
                            @await Component.InvokeAsync("EstimateShipping")
                        </div>
                    }
                    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_before" })
                    @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_cart_footer" })
                    
                    
                    @if (Model.IsEditable)
                                            {
                                                if (Model.TermsOfServiceOnShoppingCartPage)
                                                {
                                                    <div class="col-sm-12 terms-of-service">
                                                        <label class="custom-control custom-checkbox">
                                                            <input class="custom-control-input" id="termsofservice" type="checkbox" name="termsofservice" />
                                                            <span class="sr-only">checkbox</span>
                                                            <span class="custom-control-label"></span>
                                                            @if (Model.TermsOfServicePopup)
                                                            {
                                                                <span>@T("Checkout.TermsOfService.IAccept")<a class="custom-control-description read pl-1 font-weight-bold" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofuse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</a></span>
                                                            }
                                                            else
                                                            {
                                                                <span>@T("Checkout.TermsOfService.IAccept")<a class="custom-control-description read pl-1 font-weight-bold" href="@Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeName("conditionsofuse", Context) })">@T("Checkout.TermsOfService.Read")</a></span>
                                                            }
                                                        </label>
                                                    </div>
                                                    <div class="modal fade" id="ModalConditionsOfUse" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ModalLabel">@T("Checkout.TermsOfService")</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span class="mdi mdi-close"></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    @T("Checkout.TermsOfService.PleaseAccept")
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="checkout-buttons text-center float-sm-right mt-3">
                                                    @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning))
                                                    {
                                                        <script asp-location="Footer">
                                                                $(document).ready(function () {
                                                                    function checkTermOfService() {
                                                                        var termOfServiceOk = true;
                                                                        if ($('#termsofservice').length > 0) {
                                                                            //terms of service element exists
                                                                            if (!$('#termsofservice').is(':checked')) {
                                                                                $("#ModalConditionsOfUse").modal('show');
                                                                                $("body").removeAttr("style");
                                                                                $(".navUp").removeAttr("style");
                                                                                termOfServiceOk = false;
                                                                            } else {
                                                                                termOfServiceOk = true;
                                                                            }
                                                                        }
                                                                        return termOfServiceOk;
                                                                    }
                                                                    $('#checkoutasguest').click(function () {
                                                                        //terms of service
                                                                        if (checkTermOfService()) {
                                                                            location.href='@Url.RouteUrl("Checkout")'
                                                                        }
                                                                    });
                                                                    $('#checkout').click(function (e) {
                                                                        //terms of service
                                                                        if (checkTermOfService()) {
                                                                            $('#shopping-cart-form').attr('action', '@Url.RouteUrl("StartCheckout")');
                                                                            $("#shopping-cart-form").submit();
                                                                            e.preventDefault();
                                                                        }
                                                                    });
                                                                });
                    
                    
                                                        </script>
                                                        @if (Model.ShowCheckoutAsGuestButton)
                                                        {
                                                            <button type="button" id="checkoutasguest" class="btn btn-secondary checkout-as-guest-button mr-1">
                                                                @T("Account.Login.CheckoutAsGuest")
                                                            </button>
                                                        }
                                                        <button type="button" id="checkout" name="checkout" value="checkout" class="float-sm-right btn btn-info checkout-button">
                                                            @if (Model.IsGuest)
                                                            {
                                                                @T("Checkout.Button.Login")
                                                            }
                                                            else
                                                            {
                                                                @T("Checkout.Button")
                                                            }
                                                        </button>
                                                    }
                                                </div>
                                                <div class="addon-buttons">
                                                    @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                                                    @foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                                                    {
                                                        @await Component.InvokeAsync(pm)
                                                    }
                                                </div>
                                            }
                                            @await Component.InvokeAsync("Widget", new { widgetZone = "order_summary_content_after" })
                    

</form>




    
    
    <script asp-location="Footer">

        function ChangeShoppingCart() {
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: $('#shopping-cart-form').serialize(),
                    url: '@Url.RouteUrl("UpdateCart")',
                    success: function (data) {
                        $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                        $(AjaxCart.topcartselector).html(data.totalproducts);
                        $('#ordersummarypagecart').replaceWith(data.cart);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Shopping Cart Page.');
                    }
                });
            }

        $(document).ready(function () {
            $(".deleteshoppingcartitem").click(function () {
                var href = $(this).closest('[data-href]').data('href');
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: href,
                    success: function (data) {
                        $(AjaxCart.flyoutcartselector).replaceWith(data.flyoutshoppingcart);
                        $(AjaxCart.topcartselector).html(data.totalproducts);
                        $('#ordersummarypagecart').replaceWith(data.cart);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Shopping Cart Page.');
                    }
                });
            });
        });
    </script>

